//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------

.btn {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: $btn-font-weight;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  // border: 1px solid transparent;
  border: none;
  white-space: nowrap;
  font-family: 'Lato', $font-family-sans-serif;
  @include button-size($padding-base-vertical + 1px, $padding-base-horizontal * 1.6, $font-size-base, $line-height-base, $border-radius-base - 1px);
  @include user-select(none);

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      @include tab-focus;
    }
  }

  &:hover,
  &:focus,
  &.focus {
    color: $btn-default-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: $cursor-disabled;
    pointer-events: none; // Future-proof disabling of clicks
    @include opacity(.65);
    @include box-shadow(none);
  }
}


// Alternate buttons
// --------------------------------------------------

.btn-default {
  @include button-variant($body-bg, lighten($gray-light, 19%), $btn-default-border);
}
.btn-primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}
// Success appears as green
.btn-success {
  @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}
// Info appears as blue-green
.btn-info {
  @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
}
// Warning appears as orange
.btn-warning {
  @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
}
// Danger and error appear as red
.btn-danger {
  @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
}


// Link buttons
// -------------------------

// Make a button look and behave like a link
.btn-link {
  color: $link-color;
  font-weight: normal;
  border-radius: 0;
  text-decoration: none !important;

  span {
    border-bottom: 1px solid lighten($link-color, 20%);
  }

  &,
  &:active,
  &.active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    @include box-shadow(none);
  }
  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
    background-color: transparent;

    span {
      border-bottom-color: lighten($link-color, 10%);
    }
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: $btn-link-disabled-color;
      text-decoration: none;
    }
  }
}


// Button Sizes
// --------------------------------------------------
.btn-huge {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($padding-large-vertical * 1.5, $padding-large-horizontal * 3.2, $font-size-large + 3px, $line-height-large, $border-radius-small + 2px);
  box-shadow: 0 4px 7px lighten($gray-light, 30%);
}
.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($padding-large-vertical, $padding-large-horizontal * 2, $font-size-large - 2px, $line-height-large, $border-radius-small + 4px);
  @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.4));
}
.btn-sm {
  // line-height: ensure proper height of button next to small input
  @include button-size($padding-small-vertical, $padding-small-horizontal * 2, $font-size-small, $line-height-small, $border-radius-small);
}
.btn-xs {
  @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $border-radius-small);
}


// Block button
// --------------------------------------------------

.btn-block {
  display: block;
  width: 100%;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: 5px;
}

.btn-nopadding {
  padding-left: 0;
  padding-right: 0;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}

.gray-noreload {
  text-decoration: none !important;
  color: $gray !important;

  &:hover {
    color: lighten($gray, 15%);

    span {
      border-bottom-color: lighten($gray, 25%) !important;
    }
  }

  span {
    border-bottom-color: lighten($gray, 15%);
  }
}

.add-ship {
  background: none !important;
  background-color: none !important;
  // border: none;
  color: darken($gray, 21);
  padding-left: 0;
  @include button-variant(darken($gray, 21), rgba($btn-primary-bg, 0), rgba($btn-primary-border, 0));

  &:hover,
  &:focus {
    color: $gray;
    //border-color: $gray-light;
  }

}

.collapse-sidebar-btn {
  position: absolute;
  left: 0px;
  top: 0px;
  display: none;
  background-color: transparent;
  background: none;
  border: none;
  color: $gray;

  &:hover, &:active, &:focus {
    background-color: transparent;
    background: none;
    border: none;
    color: darken($gray, 5%);
  }

  @media (max-width: $screen-sm - 1) {
    display: block;
  }
}