//
// Labels
// --------------------------------------------------

.label {
  display: inline;
  padding: .2em 2em .2em;
  font-size: 85%;
  line-height: 0.9;
  color: $label-color;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;

  // [converter] extracted a& to a.label

  // Empty labels collapse automatically (not available in IE8)
  &:empty {
    display: none;
  }

  // Quick fix for labels in buttons
  .btn & {
    position: relative;
    top: -1px;
  }
}

// Add hover effects, but only for links
a.label {
  &:hover,
  &:focus {
    color: $label-link-hover-color;
    text-decoration: none;
    cursor: pointer;
  }
}

// Colors
// Contextual variations (linked labels get darker on :hover)

.label-default {
  @include label-variant($label-default-bg);
  -webkit-print-color-adjust: exact !important;
}

.label-primary {
  @include label-variant($label-primary-bg);
  -webkit-print-color-adjust: exact !important;
}

.label-success {
  @include label-variant($label-success-bg);
  -webkit-print-color-adjust: exact !important;
}

.label-info {
  @include label-variant($label-info-bg);
  -webkit-print-color-adjust: exact !important;
}

.label-warning {
  @include label-variant($label-warning-bg);
  -webkit-print-color-adjust: exact !important;
}

.label-warning-dark {
  @include label-variant(darken($label-warning-bg, 20%));
  -webkit-print-color-adjust: exact !important;
}

.label-danger {
  @include label-variant($label-danger-bg);
  -webkit-print-color-adjust: exact !important;
}

.label-gray {
  @include label-variant(darken($gray-lighter, 20%));
  -webkit-print-color-adjust: exact !important;
}

.label-dark {
  @include label-variant($gray-dark);
  -webkit-print-color-adjust: exact !important;
}
