//
// Scaffolding
// --------------------------------------------------


// Reset the box-sizing
//
// Heads up! This reset may cause conflicts with some third-party widgets.
// For recommendations on resolving such conflicts, see
// http://getbootstrap.com/getting-started/#third-box-sizing
* {
  @include box-sizing(border-box);
}
*:before,
*:after {
  @include box-sizing(border-box);
}


// Body reset

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $body-bg;
}

html, body {
  min-height: 100%;
  display: block;
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}


// Links

a {
  //color: $link-color;
  color: $text-color;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus {
    //color: $link-hover-color;
    color: $brand-warning;
    // text-decoration: $link-hover-decoration;
  }

  &:focus {
    //@include tab-focus;
  }
}


// Figures
//
// We reset this here because previously Normalize had no `figure` margins. This
// ensures we don't break anyone's use of the element.

figure {
  margin: 0;
}


// Images

img {
  vertical-align: middle;
}

// Responsive images (ensure images don't scale beyond their parents)
.img-responsive {
  @include img-responsive;
}

// Rounded corners
.img-rounded {
  border-radius: $border-radius-large;
}

// Image thumbnails
//
// Heads up! This is mixin-ed into thumbnails.less for `.thumbnail`.
.img-thumbnail {
  padding: $thumbnail-padding;
  line-height: $line-height-base;
  background-color: $thumbnail-bg;
  border: 1px solid $thumbnail-border;
  border-radius: $thumbnail-border-radius;
  @include transition(all .2s ease-in-out);

  // Keep them at most 100% wide
  @include img-responsive(inline-block);
}

// Perfect circle
.img-circle {
  border-radius: 50%; // set radius in percents
}

@media print {
  a[href]:after {
    content: none !important;
  }
}

// Horizontal rules

hr {
  margin-top:    $line-height-computed;
  margin-bottom: $line-height-computed;
  border: 0;
  border-top: 1px solid $hr-border;

  &.huge {
    border-top: 2px solid lighten($gray-light, 10%);
  }
}


// Only display content to screen readers
//
// See: http://a11yproject.com/posts/how-to-hide-content/

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

// Use in conjunction with .sr-only to only display content when it's focused.
// Useful for "Skip to main content" links; see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
// Credit: HTML5 Boilerplate

.sr-only-focusable {
  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}

.placeholder { color: #aaa; }


// iOS "clickable elements" fix for role="button"
//
// Fixes "clickability" issue (and more generally, the firing of events such as focus as well)
// for traditionally non-focusable elements with role="button"
// see https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile
// Upstream patch for normalize.css submitted: https://github.com/necolas/normalize.css/pull/379 - remove this fix once that is merged

[role="button"] {
  cursor: pointer;
}

.main-content {
  padding-top: 30px;

  .page-title {
    margin-top: 0;
  }

  &.admin-access {
    border-left: 2px solid $brand-danger-alt;
    border-right: 2px solid $brand-danger-alt;
    border-bottom: 2px solid $brand-danger-alt;
    padding-bottom: 20px;
  }
}

.text-link {
  color: $text-color;
  text-decoration: none !important;

  span {
    border-bottom: 1px solid $gray-light;
  }

  &:hover,
  &:active,
  &:focus {
    color: $brand-danger;

    span {
      border-bottom-color: lighten($brand-danger, 10%);
    }
  }
}

.link-to-sitemap {
  font-size: 20px;
  line-height: 28px;
  border-bottom: 1px solid;
}

.margin-b10 {
  margin-bottom: 10px;
}

.xs-form-margin {
  @media (max-width: $screen-sm) {
    margin-bottom: 15px !important;
  }
}

article {
  ul {
    list-style-type: disc;
    margin-left: 16px;
  }

  p {
    a {
      color: $brand-warning;
      border-bottom: 1px solid lighten($brand-warning, 20%);

      &:hover {
        color: darken($brand-warning, 20%);
        border-bottom-color: 1px solid darken($brand-warning, 20%);
      }
    }
  }
}

@media (max-width: $screen-sm - 1) {
  .centered-mobile {
    text-align: center;
  }
}



.list-unstyled {
  &.list-products-info {
    margin-bottom: 0;
    li {
      padding: $padding-base-vertical 0;
      margin-bottom: 0;
      border-bottom: 1px solid lighten($gray-light, 17%);
    }
  }
}

.nowrap {
  white-space: nowrap;
}

.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;

  @media (max-width: $screen-xxs) {
    max-width: 100% !important;
    display: inline;
    white-space: normal;
    overflow: visible;
  }

  &.px150 {
    max-width: 150px;
  }

  &.px240 {
    max-width: 240px;
  }
}

.pl0 {
  padding-left: 0 !important;
}

.spinner {
    position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
  text-align: center;
  z-index: 1234;
  overflow: auto;
  width: 60px;
  height: 60px;
  background: white;
  border-radius: 3px;
  border: 1px solid #e2e2e2;

  h2 {
    margin-top: 15px;
  }
}

.companies-nav {
  text-align: center;

  ul {
    li {
      a {
        width: 27px;
        height: 27px;
      }
    }
  }
}

.hide-to-1024 {
  @media (max-width: 1024px) {
    display: none !important;
  }
}

.show-from-1024 {
  display: block !important;
  @media (min-width: 1025px) {
    display: none !important;
  }
}