//
// Wells
// --------------------------------------------------


// Base class
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: $well-bg;
  // border: 1px solid $well-border;
  border-radius: $border-radius-base - 1px;
  // @include box-shadow(inset 0 1px 1px rgba(0,0,0,.05));

  @media print {
    background-color: $well-bg !important;
    -webkit-print-color-adjust: exact !important;
  }

  blockquote {
    border-color: #ddd;
    border-color: rgba(0,0,0,.15);
    margin: 0;
    padding: 0;

    footer {
      padding-top: 10px;
      margin-top: 0;
      margin-bottom: 15px;
      background: transparent;
      color: $gray;
      font-style: normal;
    }
  }

  .testimonial-detail {
    margin-top: 20px;
    display: block;
    color: $gray;
    text-decoration: none !important;
    font-family: $headings-font-family;
    font-size: $font-size-base - 1px;

    span {
      border-bottom: 1px solid $gray-light;
    }

    .glyphicon {
      border-bottom: none;
      position: relative;
      top: 3px;
    }
  }

  h3 {
    margin-top: 0;
    margin-bottom: 0;
  }

  &.well-view-order-detail-summary {
    min-height: 193px;

    @media (max-width: $screen-xxs) {
      min-height: inherit;
    }

    h4 {
    // margin-top: 0;
    // margin-bottom: 20px;

      @media (max-width: $screen-xs) {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: $font-size-h4;
      }
    }
  }

  &.well-password-hint-inline {
    background-color: $body-bg;
    border: 1px solid lighten($gray-light, 40%);
    padding: 10px;
    // max-height: 114px;
    font-size: $font-size-small;
    margin: 0;
    position: relative;
    @include transition (all 0.3s ease-out);

    &:before {
      position: absolute;
      content: '';
      top: 55%;
      left: -10px;
      width: 0; 
      height: 0; 
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent; 
      border-right: 10px solid lighten($gray-light, 40%);
      @include transition (all 0.3s ease-out);
    }

    @media (max-width: $screen-md) {
      &:before {
        display: none;
      }
    }

    &.highlight {
      border-color: $brand-warning;

      &:before {
        border-right-color: $brand-warning;
      }
    }

    p {
      margin-bottom: 4px;
    }

    .rules-list {
      list-style-type: none;
      margin-left: 0;
      margin-bottom: 0;

      li {
        padding-left: 0px;

        &:before {
          content: '\1427';
          padding-right: 4px;
        }
      }
    }
  }

  &.well-review-transparent {
    background-color: transparent;
    padding-top: 0;
    padding-bottom: 0;
  }

  &.well-testimonial {
    blockquote {
      p {
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
        height: 130px;
      }
    }
  }

}

// Sizes
.well-lg {
  padding: 24px;
  border-radius: $border-radius-large;
}
.well-sm {
  padding: 9px;
  border-radius: $border-radius-small;
}

.well-gray {
  background-color: lighten($gray-lighter, 3%);
  margin-top: 15px;

  @media print {
    background-color: lighten($gray-lighter, 3%) !important;
    -webkit-print-color-adjust: exact !important;
  }

  h4 {
    margin-top: 0;
    margin-bottom: 20px;

    @media (max-width: $screen-xs) {
      margin-bottom: 10px;
      font-size: $font-size-h4;
    }
  }

  @media (max-width: $screen-md) {
    .smaller {
      margin-bottom: 20px;
    }
  }

  &.well-view-order-detail {
    margin-top: 0;
    min-height: 178px;

    big {
      font-size: $font-size-large - 1px;
      margin-bottom: 12px;
      display: block;
      font-weight: 600;
    }

    
  }

}

.well-invoices {

  ul.description {
    margin-bottom: 20px;

    li {
      padding-left: 5px;
      &:before {
        position: relative;
        right: 5px;
        content: '\00B7';
      }
    }
  }

  .radio {
    margin-top: 0;
    margin-bottom: 5px;
  }

  .smaller {
    margin-bottom: 0;
  }

  @media (max-width: $screen-sm) {
    .bootstrap-select {
      margin-bottom: $padding-base-horizontal * 1.5;
    }
  }
}

.well-first {
  margin-top: 0;
}