.affiliation-list {
  .affiliation-item {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 20px;
    margin-bottom: 30px;
  }

  h4 {
    margin: 0 0 20px;
  }
  .pic-holder {
    height: 150px;
    margin-bottom: 20px;

    img {
      height: 100%;
      width: auto;
    }
  }
}