*:focus {
  outline: 0 !important;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

i, em {
  font-style: italic;
}

//a {
//  color: $text-color;
//  text-decoration: none;
//  &:hover,
//  &:focus {
//    color: $brand-warning;
//    text-decoration: none;
//  }
//  &:focus {
//    color: darken($text-color, 5%);
//  }
//}