.cart-page {
    font-size: 13px;
    .subtotal {
        margin: 25px 0;
        h4 {
            margin-bottom: 20px;
        }
        @media (max-width: $screen-xxs) {
            h4 {
                font-size: $font-size-h4 + 3px;
            }
            .btn {
                width: 100%;
            }
        }
    }
    &.review-step {
        font-size: 14px;
    }
    table {
        td {
            vertical-align: top;
            padding: 10px 40px 10px 0;
            p {
                word-wrap: break-word;
            }
        }
    }
    @media (max-width: $screen-sm) {
        table {
            width: 100%;
            td {
                padding-right: 10px;
            }
        }
    }
    @media (max-width: 560px) {
        .well-gray {
            h4 {
                font-size: $font-size-h4;
                margin-bottom: 10px;
            }
        }
        table {
            display: block;
            td {
                display: block;
                margin-top: 0;
                padding-bottom: 0;
            }
        }
    }
    @media print {
        .cart-info {
            display: block;
            .ship-info {
                display: block;
                float: left;
                width: 70%;
                background-color: $gray-lighter !important;
                -webkit-print-color-adjust: exact !important;
                height: 250px;
                .col-md-6 {
                    display: block;
                    float: left;
                    width: 50%;
                    border: none;
                }
            }
            .summary {
                display: block;
                float: left;
                width: 30%;
                padding-left: 10px;
                padding-top: 0;
                margin-top: 0;
                .summary-block {

                    h4 {
                        margin-top: 0;
                    }

                    margin-top: 0;
                    height: 250px;
                    background-color: lighten($brand-warning, 28) !important;
                    -webkit-print-color-adjust: exact !important;
                }
            }
        }
    }
}

.carts-steps {
    margin-bottom: 15px;
    .step-number {
        color: #ffffff;
        background-color: lighten($gray-light, 17);
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        display: inline-block;
        position: absolute;
        height: 40px;
        width: 40px;
        top: 0;
        left: 0;
        &:after {
            border: 10px solid transparent;
            border-left: 10px solid lighten($gray-light, 17);
            position: absolute;
            content: " ";
            right: -19px;
            top: 10px;
        }
    }
    .step-label {
        color: lighten($gray-dark, 6);
        background-color: $footer-bg;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        display: inline-block;
        width: 120px;
    }
    .step {
        //width: 160px;
        height: 40px;
        padding-left: 40px;
        display: inline-block;
        line-height: 40px;
        margin-right: 10px;
        position: relative;
        font-size: 0;
        &:hover,
        &:focus {
            .step-label {
                color: lighten($gray-dark, 4);
                background-color: darken($footer-bg, 4);
            }
        }
        &.is-active {
            .step-number {
                background-color: $brand-warning;
                &:after {
                    border-left-color: $brand-warning;
                }
            }
            .step-label {
                background-color: lighten($brand-warning, 28);
            }
        }
    }
    @media (max-width: $screen-sm) {
        .step {
            width: 33%;
            margin-right: 0;
            padding-right: 10px;
            &:last-child {
                padding-right: 0;
            }
            .step-label {
                width: 100%;
            }
        }
    }
    @media (max-width: 570px) {
        .step {
            width: 100%;
            margin-right: 0;
            padding-right: 0;
            margin-bottom: 10px;
            .step-label {
                width: 100%;
            }
        }
    }
}

.cart-info {
    .ship-info {
        background-color: $footer-bg;
        position: relative;

        h4 {
            margin-top: 5px;
        }

        .col-sm-6 {
            &:first-child {
                border-right: 1px solid $body-bg;

                @media (max-width: $screen-xxs) {
                    border-right: none !important;
                    border-bottom: 1px solid $body-bg;
                }
            }
        }
        @media (max-width: $screen-md) {
            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 15px;
                height: 100%;
                display: block;
                background-color: $body-bg;
            }
        }
        @media (max-width: $screen-xxs) {
            padding-left: 0;
            padding-right: 0;
            &:after {
                display: none;
            }

            h4 {
                font-size: $font-size-h4;
            }
        }
        a {
            color: $text-color;
            text-decoration: none;
            &:hover {
                color: $btn-warning-bg;
            }
        }
        .col-md-6 {
            padding-top: 15px;
            padding-bottom: 15px;
            &:first-child {
                border-right: 2px solid #fff;

                @media (min-width: $screen-xxs) {
                    // border-right: none;
                    padding-left: 0;
                }
            }
        }
        @media (min-width: $screen-md) {
            display: flex;
            align-items: stretch;
        }
    }
    .delivery-method-pick-up-form,
    .delivery-method-shipped-form {
        margin-top: 30px;
        margin-bottom: 25px;
    }
    @media (min-width: $screen-md) {
        display: flex;
        align-items: stretch;
    }
}

.summary {
    padding-right: 0;
    .btn-lg {
        font-size: 15px;
        padding-left: 5px;
        padding-right: 5px;
    }
    &-block {
        background-color: lighten($brand-warning, 28);
        color: #000000;
        .po-value {
            word-wrap: break-word;
            font-size: $font-size-base;
        }
        padding: 15px;
        margin-top: 10px;
        h4 {
            color: #444444;
            margin-top: 0;
        }
        .btn-lg {
            padding: 11px auto;
        }
    }
    hr {
        margin-left: -15px;
        margin-right: -15px;
        border-color: $body-bg;
    }
    input {
        padding: 9px 8px;
    }
    .po {
        line-height: $line-height-base;
        width: 100%;
        padding-left: $padding-base-horizontal - 3px;
        display: inline-block;
        font-size: 1.14em;
        word-wrap: break-word;
    }
    @media (max-width: $screen-md) {
        padding-left: 0;
    }

    @media (max-width: $screen-sm) {
        padding-left: 0;
        margin-top: 5px;
    }
}

.important-message {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #d9534f;
    .panel-heading {
        background: none;
        border: none !important;
        a {
            color: #DB0F00;
            font-weight: bold;
            &:after {
                content: "\f106";
                font-family: 'FontAwesome';
                position: absolute;
                top: 10px;
                right: 20px;
                font-size: 20px;
                color: #333;
                @include transition(all 0.2s ease-out);
            }
            &.collapsed {
                &:after {
                    content: "\f107";
                    @include transition(all 0.2s ease-out);
                }
            }
            &:hover,
            &:focus {
                color: #DB0F00;
                text-decoration: none;
            }
        }
        .fa {
            color: #d9534f;
            margin-right: 10px;
        }
        & + .panel-collapse > .panel-body {
            border: 0;
            padding: 15px 45px 25px 45px;
        }
        .nolink {
            color: #DB0F00;
            font-weight: bold;
        }
    }
    .panel-body {
        border: none !important;
        border-color: transparent;
    }
    ul {
        padding-left: 20px;
        list-style: disc;
    }
}

.quick-add {
    padding-bottom: 5px;
    h4 {
        margin-top: 10px;
    }
}

.cart-products-actions {
    @media (max-width: $screen-md) {
        margin: 0;
        li {
            width: 33%;
            padding: 0 5px;
            margin-bottom: 10px;
            .btn {
                width: 100%;
                padding-left: 4px;
                padding-right: 4px;
            }
        }
    }
    @media (max-width: 710px) {
        margin: 0;
        li {
            width: 100%;
            padding: 0;
            margin-bottom: 10px;
        }
    }
    @media (max-width: $screen-xs) {
        margin: 0;
        li {
            width: 100%;
            padding: 0;
            margin-bottom: 10px;
        }
    }
}

.cart-items-list {
    margin-top: 15px;
    .col {
        float: left;
        display: block;
        padding: 10px 8px 0 4px;
        min-height: 1px;
        .caption {
            display: none;
        }
        &.check {
            width: 14%;
            padding-top: 0;
            .print-image {
                display: none;
                @media print {
                    display: block;
                    width: 75px;
                    float: left;
                    overflow: hidden;
                    img {
                        display: block;
                        width: 100%;
                    }
                }
            }
        }
        &.desc {
            width: 23%;
        }
        &.item-number {
            width: 10%;
        }
        &.alias {
            width: 10%;
        }
        &.qty {
            width: 8%;
            font-size: 13px;
            input {
                width: 45px;
                padding-left: 4px;
                padding-right: 4px;
                text-align: center;
            }
        }
        &.u-price {
            width: 11%;
        }
        &.t-price {
            width: 11%;
        }
        &.availability {
            width: 12%;
        }
    }
    .header {
        display: block;
        @include clearfix();
        width: 100%;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        border-bottom: 1px solid transparent;
        height: 40px;
        line-height: 40px;
        overflow: hidden;
        .col {
            padding-top: 0;
            .caption {
                display: none;
            }
            .desc {
                .checkbox {
                    display: none;
                }
            }
            &.check {
                .checkbox {
                    .checkbox-custom {
                        &:before {
                            right: -5px;
                        }
                    }
                }
            }
        }
        .fa-sort {
            opacity: .85;
            &:hover {
                cursor: pointer;
                opacity: 1;
            }
        }
        @media (max-width: $screen-xxs) {
            display: none;
        }
    }
    .content {
        @include clearfix();
        padding: 10px 0;
        border-top: 1px solid lighten($gray-light, 35%);
        &:nth-child(2n) {
            background-color: lighten($gray-lighter, 2%);
        }
        &:last-child {
            border-bottom: 1px solid lighten($gray-light, 35%);
        }
        .desc {
            .checkbox {
                display: none;
            }
        }
        &.disabled {
            opacity: .65;
            a:hover {
                color: $text-color;
                text-decoration: none;
            }
        }
        &.empty-cart {
            height: 84px;
            line-height: 64px;
            text-align: center;
            font-weight: bold;
            font-size: 14px;
            background-color: lighten($gray-lighter, 2%);
        }
    }
    .checkbox {
        margin: 0;
        .checkbox-custom {
            padding-left: 0;
            padding-right: 20px;
            .checkbox-label {
                margin-left: 0;
            }
            &:before {
                top: 12px;
                right: 0;
                left: auto;
            }
        }
        &.image {
            .checkbox-label {
                display: block;
                width: 60px;
                height: 60px;
                overflow: hidden;
                text-align: center;
                img {
                    display: block;
                    max-width: 80px;
                    max-height: 60px;
                    width: auto;
                    height: auto;
                }
            }
        }
    }
    @media screen and (max-width: 670px) {
        .header {
            .check {
                width: 40%;
            }
            .desc,
            .item-number,
            .alias,
            .qty,
            .u-price,
            .t-price,
            .availability {
                display: none;
            }
        }
        .content-list {
            .content {
                .check {
                    width: 40%;
                    position: relative;
                    padding-right: 25px;
                    .checkbox {
                        .checkbox-custom {
                            padding: 0;
                            position: static;
                            &:before {
                                // display: none;
                                right: -17px;
                                position: absolute;
                                top: 12px;
                            }
                            .checkbox-label {
                                width: 100%;
                                height: auto;
                                overflow: hidden;
                                img {
                                    width: 100%;
                                    max-width: 300px;
                                    max-height: 300px;
                                }
                            }
                        }
                    }
                }
                .desc {
                    width: 60%;
                    padding-left: 0;
                    .checkbox {
                        display: inline-block;
                        position: relative;
                        top: -5px;
                    }
                    .product-title {
                        // padding-left: 15px;
                    }
                }
                .item-number,
                .alias,
                .qty,
                .u-price,
                .t-price,
                .availability {
                    width: 100%;
                    input {
                        display: inline-block;
                    }
                    .caption {
                        width: 40%;
                        display: block;
                        float: left;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

#duplicateMatches,
.duplicate-matches {
    .modal-dialog {
        width: 740px;
        @media (max-width: $screen-sm - 1) {
            width: auto;
        }
    }
}

.dublicate-list {
    font-size: 13px;
    width: 700px;
    @media (max-width: $screen-sm - 1) {
        width: auto;
    }
    .scroll-wrapper {
        max-height: 440px;
    }
    .item {
        padding: 20px 0 15px !important;
        &:first-child {
            border-top: 1px solid #b7b7b7;
        }
    }
    label.radio-custom {
        &:before {
            left: 75px !important;
        }
        &:after {
            left: 79px !important;
        }
    }
    .img-label {
        width: 60px;
        height: 60px;
        overflow: hidden;
        display: inline-block;
        float: left;
        margin-right: 35px;
        img {
            max-height: 60px;
        }
    }
    h5 {
        font-weight: bold;
        margin-top: 20px;
    }
    .price {
        font-size: 16px;
        margin: 10px 0;
        span {
            color: #006600;
        }
    }
}

.duplicate-matches,
.create-new-list-collapse {
    hr {
        border-top-color: #ddd;
        margin-left: -20px;
        margin-right: -20px;
    }
}

.error-comment {
    // margin-top: 15px;
    .fa {
        color: #D9534F;
        display: inline-block;
        height: 100%;
        vertical-align: top;
        margin: 5px 5px 0 0;
        & + p {
            display: inline-block;
            width: 86%;
        }
    }
}

.info-comment {
    margin-top: 15px;
    .fa, .glyphicon {
        color: #444444;
        display: inline-block;
        height: 100%;
        vertical-align: top;
        margin: 5px 5px 0 0;

        &.glyphicon-alert {
            color: $state-danger-text;
        }

        & + p {
            display: inline-block;
            width: 86%;
        }
    }
}

.review-step {
    .cart-items-list {
        .image {
            .checkbox-label {
                margin: 0 auto;
            }
        }
    }
}
