.case-study-detail {
	.img-responsive {
		max-width: 50%;

		@media (max-width: $screen-sm - 1) {
			max-width: 100%;
		}
	}

	blockquote {
		padding-left: 0;
		padding-right: 0;
		&:before {
			display: none;
		}
		p {
			text-indent: 0;
		}

		footer {
			background: none;
			padding-top: 0;
			margin-top: 20px;
		}
	}
}