footer {
	margin-top: 30px;
	padding-top: 20px;
	background-color: $footer-bg;
	font-size: $font-size-base - 1px;

	hr {
		border-color: darken($gray-lighter, 6%);
		margin-bottom: 14px;
	}

	p {
		color: $gray-light;
	}

	strong {
		color: $gray-light;
		margin-bottom: 5px;
		margin-top: 15px;
		display: block;
	}

	.list-unstyled {
		margin-bottom: 30px;
		li {
			// margin-bottom: 10px;
			a {
				color: $gray-light;
				margin-bottom: 5px;
				display: block;
				word-wrap: break-word;
				@include  transition(all 0.1s ease-out);

				&:hover {
					text-decoration: underline;
					color: $gray;
				}
			}
		}

		@media (max-width: $screen-xxs) {
				li {

					a {
						// margin-bottom: 5px;
						// margin-top: 5px;
					}
				}
			}

		&.mb-0 {
			margin-bottom: 0;
		}

		&.mobile-col-2 {
			display: block;
			@include clearfix();

			@media (max-width: $screen-xxs) {
				li {
					display: block;
					float: left;
					width: 50%;

					a {	
						padding-right: 5px;
						white-space: nowrap;
						text-overflow: ellipsis;
						overflow: hidden;
					}
				}
			}
		}
	}

	.subscribe {
		margin-top: 5px;

		.row {
			margin: 0;

			div {
				padding: 0;

				&:first-child {
					padding-right: 10px;
				}

				.form-control {
					font-size: $font-size-small;
					padding-left: 8px;
					padding-right: 0px;
				}

				.btn {
					padding-left: 0;
					padding-right: 0;
				}
			}
		}

		@media (max-width: $screen-md) {
			.row {
				div {
					&:first-child {
						padding-right: 0;
					}

					.form-control {
						margin-bottom: 10px;
					}
				}
			}
		}

		@media (max-width: $screen-sm) {
			.row {
				div {
					&:first-child {
						padding-right: 10px;
					}

					.form-control {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}