.logo {
	display: block;
}

.login-box {
	background-color: $gray-dark;

	// padding-top: 3px;
	// padding-bottom: 3px;

	@media (max-width: $screen-sm) {
		.container {
			.row {
				.col-lg-12 {
					a.pull-right {
						float: left !important;
					}
				}
			}
		}
	}

	.head-info {
		float: left;
		color: $body-bg;
		margin: $padding-large-vertical - 5px 0;
		padding-right: 10px;

		&.with-dropdown {
			margin: 0;

				.text {
					margin-top: $padding-large-vertical - 5px;
					display: inline-block;
					// max-width: 240px;
					// overflow: hidden;
				}

			.btn-group {
				button {
					padding-right: 15px;
					padding-bottom: 2px;

					span {
						margin: $padding-large-vertical - 6px 0;
						display: inline-block;
						padding-top: 0;
						max-width: 240px;
						margin-right: 3px;
						overflow: hidden;
						text-overflow: ellipsis;

						&.caret {
							position: absolute;
							top: 15px;
							right: -2px;
						}
					}
				}
			}
			
		}

		@media (max-width: $screen-sm) {
			width: 100%;
			display: block;
			text-align: left;
			margin: $padding-large-vertical - 9px 0;

			&.with-dropdown {

				.login-box-select {
					position: relative;
					top: -2px;
					.dropdown-toggle {
						padding-bottom: 0;

						span.text {
							margin: 2px 0;
						}
					}
				}
				span {
					margin: $padding-large-vertical - 5px 0;
				}
			}
		}
	}

   a {
	 font-weight: 600;
	 color: $brand-warning;
   }
   .log-btn {
		padding: $padding-large-vertical - 5px 0;

		span {
			border-bottom: 1px solid transparent;
		}

		&:hover,
		&:focus,
		&:active {
			text-decoration: none;

			span {
				border-bottom-color: $brand-warning;
				// padding-right: 5px;
			}
		}
	}
}

.login-box-select {
	display: inline;
	float: right;
	

	.btn {
		@include gradient-vertical($start-color: darken($gray-dark, 0%), $end-color: darken($gray-dark, 0%), $start-percent: 0%, $end-percent: 100%);
		color: $brand-warning;
		font-weight: 600;
		// font-family: $font-family-sans-serif;
		padding-left: 5px;
		padding-right: 5px;
	    padding-top: 0px;
	    padding-bottom: 4px;
	    text-overflow: ellipsis;
	    
	}

	&.open {
		.btn {
			box-shadow: none;
			background: darken($gray-dark, 3%);
			color: $brand-warning;
		}
	}

	@media (max-width: $screen-sm) {
		float: none;
		display: inline-block;
	}
}

.brand-box {
	background: url(../images/header-bg.png) repeat-x $gray-dark;
	background-position: top center;
	
	.container {
		padding-top: 18px;
	}

	// @media (min-width: $screen-sm) {
	// 	// width: auto;

	// 	.logo {
	// 		img {
	// 			width: auto;
	// 		}
	// 	}
	// }

	@media (max-width: $screen-md) {
		min-height: 100px;
	}

	.list-unstyled {
		margin-bottom: 0;
		position: relative;

		li {

			&:first-child {
				margin-bottom: $line-height-computed;

				@media (max-width: $screen-md) {
					margin-bottom: $line-height-computed + 4px; 
				}
			}
			color: $body-bg;

			a.link {
				font-size: $font-size-large - 1px;
				color: $body-bg;
				font-weight: 100;
			}

			.line {
				position: relative;
				margin-left: 12px;
				margin-right: 12px;
				top: - 2px;
			}

			.btn-services {
				border-radius: $border-radius-small;
				border: none;
				border-top: 2px solid lighten($gray-dark, 4%);
				padding: $padding-base-vertical + 2px $padding-base-horizontal + 5px;
				// background-color: lighten($gray-dark, 4%);
				@include gradient-vertical($start-color: lighten($gray-dark, 4%), $end-color: lighten($gray-dark, 5%), $start-percent: 0%, $end-percent: 100%);
				color: $body-bg;
				outline: 0;
				font-family: $font-family-sans-serif;

				@media (max-width: $screen-md) {
					padding: $padding-base-vertical $padding-base-horizontal - 3px;
					font-size: $font-size-base;
				}

				.caret {
		        border: none;
		        color: $brand-warning;
		        font-size: $font-size-large - 1px;
		        width: 20px;
		        height: 20px;
		        top: -2px;
		        position: relative;
		        @include transition(all 0.2s ease-out);
		        @include rotate(90deg);

		        &:after {
		          font-family: 'Glyphicons Halflings';
		          content: "\e080";
		        }

		      }

			}

			.dropdown {
				&.open {
					.btn-services {
						border-top-color: $brand-warning;

						.caret {
							@include rotate(-90deg);
						}
					}
				}
			}

			&.dropdowns {
				.dropdown {
					display: inline-block;
					float: right;

					&.account {
						position: inherit;
						
						.dropdown-services {
							right: 0;
						}

						.dropdown-services {
					        li {
					            &:first-child {
					                margin-bottom: 0 !important;

					                a {
					                    padding-top: 15px;
					                    padding-bottom: 15px;
					                }
					            }
					            a {
					                background-color: $body-bg;
					                color: $gray;
					                border-bottom: none;
					                &:hover,
					                &:active,
					                &:focus {
					                    background-color: lighten($gray-lighter, 4%);
					                }
					            }
					        }
					    }
					}

				}
			}
		}
	}

	@media (max-width: $screen-sm) {
		background: url(../images/header-bg.png) repeat-x $gray-dark;

		.logo {
			img {
				width: 260px;
				position: relative;
				top: 7px;
			}
		}
	}

	@media (max-width: $screen-sm) {
		background-color: darken($gray-dark, 4%);
		background: darken($gray-dark, 4%);
		border-top: 1px solid $gray-light;

		.logo-box {
			margin-bottom: 20px;

			@media (max-width: $screen-sm) {
				// width: 100%;
			}

			.logo {
				width: auto;
				text-align: center;
				display: inline-block;
				margin-left: 0;
				margin-right: auto;
			}
		}

		.user-actions-box {
			padding-left: 0;
			padding-right: 0;
			// display: none;
		}

		.btn-services {
			font-size: $font-size-base - 2px;
			padding-left: 8px !important;
			padding-right: 8px !important;
		}
	}

	@media (max-width: 420px) {
		.logo {
			img {
				width: 265px;
			}
		}
	}
}

// Header
header {

	.container-panel {
		padding: 0;
	}

	&.admin-access {
		background-color: $gray-dark;

		.panel {
			background-color: $brand-danger-alt;
			padding: $padding-base-horizontal;
			min-height: ($padding-base-horizontal * 2) + 28; 
			position: relative;
			margin: 0;

			.context {
				padding-right: 150px;

				p {
					color: $body-bg;
					margin-bottom: 0;
					margin-top: 4px;
				}
			}

			.btn {
				display: inline-block;
				position: absolute;
				// float: right;
				top: $padding-base-horizontal;
				right: $padding-base-horizontal;
				background-color: $body-bg;
				padding-left: $padding-base-horizontal;
				padding-right: $padding-base-horizontal;
				@include gradient-vertical($start-color: $body-bg, $end-color: $body-bg, $start-percent: 5%, $end-percent: 100%);
				color: $gray-dark;
				border-radius: $border-radius-base;
				font-weight: 600;
			}
		}

		.login-box {
			.container {
				border-left: 2px solid $brand-danger-alt;
				border-right: 2px solid $brand-danger-alt;
			}
		}

		.brand-box {
			.container {
				border-left: 2px solid $brand-danger-alt;
				border-right: 2px solid $brand-danger-alt;
			}
		}

		.navbar {
			.container {
				border-left: 2px solid $brand-danger-alt;
				border-right: 2px solid $brand-danger-alt;
			}
		}
	}
}

header {
	@media print {
		.login-box {
			display: none;
		}

		.brand-box {
			background-color: transparent;
			background: none;
		}

		.logo-box {
			display: block;
			width: 100%;
			padding: 0;
		}

		.user-actions-box {
			display: none;
		}

		nav {
			display: none;
		}
	}
}