.ui-autocomplete {
	.ui-menu-item {
		b {
			padding: 15px 20px;
		    display: block;
		    color: #848484;
		    font-weight: 700;
		}

		a {
			b {
				padding: 0;
				display: inline;
				color: $gray-dark;
			}
		}

		.ui-state-focus {
			text-decoration: underline !important;
			a {
				text-decoration: underline !important;
			}
		}
	}
}