.btn-invoices-search {
	padding-left: 7px;
	padding-right: 7px;
}

.show-title {
    position: absolute;
    display: inline-block;
    top: 1px;
    left: 9px;
    width: 85%;
    padding: 11.5px 16px;
    border-radius: 3px;
    font-size: 15px;
    line-height: 19px;
    background-color: #fff;
}