.managers-section {
	border-bottom: 1px solid lighten($gray-light, 20%);
	padding-top: 20px;

	&:first-child {
		padding-top: 0;
	}

	h2 {
		margin-top: 0;
		font-size: $font-size-h2 - 4px;
	}

	h3 {
		margin-top: 0px;
		font-size: $font-size-h3 - 3px;
	}

	.collapse-description {
		height: 57px;
		overflow: hidden;
		margin-bottom: 20px;
		position: relative;
		text-overflow: ellipsis;
		@include transition(height 0.25s linear);

		&.full {
			// height: auto;
			@include transition(height 0.25s linear);
		}

		p {
			text-overflow: ellipsis;
			margin-bottom: 0;
			padding-bottom: 0.5em;
		}

		.more {
			// background-color: $body-bg;
			@include gradient-horizontal($start-color: rgba($body-bg, 0.1), $end-color: rgba($body-bg, 1), $start-percent: 0%, $end-percent: 40%);
			padding: 2px 2px 2px 45px;
			color: $gray-dark;
			font-weight: 600;
			position: absolute;
			right: 0;
			bottom: -2px;

			&:hover,
			&:active,
			&:focus {
				text-decoration: none;
				color: $brand-warning;
			}

		}
	}
}