.order-action-button-list {
	@media (max-width: 540px) {
		margin: 0;
		li {
			display: block;
			width: 100%;
			padding: 0;
			margin-bottom: $line-height-computed / 1.5;

			.btn {
				width: 100%;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&.half {
		@media (max-width: 540px) {
			margin-left: -5px;
			margin-right: -5px;
			li {
				width: 50%;
				float: left;
				padding-left: 5px;
				padding-right: 5px;

				.btn {
					padding-left: 5px;
					padding-right: 5px;
				}
			}
		}
	}
}
