.panel-fassets {
    .panel-heading {
        .panel-title {
            a {
                &:after {
                    content: "\f055";
                    font-family: 'FontAwesome';
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    @include rotate(45deg);
                    @include transition(all 0.2s ease-out);
                }
                &.collapsed {
                    &:after {
                        content: "\f055";
                        font-family: 'FontAwesome';
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        @include rotate(0deg);
                        @include transition(all 0.2s ease-out);
                    }
                }
                &:hover {
                    text-decoration: none;
                    background-color: darken($panel-bg, 9%);
                }
                &:focus {
                    text-decoration: none;
                }
            }
        }
    }
}

.product-info {
    margin-bottom: $padding-large-vertical * 5;
    h1 {
        margin-top: 0;
        margin-bottom: $padding-large-vertical * 4;
        font-weight: 600;
        color: $gray;
        font-size: $font-size-h1 + 3px;
    }
}

.product-image {
    display: block;
    overflow: hidden;
    margin-bottom: 15px;
    .image {
        display: block;
        max-height: 320px;
        max-width: 320px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        &:after {
            // display: block;
            // position: absolute;
            // opacity: 0;
            // top: 50%;
            // left: 50%;
            // width: 30px;
            // height: 30px;
            // margin-top: -43px;
            // margin-left: -24px;
            // font-family: 'Glyphicons Halflings';
            // content: "\e015";
            // font-size: $font-size-h1 * 2;
            // color: $gray-lighter;
            // border-radius: 3px;
            // text-shadow: 0 2px 15px $gray-light;
            // @include transition(all 0.2s ease-out);
        }
        &:hover {
            &:after {
                // opacity: 1;
            }
        }
        img {
            display: block;
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.pdp-tabcontent {
    .tab-pane {
        border-bottom: 2px solid lighten($gray-light, 35%);
        margin-bottom: $padding-base-vertical * 3;
        article {
            margin: $padding-base-vertical * 3;
            font-family: $headings-font-family;
            ul {
                list-style-type: disc;
            }
        }
        table {
            margin: 0;
            font-family: $headings-font-family;
            &.table-specification {
                tbody {
                    tr {
                        td {
                            padding: 0;
                            .row {
                                margin: 0;
                            }
                            .specification-item {
                                padding: $table-cell-padding;
                                .row {
                                    div {
                                        padding: 0 3px;
                                    }
                                }
                                &:first-child {
                                    border-right: 1px solid $table-border-color;
                                }
                                &:last-child {
                                    border-left: 1px solid $table-border-color;
                                    margin-left: -1px;
                                }
                            }
                        }
                    }
                }
                &.table-spec-noborder {
                    tbody {
                        tr {
                            td {
                                .specification-item {
                                    margin-bottom: 0;
                                    border: none;
                                }
                            }
                        }
                    }
                    @media (max-width: $screen-sm) {
                    tbody {
                        tr:nth-of-type(odd) {
                            background-color: transparent;
                        }

                        tr {
                            td {
                                .row {
                                    .specification-item:first-child {
                                        border-right: none;
                                        // background-color: darken($table-bg-accent, 1%);
                                        background-color: $body-bg;
                                    }
                                    .specification-item:last-child {
                                        border-right: none;
                                        background-color: darken($table-bg-accent, 1%);
                                        // background-color: $body-bg;
                                    }
                                    .specification-item:nth-of-type(2) {
                                        background-color: darken($table-bg-accent, 1%);  
                                    }
                                }
                            }
                        }
                    }
                }
                }
                @media (max-width: $screen-sm) {
                    tbody {
                        tr:nth-of-type(odd) {
                            background-color: transparent;
                        }

                        tr {
                            td {
                                .row {
                                    .specification-item:first-child {
                                        border-right: none;
                                        background-color: darken($table-bg-accent, 1%);
                                    }
                                    .specification-item:last-child {
                                        border-left: none;   
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


/* In modal Add to Material List - 1 Item Added to Material List*/

.product-added-pic {
    overflow: hidden;
    height: 110px;
    img {
        max-height: 100%;
        height: 100%;
        width: auto;
    }
}

// Print styles for pdp
.pdp-product {
    @media print {
        .image-block {
            float: left;
            width: 40%;
        }
        .info-block {
            float: left;
            width: 60%;
            .material-list {
                .info-block {
                    font-size: $font-size-base - 10px !important;
                }
                .actions {
                    .list-group {
                        .price {
                            border: none;
                            font-size: $font-size-base - 10px !important;
                            text-align: left;
                            padding-left: 0 !important;
                        }
                    }
                }
            }
        }
    }
}

.pdp-tabs-information {
    @media (max-width: 375px) {
        .nav-tabs {
            li {
                a {
                    padding-left: 6px;
                    padding-right: 6px;
                }
            }
        }
    }
    @media print {
        .nav-tabs {
            display: none;
        }
        .tab-content {
            .tab-pane {
                display: block !important;
                opacity: 1 !important;
                border: none;
                margin-bottom: 15px;
                color: $gray-light !important;
                -webkit-print-color-adjust: exact !important;
                article {
                    margin-left: 0;
                    margin-right: 0;
                    ul {
                        padding-left: 20px;
                    }
                }
                table.table-specification tbody tr td .specification-item:first-child {
                    border: none;
                }
                .table-striped {
                    tbody {
                        tr {
                            &:nth-of-type(odd) {
                                td {
                                    background-color: $gray-lighter !important;
                                    -webkit-print-color-adjust: exact !important;
                                }
                            }
                            td {
                                .specification-item {
                                    width: 50%;
                                    float: left;
                                    strong {
                                        font-weight: normal !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.check-availability-actions {
    display: inline-block;
    position: relative;
    padding-left: 125px;

    @media (max-width: 625px) {
        width: 100%;
        padding-left: 0;

        .check-availability {
            padding-left: 125px;
        }

        .form-check-availability {
            // position: absolute;
            // left: 0;
            width: 100%;
            padding-left: 0;
            padding-top: 0;
            // margin-left: -50px;
            .list-inline {
                li {
                    width: 50%;
                    .btn {
                        width: 100%;
                    }
                }
            }
        }
    }
    @media (max-width: 500px) {
        .form-check-availability {
            width: 100%;
            padding-left: 0;
            padding-top: 0;
            .list-inline {
                li {
                    width: 100%;
                    margin-bottom: 10px;
                    .btn {
                        width: 100%;
                    }
                }
            }
        }
    }
    .check-availability {
        display: inline-block;
        position: relative;
        top: -13px;
    }
    .form-check-availability {
        display: inline-block;
    }
    .list-inline {
        @include clearfix();
        li {
            float: left;
            @include clearfix();
        }
    }
    .btn {
        width: 140px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.item {
    &.pickup-location {
        &.head {
            .list-inline {
                li {
                    float: left;
                    &:first-child {
                        padding-left: 0;
                    }
                    &:last-child {
                        padding-right: 0;
                    }
                    .form-control {
                        width: 50px;
                    }
                    .btn {
                        padding-left: 8px;
                        padding-right: 8px;
                    }
                }
                @media (max-width: $screen-sm) {
                    float: none !important;
                    li {
                        .form-control {
                            width: 80px;
                            height: $input-height-large - 4px;
                            @include button-size($padding-large-vertical, $padding-large-horizontal / 2, $font-size-large - 2px, $line-height-large, $border-radius-small + 4px);
                        }
                        .btn {
                            position: relative;
                            top: -3px;
                            @include button-size($padding-large-vertical, $padding-large-horizontal * 2, $font-size-large - 2px, $line-height-large, $border-radius-small + 4px);
                            @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.4));
                        }
                    }
                }
            }
        }
        .radio {
            .radio-custom {
                z-index: auto;
                .col-xs-ml-30 {
                    z-index: 5;
                    .list-inline {
                        li {
                            .form-control {
                                z-index: 15;
                            }
                        }
                    }
                    @media (max-width: $screen-xs) {
                        margin-left: -15px;
                        padding-left: 0;
                        padding-right: 0;

                        .list-inline {
                            position: relative;
                            li {
                                &:first-child {
                                    width: 85px;
                                    position: absolute;
                                    z-index: 12;
                                }
                                &:last-child {
                                    position: relative;
                                    padding-left: 90px;
                                    width: 100%;

                                    button {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
