.fassets-selection-container {
	@media (max-width: $screen-md) {
		position: relative;

		.selected-fassets {
			position: relative;
			top: 75px;
		}

		.accordion-fassets {
			position: relative;
		}
	}

	@media (max-width: $screen-xxs) {
		position: relative;

		.selected-fassets {
			top: auto;
		}

	}
}