.preload-cover {
    position: relative;
    // overflow: hidden;

    .preload-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($body-bg, 0.9);
        @include transition(all 0.2s ease-out);
        filter: blur(10px);
        display: none;
    	z-index: 10;
    	opacity: 0;
    }
    .preload-spinner {
    	position: absolute;
    	top: 50%;
    	left: 50%;
    	margin-left: -30px;
    	margin-top: -35px;
    	color: $gray-light;
    	font-size: $font-size-h1 * 1.5;
    	display: none;
    	z-index: 10;
    	opacity: 0;
    }

    &.loader-active {
    	.preload-bg,
    	.preload-spinner {
    		opacity: 1;
    		display: block;
    		z-index: 10;
    	}
    }
}
