.page-actions {
	padding-top: $padding-base-vertical / 2;

	@media (max-width: $screen-sm) {
		display: none;
	}

	.list-inline {
		float: right;

		li {
			.action {
				color: $gray;
				text-decoration: none !important;
				font-family: $headings-font-family;

				.fa {
					margin-right: 5px;
					color: $gray-light;
					font-size: $font-size-base + 2px;
					position: relative;
					top: 1px;
					border-bottom: none !important;
				}

				span {
					
					&:hover {
						border-bottom: 1px solid $gray-lighter;
					}
				}

				&:hover,
				&:active,
				&:focus {

					.glyphicon {
						color: $gray-light;
						border-bottom: none;
					}

					span {
						color: $brand-warning;
						border-bottom: 1px solid lighten($brand-warning, 15%);
					}
				}
			}
		}

		@media (max-width: $screen-sm) {
			float: left;
		}
	}
}

.captcha {
	position: relative;
	overflow: hidden;
	height: 44px;

	.image {
		display: block;
		width: 100%;
		height: 100%;

		img {
			display: block;
			width: 100%;
		}
	}

	button {
		background-color: transparent;
		border: none;
		display: block;
		width: 16px;
		height: 16px;
		overflow: hidden;
		position: absolute;
		right: 5px;
		padding: 0;
	}
	.reload {
		top: 5px;
		background: url(../images/captcha/reload.png);
	}

	.play {
		top: 25px;
		right: 7px;
		background: url(../images/captcha/audio.png);
	}
}

.accordion-filter {
  background-color: darken($body-bg, 4);
  padding: 15px 10px;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  &.locations {
  	@media (max-width: $screen-md) {
  		margin-bottom: 15px;
  	}

  	.panel-fassets {
  		&:last-child {
  			margin-bottom: 0;
  		}
  	}
  }

  .panel + .panel {
    margin-top: 10px;
  }

  .panel-fassets {
    border: 1px solid $btn-default-border;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    .panel-heading {
      background: none;
      .panel-title {
		font-size: 14px;

        a {
          &:hover {
            background: none;
          }
        }
      }
    }

    .panel-body {
      border: 0 !important;
      padding: 0px 13px 5px;
	  font-size: 13px;


      .checkbox {
        &:hover {
          color: #000000;
        }

        label {
          padding-left: 0;
          &:before {
            display: none;
          }
        }
        input[checked] + span {
          font-weight: bold;
        }
      }
      .link {
        margin: 7px 5px;
        color: $text-color;
        display: block;
        text-decoration: underline;
        
        &:hover {
          //color: darken($text-color, 70);
          color: $brand-warning;
        }
      }
    }

	.list-group {
	  margin-bottom: 0;
	}
	.list-group-item {
	  background-color: transparent;
	  padding: 10px 2px 5px;
	  border: 0;
	}
  }
}
/* for Packing Slips table Shipment # Multiple */
.shipment-multi-link {
  color: $text-color;
  &:hover,
  &:focus {
	color: $text-color;
  }

  .icon {
	margin-left: 5px;
	vertical-align: middle;
	height: .86em;

	-webkit-transition: all .15s ease-in-out;
	-ms-transition: all .15s ease-in-out;
	transition: all .15s ease-in-out;

	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
  }
  &.collapsed {
	.icon {
	  -webkit-transform: rotate(0deg);
	  -ms-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
  }

}
.table-shipment {
  margin-top: 15px;
  width: 100%;
  tr {
	border-bottom: 1px dashed darken($table-border-color, 5%);
	&:last-child {
	  border: 0;
	}
  }
  td {
	padding: 7px 0;
	width: auto;
	padding-right: 0;
	padding-left: $table-cell-padding + 3px;

	&.shipment-value {
		padding-right: $table-cell-padding;
		padding-left: 0;
		min-width: 125px !important;
	}

	.table-icon-link {
		i.fa {
			float: left;
		}
	}

	@media (max-width: $screen-xxs) {
		// display: table-cell !important;
		width: auto;
	}
  }
  @media (max-width: $screen-xxs) {
  	display: block;
	padding-left: 150px;
  	
		tbody {
			display: block;
			tr {
				display: block;
				td {
					display: block;
				}
			}
		}
	}
}

// Helper Margin classes
.mb-xxs {
    @media (max-width: $screen-xxs) {
        margin-bottom: $line-height-computed / 2 !important;
    }
}

.mb-xs {
    @media (max-width: $screen-xs) {
        margin-bottom: $line-height-computed / 2 !important;
    }
}

.mb-sm {
    @media (max-width: $screen-sm) {
        margin-bottom: $line-height-computed / 2 !important;
    }
}

.mb-md {
    @media (max-width: $screen-md) {
        margin-bottom: $line-height-computed / 2 !important;
    }
}


#pi-accordion .panel-body li {
  padding: 5px;
}

#pi-accordion .panel-body li .icon {
  color: #ffbf00;
}

#pi-accordion .panel-body li+li {
  border-top: 1px solid #d1d1d1;
}