.sidebar-menu {
  background-color: $footer-bg;
  padding: $padding-large-horizontal;
  -webkit-border-radius: $border-radius-base;
  -moz-border-radius: $border-radius-base;
  border-radius: $border-radius-base;
  position: relative;
  margin-bottom: 1.4rem;

  .sidebar-menu-container {
    &.sidebar-collapsed {
      @media (max-width: $screen-sm - 1) {
        margin-top: 15px;
      }
    }
  }

  &-container {
    margin: 0;
    background-color: #fff;
    -webkit-border-radius: $border-radius-base;
    -moz-border-radius: $border-radius-base;
    border-radius: $border-radius-base;
    border: 1px solid #ccc;
    padding: $padding-large-vertical $padding-base-horizontal;
  }
  li {
    -webkit-border-radius: $border-radius-base;
    -moz-border-radius: $border-radius-base;
    border-radius: $border-radius-base;

    -webkit-transition: background-color .25s;
    -moz-transition: background-color .25s;
    -ms-transition: background-color .25s;
    -o-transition: background-color .25s;
    transition: background-color .25s;
    a {
      padding: $padding-small-vertical $padding-base-horizontal;
      font-size: 13px;
      display: block;
      &:focus {
        color: darken($text-color, 3%);
      }

      &.iconic {
        padding-left: 20px;
        position: relative;

        .fa {
          position: absolute;
          top: 7px;
          left: 4px;
          color: $brand-warning;
        }
      }
    }
    &.active {
      background-color: $footer-bg;
    }
    &:hover {
      background-color: lighten($footer-bg, 2%);
      &.active {
        background-color: darken($footer-bg, 2%);
      }
      a {
        color: darken($text-color, 3%);
      }
    }
  }
}

.faqs-nav {
  margin-top: 0;
  ul {
    margin-bottom: 5px;
  }
  a {
    font-weight: bold;
    line-height: 24px;
    display: block;
  }
}

.cps-accordion {
  .panel {
    background-color: $footer-bg;
    padding: 10px 5px;
    margin-bottom: 10px;
  }
  .panel-heading {
    border: 0;
    background-color: $footer-bg !important;

    .panel-title {
      font-size: 15px;
      font-weight: bold;
      a {
        padding: 2px 30px 2px 10px;
        &:after {
          content: "\f055";
          font-family: 'FontAwesome';
          position: absolute;
          top: 2px;
          right: 10px;
          font-size: 18px;
          color: #444444;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
          -webkit-transition: all 0.2s ease-out;
          -o-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
        }
        &.collapsed:after {
          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
        }
      }
    }

  }
  .panel-body {
    border: 0 !important;
    padding: 10px 10px 6px;
    background-color: $footer-bg !important;
  }
}