@import url(https://fonts.googleapis.com/css?family=Lato:400,300,400italic,700,700italic);

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?axdlau');
	src:url('../fonts/icomoon.eot?#iefixaxdlau') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?axdlau') format('truetype'),
		url('../fonts/icomoon.woff?axdlau') format('woff'),
		url('../fonts/icomoon.svg?axdlau#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icomoon {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icomoon-list-source-icon:before {
	content: "\e600";
}


