.locations-page {
  // padding-left: 0;
  // padding-right: 0;

  .locations-row {
    background-color: $footer-bg;
    margin-left: 0;
    margin-right: 0;
  }  
  .map-detail {
    // background-color: darken($footer-bg, 5%);
    // min-height: 327px;
    // padding-right: 15px;
    // border-style: outset;
    // border-right: 5px solid $body-bg;
    padding: 0;

    @media (max-width: $screen-sm-max) {
      // margin-right: 0;
      margin-bottom: 15px;

      img {
        width: 100%;
      }
    }
  }
}


.locations-detail {
  padding-top: 15px;
  border-left: 5px solid $body-bg;
  border-right: 1px solid $body-bg;
  // display: -webkit-box;
  // display: -moz-box;
  // display: -ms-flexbox;
  // display: -webkit-flex;
  // display: flex;

  @media (max-width: $screen-lg) {
    // border-left: 5px solid $body-bg;
    border-left: none;
  }

  // @media (max-width: $screen-md) {
  // }

  .locations-about {
    border-right: 1px solid #fff;
    padding: 15px 15px;
    min-height: 327px;
    padding-left: 30px;

    @media (max-width: $screen-xs-max) {
      border-bottom: 1px solid #fff;
      min-height: 120px;
      padding-right: 30px;
      padding-left: 30px;
    }

    a {
      text-decoration: underline;
    }

    ul {
      list-style-type: initial;
      margin-left: 30px;
      li {

      }
    }
  }
}

  .locations-info {
    padding-right: 0;

    @media (max-width: $screen-lg) {
      border-top: 10px solid $body-bg;
    }

    .block-part {
      border-top: 1px solid $body-bg;
      padding: 15px 15px 5px 15px;
      margin-left: -15px;

      @media (max-width: $screen-xxs) {
        margin-left: 0;
      }
      &:first-child {
        border: 0;
      }
    }
  }


#drivingDirections {
  .modal-dialog {
    @media (min-width: $screen-sm) {
      width: 700px;
    }
  }
}

.address-list {
  overflow-y: auto;
  width: 370px;
  height: 350px;
  display: inline-block;
  margin: 15px 0;
  img {
    width: 100%;
  }
  @media (max-width: $screen-sm) {
    width: 100%;
  }
}

.direction-map {
  width: 260px;
  height: 350px;
  overflow: hidden;
  display: inline-block;
  margin: 15px 0 15px 20px;
}