.material-list {
    &:first-child {
        margin-top: 10px;
    }
    &:last-child {
        margin-bottom: 10px;
    }
    border-top: 1px solid lighten($gray-light, 13%);
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: $gray-lighter;
    .info-block {
        background-color: $body-bg;
        padding-top: $padding-large-horizontal;
        padding-bottom: $padding-large-horizontal;
        // min-height: 189px;
        @media (max-width: $screen-sm) {
            // min-height: 190px;
            min-height: 0px;
        }
        .media {
            .media-body {
                padding-bottom: 0;
            }
        }
    }
    .actions {
        @media (min-width: $screen-xs) {
            padding-left: 0;
        }
        .list-group {
            margin-bottom: 0;
        }
    }
    .row {
        page-break-inside: avoid;
    }
    .title {
        color: $gray;
        margin-top: 0;
        margin-bottom: $padding-large-horizontal;
        a {
            color: $gray;
        }
        &:hover,
        &:focus,
        &:active {
            a {
                // text-decoration: none;
                color: $gray-dark;
            }
        }
    }
    .info {
        display: block;
        width: 100%;
        margin-bottom: ($padding-large-horizontal * 2) + 5px;
        min-height: 30px;
        @include clearfix();

        @media (max-width: $screen-sm) {
            margin-bottom: $padding-large-horizontal / 2;
        }

        @media (max-width: $screen-xxs) {
            min-height: 80px;
            margin-bottom: 0;
        }
        .box {
            float: left;
            display: block;
            max-width: 140px;
            margin-right: 25px;
            // word-wrap: break-word;
            @media (max-width: $screen-xs) {
                width: 100%;
                max-width: 768px;
                margin-bottom: 15px;
            }
            @media print {
                width: 23%;
                float: left;
            }
            strong {
                display: block;
            }
        }
    }
    p {
        margin-bottom: $padding-large-horizontal;
    }
    .buttons {
        li {
            .btn {
                margin-top: 10px;

                @media (max-width: 722px) {
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
        @media (max-width: 490px) {
            li {
                width: 100%;
                .btn {
                    width: 100%;
                }
            }
        }
    }
    &.detail {
        border-top: none;
        padding-left: 15px;
        background-color: $gray-lighter;
        .info-block {
            background-color: transparent;
            @media (max-width: $screen-sm) {
                margin-left: 0px;
            }
        }
        .actions {
            @media (max-width: $screen-sm) {
                padding-left: 0;
            }
            .list-group {
                margin-bottom: 0;
            }
        }
    }
    &.profile {
        padding: 20px;
        background-color: #f6f6f6;
        hr {
            margin: 0;
            border-color: #d1d1d1;
        }
    }
    &.pdp {
        .info-block {
            big {
                display: block;
                font-size: $font-size-large + 0px;
                padding-bottom: 5px;
                font-family: $headings-font-family;
            }
        }
        .actions {
            font-family: $headings-font-family;
            .price,
            .qty {
                padding: 10px 15px;
                border-bottom: 1px solid lighten($list-group-border, 10%);
            }
            .price {
                big {
                    font-size: $font-size-h3;
                    font-family: $headings-font-family;
                }
                .info-button {
                    background-color: transparent;
                    border: none;
                    margin-left: 3px;
                    font-size: $font-size-h3 - 3px;
                    margin-top: 3px;
                }
            }
            .qty {
                .form-inline {
                    display: block;
                    position: relative;
                    @include clearfix();
                    .form-group {
                        float: left;
                        display: inline;
                        width: 40%;
                        padding-right: 10px;
                        .form-control {
                            display: block;
                            width: 100%;
                            text-align: center;
                        }
                    }
                    .btn {
                        float: left;
                        display: inline;
                        width: 60%;
                        padding-left: 10px;
                        padding-right: 10px;
                        @media (max-width: 560px) and (min-width: 481px) {
                            font-size: $font-size-base - 2px;
                            height: $input-height-base;
                        }
                    }
                }
            }
        }
    }
    // actions
    .actions {
        font-family: $headings-font-family;
        .price,
        .qty {
            padding: 10px 15px;
            border-bottom: 1px solid lighten($list-group-border, 10%);
        }
        .price {
            big {
                font-size: $font-size-h4;
                font-family: $headings-font-family;
            }
            .info-button {
                background-color: transparent;
                border: none;
                margin-left: 3px;
                font-size: $font-size-h4 - 3px;
                margin-top: 3px;
            }
        }
        .qty {
            .form-inline {
                display: block;
                position: relative;
                @include clearfix();
                .form-group {
                    float: left;
                    display: inline;
                    width: 40%;
                    padding-right: 10px;
                    .form-control {
                        display: block;
                        width: 100%;
                        text-align: center;
                    }
                    @media (max-width: $screen-xxs) {
                        margin-bottom: 0;
                    }
                }
                .btn {
                    float: left;
                    display: inline;
                    width: 60%;
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
    }
    // info block
    .info-block {
        &.search-list {
            .media {
                .media-left {
                    overflow: hidden;
                    a {
                        width: 80px;
                        height: 80px;
                        // max-height: 157px;
                        // height: 100%;
                        overflow: hidden;
                        display: block;
                        img {
                            display: block;
                            width: auto;
                            height: auto;
                            max-width: 100%;
                            margin-left: auto;
                            margin-right: auto;
                            // max-height: 100%;
                        }
                        @media (max-width: $screen-xxs) {
                            min-height: 100px;
                            margin-bottom: 0;
                        }
                    }
                }
                .media-body {
                    .media-heading {
                        a {
                            @media (max-width: $screen-sm) {
                                font-size: $font-size-h4 - 3px;
                                font-weight: 600;
                                font-family: $headings-font-family;
                                color: lighten($gray-dark, 10%);
                            }
                            color: $gray-dark;
                            text-decoration: none !important;
                            span {
                                border-bottom: 1px solid transparent;
                            }
                            &:hover {
                                color: $brand-warning;
                                span {
                                    border-bottom-color: lighten($brand-warning, 25%);
                                }
                            }
                        }
                    }
                    .info {
                        p {
                            margin-top: 0;
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }
    }
    // Print for the item lost rule
    @media print {
        background-color: $gray-lighter !important;
        -webkit-print-color-adjust: exact;
        .search-list {
            background-color: $body-bg !important;
            border-top: 1px solid lighten($gray-light, 13%) !important;
            top: -1px;
            -webkit-print-color-adjust: exact;
        }
        .info-block {
            width: 70%;
            float: left;
        }
        &.order-detail .info-block {
            width: 100%;
            float: none;
        }
        .actions {
            width: 30%;
            float: left;
            .price {
                border: none;
                big {
                    .text-success {
                        color: $brand-success !important;
                        -webkit-print-color-adjust: exact;
                    }
                }
                .info-button {
                    display: none;
                }
            }
            .list-group {
                .qty {
                    display: none;
                }
                a.list-group-item {
                    display: none;
                }
            }
        }
    }
}

.material-items-list {
    .header {
        display: block;
        @include clearfix();
        .title {
            padding-top: 11px;
            padding-bottom: 10px;
            display: block;
            i.fa {
                &.up {
                    &:before {
                        content: "\f0de" !important;
                    }
                }
                &.down {
                    &:before {
                        content: "\f0dd" !important;
                    }
                }
            }
        }
    }
    .content-list {
        @include clearfix();
        // display: block;
        // overflow: hidden;
        // position: relative;
        max-height: 390px;
        overflow-y: scroll;
        overflow-x: hidden;
        @media (max-width: $screen-xxs + 200) {
            max-height: 2200px;
        }
        .content {
            @include clearfix();
            padding-top: 8px;
            padding-bottom: 5px;
            border-top: 1px solid lighten($gray-light, 35%);
            .name {
                .checkbox {
                    display: none;
                }
            }
            div {
                .caption {
                    display: none;
                }
            }
            &:nth-child(2n) {
                background-color: lighten($gray-lighter, 2%);
            }
        }
    }
    .header,
    .content {
        display: block;
        width: 100%;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        border-bottom: 1px solid transparent;
        &.selected {
            border: 1px solid $brand-warning;
        }
        &.disabled {
            color: lighten($gray-light, 6%);
        }
        .check {
            float: left;
            display: block;
            width: 15%;
            padding-right: 8px;
            padding-left: 4px;
            .image {
                position: relative;
                margin-top: 0;
                margin-bottom: 0;
                margin-right: 5px;
                .checkbox-custom {
                    display: block;
                    &:before {
                        top: 3px;
                    }
                    .checkbox-label {
                        display: block;
                        margin-right: 5px;
                        img {
                            display: block;
                            max-width: 70px;
                            width: 100%;
                        }
                    }
                }
            }
            &.fake {
                img {
                    display: block;
                    width: 100%;
                    height: auto;
                }
            }
        }
        .name {
            float: left;
            display: block;
            width: 25%;
            padding-right: 8px;
            //.product-title {
            //	color: $gray;
            //	font-size: $font-size-large;
            //}
        }
        .item-number {
            float: left;
            display: block;
            width: 10%;
            padding-right: 8px;
        }
        .qty {
            float: left;
            display: block;
            width: 10%;
            padding-right: 8px;
            .form-control {
                width: 40px;
                padding-left: 5px;
                padding-right: 5px;
            }
            label {
                font-weight: normal;
                margin-top: 3px;
            }
        }
        .alias {
            float: left;
            display: block;
            width: 15%;
            padding-right: 8px;
        }
        .price {
            float: left;
            display: block;
            width: 13%;
            padding-right: 8px;
        }
        .availability {
            float: left;
            display: block;
            width: 12%;
            padding-right: 8px;
        }
    }
    .header {
        @media (max-width: $screen-md) and (min-width: 680px) {
            .check {
            	padding-left: 0;
                .checkbox {
                    label {
                        padding-right: 29px;
                        padding-left: 0;
                    }
                    .checkbox-label {
                        margin: 0 19px 0 0;
                        white-space: nowrap;
                    }
                }
            }
        
    }
}

// View order details
&.order-detail-list {
    .header {
        .check {
            width: 13%;
            .print-image {
                display: none;
                @media print {
                    display: block;
                    width: 75px;
                    float: left;
                    overflow: hidden;
                    img {
                        display: block;
                        width: 100%;
                    }
                }
            }
        }
        .name {
            width: 25%;
        }
        .item-number {
            width: 10%;
        }
        .qty {
            width: 10%;
        }
        .price {
            width: 13%;
            float: left;
            display: block;
            padding-right: 8px;
        }
        .total {
            width: 13%;
            float: left;
            display: block;
            padding-right: 8px;
        }
        .status {
            width: 16%;
            float: left;
            display: block;
            padding-right: 8px;
        }
    }
    .content-list {
        .content {
            .check {
                width: 13%;
                .print-image {
                    display: none;
                    @media print {
                        display: block;
                        width: 75px;
                        float: left;
                        overflow: hidden;
                        img {
                            display: block;
                            width: 100%;
                        }
                    }
                }
                .checkbox {
                    .question-tooltip {
                        border: none;
                        padding: 0;
                        font-size: $font-size-base - 1px;
                        background-color: transparent;
                        position: absolute;
                        top: 2px;
                        left: 2px;
                        color: $brand-danger;
                        z-index: 2;
                    }
                }
                @media (max-width: $screen-md) {
                    .image .checkbox-custom .checkbox-label img {
                        max-width: 55px;
                    }
                }
            }
            .name {
                width: 25%;
            }
            .item-number {
                width: 10%;
            }
            .qty {
                width: 10%;
            }
            .price {
                width: 13%;
                float: left;
                display: block;
                padding-right: 8px;
            }
            .total {
                width: 13%;
                float: left;
                display: block;
                padding-right: 8px;
            }
            .status {
                width: 16%;
                float: left;
                display: block;
                padding-right: 8px;
            }
            .name,
            .item-number,
            .qty,
            .price,
            .total,
            .status {
                .caption {
                    display: none;
                }
            }
            &.disabled {
                color: lighten($gray-light, 6%);
            }
        }
    }
    @media (max-width: $screen-md) {
        .header {
            .check {
                width: 15%;
                .checkbox {
                    label {
                        // margin-right: 30px;
                    }
                }
            }
            .name {
                width: 23%;
            }
        }
        .content-list {
            .content {
                .check {
                    width: 15%;
                }
                .name {
                    width: 23%;
                }
            }
        }
    }
    @media screen and (max-width: $screen-sm - 2px) {
        &.items-order-mobile {
            .header {
                div {
                    .fa {
                        display: none;
                    }
                }
                .check {
                    width: 35%;
                    .checkbox {
                        label {
                            margin-right: 5px;
                            padding-left: 0;
                            .checkbox-label {
                                margin-left: 0;
                            }
                        }
                    }
                }
                .name {
                    width: 65%;
                }
                .item-number,
                .qty,
                .price,
                .total,
                .status {
                    display: none;
                }
            }
            .content-list {
                max-height: $screen-lg * 5;
                .content {
                    padding-bottom: 15px;
                    padding-left: 5px;
                    padding-right: 5px;
                    .check {
                        width: 35%;
                        padding-left: 0;
                        .image {
                            .checkbox-custom {
                                padding-left: 0;
                                .checkbox-label {
                                    margin-left: 0;
                                    img {
                                        width: 100%;
                                        max-width: 400px;
                                    }
                                }
                            }
                        }
                    }
                    .name {
                        width: 65%;
                    }
                    .item-number,
                    .qty,
                    .price,
                    .total,
                    .status {
                        .caption {
                            display: block;
                            float: left;
                            width: 35%;
                            font-weight: 600;
                        }
                        width: 100%;
                        padding: $table-cell-padding / 2 0;
                    }
                }
            }
        }
    }
    @media (max-width: $screen-xxs) {
        &.items-order-mobile {
            .header {
                .check {
                    width: 40%;
                }
                .name {
                    width: 60%;
                }
            }
            .content-list {
                .content {
                    .check {
                        width: 40%;
                    }
                    .name {
                        width: 60%;
                    }
                    .item-number,
                    .qty,
                    .price,
                    .total,
                    .status {
                        .caption {
                            width: 40%;
                        }
                    }
                }
            }
        }
    }
}

&.items-ordered-modal {
    @media (max-width: 690px) {
        .header {
            display: none;
        }
        .content-list {
            .content {
                .check {
                    width: 40%;
                }
                .name {
                    width: 60%;
                    a {
                        small {
                            font-size: 100%;
                        }
                    }
                }
                .item-number,
                .qty,
                .price,
                .alias,
                .availability {
                    width: 100%;
                    padding-top: $table-cell-padding;
                    .caption {
                        display: block;
                        width: 40%;
                        float: left;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}


}
.create-list-action {
    min-height: 80px;
    padding-top: 18px;

    .btn {
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: -25px;
        height: 130px;
        width: 3px;
        background-color: $body-bg;
    }
    
    @media (max-width: $screen-md) {
        min-height: 80px;
        padding-top: 53px;
        &:before {
            content: '';
            display: block;
            position: absolute;
            right: 0;
            top: -25px;
            height: 220px;
            width: 3px;
            background-color: $body-bg;
        }
    }
    
    @media (max-width: $screen-sm) {
        min-height: 10px;
        padding-top: 53px;
        position: relative;

        &:before {
            content: '';
            display: block;
            position: absolute;
            right: 0;
            top: -25px;
            height: 220px;
            width: 3px;
            background-color: $body-bg;
        }
    }

    @media (max-width: $screen-xxs) {
        padding-top: 10px;
        &:before {
            display: none;
        }
    }
    
    @media (max-width: $screen-md-min) {
        &:after {
            display: none;
        }
    }
}
.create-list-form {
    h4 {
        @media (max-width: $screen-md) {
            margin-bottom: 0;
            margin-top: 15px;
        }
    }
    
    .search-form {
        @media (max-width: $screen-sm) {
            margin-bottom: 15px;
        }
    }
}
//checkbox to right position
.material-items-list {
    .checkbox label {
        text-align: right;
        display: block;
        margin-right: 5px;
        padding-right: 20px;
        padding-left: 5px;
        @media (max-width: $screen-xs) {
            padding-right: 30px;
        }
    }
    
    .checkbox-custom {
        &:before {
            right: 5px;
            left: inherit;
        }
        .checkbox-label {
            margin-right: 15px;
        }
    }
    
    .header {
        .checkbox-custom {
            &:before {
                right: 10px !important;
            }
                @media (max-width: $screen-sm) {
                    &:before {
                        right: 9px !important;
                    }
                }
        }
    }
    
    &.mobile {
        @media (max-width: $screen-xxs + 200) {
            .header {
                .check {
                    width: 100%;
                    .checkbox-custom {
                        text-align: left;
                        padding-left: 20px;
                        &:before {
                            right: auto;
                            left: 0;
                        }
                    }
                }
                .name,
                .item-number,
                .alias,
                .qty,
                .price,
                .availability {
                    display: none;
                }
            }
            .content-list {
                .content {
                    .check {
                        width: 40%;
                        padding: 0;
                        .checkbox {
                            .checkbox-custom {
                                padding: 0;
                                padding-right: 15px;
                                &:before {
                                    // display: none;
                                    position: absolute;
                                    right: -20px;
                                }
                                .checkbox-label {
                                    img {
                                        width: 100%;
                                        max-width: 300px;
                                    }
                                }
                            }
                        }
                    }
                    .name {
                        width: 60%;
                        padding-left: 15px;
                        .checkbox {
                            display: inline-block;
                            margin-top: 0;
                            margin-bottom: 0;
                            position: relative;
                            top: 6px;
                            label {
                                padding-right: 5px;
                            }
                            .checkbox-custom {
                                &:before {
                                    right: auto;
                                    left: 0;
                                }
                            }
                            .checkbox-label {
                                padding-right: 0px;
                                display: inline-block;
                            }
                        }
                    }
                    .item-number,
                    .alias,
                    .qty,
                    .price,
                    .availability {
                        width: 100%;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        .caption {
                            display: block;
                            width: 40%;
                            float: left;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}
// custom
.material-lst-actions {
    @media (max-width: $screen-md) {
        li {
            .btn {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
    @media (max-width: 670px) {
        margin-left: 0;
        li {
            width: 100%;
            margin-bottom: 10px;
            padding: 0;
            .btn {
                width: 100%;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }
}
