.sidebar-block {
  background-color: $footer-bg;
  padding: $padding-large-horizontal;
  -webkit-border-radius: $border-radius-base;
  -moz-border-radius: $border-radius-base;
  border-radius: $border-radius-base;

  font-size: 13px;
  margin-bottom: 1.4rem;

  h4 {
    margin: 0;
    font-size: 19px;
  }
}

.sidebar-events-list  {
  .item {
    padding: 15px 0 20px;
    border-bottom: 1px solid #ccc;
    &:last-child {
      border-bottom: 0;
      padding-bottom: 10px;
    }

    h5 {
      margin: 5px 0;
      font-weight: bold;
    }
    p {
      margin: 5px 0;
    }
    .more-link {
      font-weight: bold;
      font-size: 14px;
    }
  }
}


.news-article {
  border-bottom: 2px solid #d1d1d1;
  padding-bottom: 20px;
  margin-bottom: 20px;
  &:last-of-type {
    border-bottom: 0;
  }

  header {
    margin-bottom: 20px;

    h3 {
      margin-bottom: 15px;
    }
  }

  .article-data {
    @include clearfix();
  }

  .article-date {
    color: #ffffff;
    font-weight: bold;
    background-color: $brand-warning;
    padding: 0 40px 0 15px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    position: relative;

    &:after {
      width: 0;
      height: 0;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-right: 15px solid white;
      position: absolute;
      right: 0;
      content: " ";
    }
  }

  .article-thumbnail {
    width: 12%;
    padding-right: 20px;
    float: left;

    @media (max-width: $screen-xxs) {
      width: 30%;
    }

    .thumbnail-pic {
      border-radius: $border-radius-base;
      border: 1px solid #cccccc;
      overflow: hidden;
      margin-bottom: 1rem;
      img {
        width: 100%;
      }
    }
    .btn {
      padding: 7px 0;
    }
    & + .article-preview,
    & + .article-thumbnail-desc {
      float: left;
      width: 87%;

      @media (max-width: $screen-xxs) {
        width: 70%;
      }
    }
  }


  .article-pic-preview {
    height: 60px;
    margin-bottom: 15px;

    img {
      max-width: 100%;
      height: 100%;
    }
  }

  .links-block {
    font-size: 13px;
    padding: 10px 0;
    border-bottom: 2px dotted #cccccc;

    li {
      padding: 2px 0 4px;
      a {
        border-bottom: 1px solid;
      }
    }
  }
}
