.order-pad-table {
  div[class="col-"],
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12
  {
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
  }

  .input-clear {
    position: absolute;
    width: 30px !important;
    height: 30px !important;
    top: 6px;
    right: 12px;
    font-size: $font-size-base + 1px;
    cursor: pointer;
    z-index: 3;
    display: block;
    border: none;
    background: no-repeat;
    background-color: transparent;

    &:after {
          font-family: 'FontAwesome';
          content: "\f00d";
    }

    .icon {
      top: 10px;
      left: 12px;
    }
  }

  &.nopadding {
    // margin: 0;
    // padding: 0;
  }
}

.input-clear {
  // pointer-events: auto !important;
  cursor: pointer;
  color: #444444;
}

.alert-cps {
  background-color: rgba(255, 191, 0, 0.95);
  color: #ffffff;
  border-radius: 0;

  > [data-notify="message"] {
    padding: 20px 10px;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 2.64rem;

    .glyphicon {
      margin-right: 0.5em;
      margin-left: -.5em;
    }
  }

  .close {
    font-size: 24px;
    color: #FFF;
    opacity: 1;
    filter: alpha(opacity=100);
  }
}

.order-pad-item {
  @media (max-width: $screen-sm - 58) {
    width: 50%;
  }

  @media (max-width: 520px) {
    width: 100%;
  }
}