.profile-block {
    position: relative;
    .profile-button {
        position: absolute;
        top: 15px;
        right: 15px;
        @media (max-width: $screen-sm) {
            font-size: $font-size-base;
            padding-left: 80px;
            padding-right: 80px;
        }
        @media (max-width: $screen-xxs) {
            position: relative;
            top: auto;
            right: auto;
            width: 100%;
        }
    }
}

.my-account-links {
    display: block;
    width: 100%;
    .item {
        padding-left: 10px;
        padding-right: 10px;
        display: block;
        float: left;
        width: 20%;
        margin-bottom: 20px;

        h4 {
            margin-bottom: 10px;
            font-size: $font-size-h4 + 2px;
        }

        @media (max-width: $screen-xs) {
            margin-bottom: 5px;
            h4 {
                font-size: $font-size-h4;
            }
        }
        .nav-pills {
            margin-left: -7px;
            li {
                a {
                    padding: 4px 7px;
                    color: $gray;
                    font-family: $headings-font-family;
                    font-size: $font-size-base;
                    &:hover {
                        color: $brand-warning;
                        background-color: transparent;
                    }
                }
            }
        }
        @media (max-width: $screen-md) {
            width: 25%;
        }
        @media (max-width: $screen-sm) {
            width: 25%;
        }
        @media (max-width: $screen-xs) {
            width: 100%;
        }
        @media (max-width: 650px) {
            width: 100%;
        }
    }
}

.table-icon-link {
    i {
        color: $brand-warning;
        margin-right: 5px;
    }
    color: $gray;
    text-decoration: none !important;
    span {
        border-bottom: 1px solid transparent;
    }
    &:hover {
        // color: $link-color;
        span {
            // border-bottom: 1px solid lighten($link-color, 20%);
        }
    }
}
