.request-account-inner {
	background: #f6f6f6;  /* variable? */

	.fa {
		font-size: 3em;
	}

	.request-account-step:nth-child(n+2) {
		box-shadow: -19px 0px 0px -18px #999;

		@media screen and (max-width: 768px) {
			box-shadow: 0px -19px 0px -18px #999;
		}
	}

	.request-account-next-steps {
		box-shadow: 0px -19px 0px -18px #999;
	}
}