.sidebar-form {
  padding: 15px 0 10px;

  textarea {
    max-width: 100%;
    min-height: 200px;
  }
}

.testimonial {

  &-item {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 15px;
    margin-bottom: 20px;
    &:last-child {
      border-bottom: 0;
    }

    &.collapsed-testimonial {
      position: relative;

      .testimonial-text {
        height: 44px;
        overflow-y: hidden;
        overflow-x: visible;
        cursor: pointer;
        position: relative;
        margin-bottom: 15px;
        @include transition(all 0.2s ease-out);
        
        &:after {
          // background-color: $body-bg;
          // $inner-bg-transparent: rgba($body-bg, 0.8);
          background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1) 0%, white 40%);
          // @mixin gradient-radial($inner-color: $body-bg, $outer-color: $inner-bg-transparent);
          padding: 5px 15px;
          font: normal normal normal 20px/1 FontAwesome;
          content: "\f107";
          color: $gray;
          position: absolute;
          right: 0px;
          bottom: -8px;
          @include rotate(0deg);
          @include transition(all 0.2s ease-out);
        }

        &:hover {
          &:after {
            color: $brand-warning;
          }
        }

        &.open {
          height: auto;
          &:after {
            @include rotate(180deg);
          }
        }
      }

    }

  }

  &-text {
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
    display: block;
    margin-bottom: 12px;
    quotes: inherit;
    
    .quote {
      position: relative;
      text-indent: 7px;
      &:before {
        content: "\201C";
        position: absolute;
        top: 0px;
        left: -6px;
      }
      &:after {
        // content: "\201D";
        // position: absolute;
        // right: 0;
        // bottom: 0;
      }
    }

  }


  &-author {
    font-size: 13px;
    color: #444444;
    margin-bottom: 15px;
    &:before {
      content: "\2014";
      display: inline;
      margin-right: 5px;
    }
  }

  &-rating {
    margin: 0px 0 0 0;
    margin-bottom: 15px;
    font-size: 18px;
    color: $brand-warning;
    i {
      margin-right: 5px;
    }

    & + a {
      margin-bottom: 15px;
      display: inline-block;
    }
  }

}



.star-rating {
  margin: 10px 0 25px;
  cursor: default;
  font-size: 0;

  label {
    &.active i {
      color: $brand-warning;
    }
  }
  i {
    font-size: 25px;
    padding: 0 5px;
    color: lighten($gray-light, 10%);

    -webkit-transition: color .11s;
    -moz-transition: color .11s;
    -ms-transition: color .11s;
    -o-transition: color .11s;
    transition: color .11s;
    &:hover {
      color: $brand-warning;
      cursor: pointer;
    }
  }
}

.testimonial-list {
  .collapse-description {
    height: 62px;
    overflow-y: hidden;
    overflow-x: visible;
    margin-bottom: 20px;
    position: relative;
    text-overflow: ellipsis;
    @include transition(height 0.25s linear);

    &.full {
      // height: auto;
      @include transition(height 0.25s linear);
    }

    p, div {
      text-overflow: ellipsis;
      margin: 0 0;
      margin-bottom: 0;
      padding: 0;
      border: 0;
      font: inherit;
      font-size: 100%;
      vertical-align: baseline;
      display: block;
    }

    .more {
      // background-color: $body-bg;
      @include gradient-horizontal($start-color: rgba($body-bg, 0.1), $end-color: rgba($body-bg, 1), $start-percent: 0%, $end-percent: 40%);
      padding: 2px 2px 2px 45px;
      color: $gray-dark;
      font-weight: 600;
      position: absolute;
      right: 0;
      bottom: -2px;

      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
        color: $brand-warning;
      }

    }
  }
}