.manage-users-actions {
  li {
    .btn {
      padding-left: $padding-large-horizontal * 4;
      padding-right: $padding-large-horizontal * 4;
    }
  }
  
  margin-bottom: 0;
  
  @media (max-width: $screen-sm) {
    @include clearfix();

    li {
      width: 33%;
      float: left;

      .btn {
        width: 100%;
        padding-left: $padding-base-vertical;
        padding-right: $padding-base-vertical;
      }
    }
  }

  @media (max-width: 500px) {
    @include clearfix();
    li {
      width: 100%;
      float: none;
      margin-bottom: $padding-base-vertical;

      .btn {
        width: 100%;
        padding-left: $padding-base-vertical;
        padding-right: $padding-base-vertical;
      }
    }
  }
}

.manage-users {
  font-family: $headings-font-family;

  hr {
    border-top-color: $body-bg;
    margin-left: -15px;
    margin-right: -15px;
  }
  .well {
    margin-bottom: 0;
  }
  .table {
    font-size: 13px;
    td {
      // padding: 10px 15px;
    }
  }


}

.user-addresses {
  font-size: 13px;
  line-height: 1.4;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;

  .row {
    border-top: 1px solid lighten($gray-light, 35%);
    background-color: $body-bg;
    padding: 20px 5px 10px;
    &:last-child {
      border-bottom: 1px solid lighten($gray-light, 35%);
    }
    &:nth-child(even) {
      background-color: darken($body-bg, 3.5);
    }

    .radio {
      margin-top: 0;
    }
  }
}

.custom-file-upload {
  display: block;
  position: relative;
  @include clearfix();
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  .btn {
    padding-left: 1em;
    padding-right: 1em;
    height: 41px;
    //margin-left: 5px;

    @media (max-width: $screen-sm) {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .btn,
  mark{
    display: block;
    cursor: pointer;
    float: left;
  }

  mark{
    //background: transparent;
    padding: 10px 15px;
    padding-left: 1em;
    width: 75%;
    height: auto;
    margin-left: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-weight: 400;
    background-color: #fff;
  }

  input[type=file]{
    position: absolute;
    top: 0;
    opacity: 0
  }
}