.checkbox {

	&.highlight {

		// padding: 4px;

		& + .checkbox.highlight {
			margin-top: -5px;
		}

		& label.checkbox-custom {
			padding: 4px 4px 4px 24px;
			//margin-left: -8px;
		}

		&.checked label.checkbox-custom {
			background: #e9e9e9;
			border-radius: $border-radius-base;
		}
	}

	/* for keyboard tabbing */
	input[type="checkbox"]:focus + .checkbox-label,
	input[type="checkbox"]:hover + .checkbox-label,
	.checkbox-label:hover
	 {
		// color: $gray-light;
	}

	input[type="checkbox"]:disabled:focus + .checkbox-label,
	input[type="checkbox"]:disabled:hover + .checkbox-label,
	&.disabled label:hover
	 {
		color: inherit;
	}

}

.form-horizontal .checkbox-inline {
	padding-top: 0;
}

.input-group-addon.checkbox-custom.checkbox-inline:before {
	left: 11px;
	top: 9px;
}

.checkbox-custom {
	position: relative;

	&:before {
		// .iconBaseStyles("Glyphicons Halflings");
		font-family: "Glyphicons Halflings";
		border: 1px solid $gray;
		border-radius: $border-radius-base - 2px;
		color: #fff;
		content: " ";
		font-size: 13px;
		height: 15px;
		width: 15px;
		left: 0px;
		padding: 1px 0 0 1px;
		position: absolute;
		text-align: center;
		top: 2px;
	}

	/* for keyboard tabbing */
	&:active:before, &:focus:before {
		color: $gray;
		color: rgb(91, 157, 217);
		cursor: pointer;
		box-shadow: inset 0px 0px 2px 1px rgb(91, 157, 217), 0px 0px 5px 0px rgb(91, 157, 217);
	}

	&.highlight {
		&:before {
			left: 4px;
			top: 6px;
		}
	}

	&.checked {
		&:before {
			background: $gray;
			border-color: $gray;
			content: "\e013";
			line-height: 0.7;
		}
	}

	&.disabled {
		cursor: not-allowed;

		&:before
		{
			cursor: not-allowed;
			opacity: .5;
		}
	}

	&.checkbox-inline {
		&:before {
			left: 0;
			top: 3px;
		}

		&.highlight {
			padding: 4px 4px 4px 24px;
			left: -4px;

			&:before {
				left: 4px;
				top: 7px;
			}

			&.checked {
				background: #e9e9e9;
				border-radius: $border-radius-base - 2px;
			}
		}
	}


	/* for keyboard tabbing */
	input[type="checkbox"]:focus + .checkbox-label {
		color: $gray-light;
	}

	.checkbox-label {
		margin-left: 3px;
	}


}

label.checkbox-custom.checkbox-inline {
	padding-left: 20px;
}

// show pass
.show-area {
	position: relative;
}

.show-pass {
	position: absolute;
	top: 8px;
	right: 25px;
	outline: none !important;
	z-index: 7;

	.form-control {
		padding-right: 30px;
	}
	
	.checkbox-custom {

		&:active:before, &:focus:before {
			outline: none !important;
			cursor: pointer;
			box-shadow: none;
		}

		&:before {
			color: color('cool-gray', 20);
			content: "\e106";
			border-color: transparent;
		}

		&.checked {
			&:before {
				color: color('cool-gray', 30);
				content: "\e105";
				background-color: transparent;
				border-color: transparent !important;
			}
		}
	}
}