@import "https://fonts.googleapis.com/css?family=Open+Sans:600,700";
@import "https://fonts.googleapis.com/css?family=Pragati+Narrow:400,700";
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background: white;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
h1 {
  font-size: 32px;
  font-weight: 700;
}
.h1 {
  font-size: 32px;
  font-weight: 700;
}
h2 {
  font-size: 28px;
  font-weight: 700;
}
.h2 {
  font-size: 28px;
  font-weight: 700;
}
h3 {
  font-size: 24px;
  font-weight: 700;
  color: #005c35;
}
.h3 {
  font-size: 24px;
  font-weight: 700;
  color: #005c35;
}
h4 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.h4 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
h5 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.h5 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
h6 {
  font-size: 14px;
  font-weight: bold;
}
.h6 {
  font-size: 14px;
  font-weight: bold;
}
a {
  color: #575045;
  text-decoration: underline;
}
a:hover {
  color: #999999;
  text-decoration: underline;
}
a small {
  color: #999999;
}
nav a {
  text-decoration: none;
}
.red {
  color: #d3191e !important;
}
.bg-red {
  color: white !important;
  background: #d3191e !important;
}
.gold {
  color: #e7b50b !important;
}
hr.gold {
  border-top: 5px solid #e7b50b;
}
.bg-gold {
  background: #e7b50b !important;
}
.bg-green {
  color: white !important;
  background: #005c35 !important;
}
.bg-grey {
  background: #eeeeee !important;
}
#body {
  padding-top: 30px;
  padding-bottom: 30px;
}
#body img {
  width: auto;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#body .embed-responsive {
  margin-bottom: 15px;
}
#body .location-thumb img {
  display: block;
  padding: 0;
  width: 100%;
  margin: -19px 0;
}
#body .manager img {
  width: 100%;
}
#body .news-thumb img {
  margin: 0 0 10px;
  width: 100%;
}
#body img.media-object {
  max-width: none;
}
.modal img {
  width: auto;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
hr {
  border-color: rgba(0, 0, 0, 0.2);
}
.fa {
  text-decoration: none !important;
}
.clear {
  clear: both;
  float: none;
}
.clearfix:after {
  clear: both;
  display: block;
  height: 0;
  content: '';
}
.loading {
  padding: 250px 0;
  text-align: center;
  font-size: 36px;
}
.bar {
  background: #e7b50b;
  padding: 8px 10px;
  text-align: center;
}
.row.row-flush {
  margin-left: 0;
  margin-right: 0;
}
.row.row-flush > * {
  padding-left: 0;
  padding-right: 0;
}
.row.row-slim {
  margin-left: -3px;
  margin-right: -2px;
}
.row.row-slim > * {
  padding-left: 3px;
  padding-right: 2px;
}
.row.row-narrow {
  margin-left: -8px;
  margin-right: -7px;
}
.row.row-narrow > * {
  padding-left: 8px;
  padding-right: 7px;
}
.row::after {
  clear: both;
  height: 0;
  display: block;
  overflow: hidden;
  content: '';
}
.form-group {
  position: relative;
}
.form-group::after {
  clear: both;
  height: 0;
  display: block;
  overflow: hidden;
  content: '';
}
.form-group .password-link {
  font-size: 12px;
  position: absolute;
  right: 0;
  top: 0;
}
dl.list-horizontal:after {
  display: block;
  float: none;
  clear: both;
  height: 0;
  overflow: hidden;
  content: "";
}
dl.list-horizontal dt {
  float: left;
  width: 33%;
  padding: 5px 10px 5px 0;
}
dl.list-horizontal dd {
  float: left;
  width: 66%;
  padding: 5px 0;
}
nav#top {
  height: 40px;
  min-height: 0;
  border-bottom: none;
  background: #e7b50b;
  margin: 0;
  z-index: 1030;
  font-size: 12px;
  font-weight: normal;
}
nav#top .fa {
  font-size: 1.2em;
}
nav#top ul.nav > li > a {
  color: black;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px;
  height: 40px;
  line-height: 20px;
  text-decoration: none;
}
nav#top ul.nav > li > a:hover {
  background: rgba(255, 255, 255, 0.2);
}
nav#top .nav-text {
  color: black;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px;
  height: 40px;
  line-height: 20px;
  text-decoration: none;
}
nav#top .navbar-nav > .open > a {
  background: rgba(255, 255, 255, 0.2);
}
nav#top .navbar-nav > .open > a:focus {
  background: rgba(255, 255, 255, 0.2);
}
nav#top .navbar-nav > .open > a:hover {
  background: rgba(255, 255, 255, 0.2);
}
nav#top .nav > li > a:focus {
  background: rgba(255, 255, 255, 0.2);
}
nav#top .nav > li > a:hover {
  background: rgba(255, 255, 255, 0.2);
}
.top-label {
  font-weight: bold;
  text-transform: uppercase;
}
.top-account {
  background: #f3f3f4;
  width: 600px;
  padding: 0;
  font-weight: 600;
  text-transform: uppercase;
}
.top-account .row > *:first-child {
  border-right: 1px solid #e0dfdc;
}
.top-account h6 {
  background: white;
  padding: 15px 25px 0;
  margin: 0;
  font-size: 12px;
  font-weight: bold;
}
.top-account ul {
  background: white;
  padding: 10px 25px;
  margin: 0;
  font-size: 12px;
  border-bottom: 1px solid #e0dfdc;
}
.top-account li {
  padding: 3px 0 3px 22px;
  list-style: none;
  position: relative;
}
.top-account i {
  position: absolute;
  left: 0;
  top: 3px;
  font-size: 16px;
  color: #999999;
}
.top-account h6.top-account-logout {
  padding-bottom: 15px;
  border-bottom: 1px solid #e0dfdc;
}
.modal-shipping-list {
  margin: 0 -30px 15px;
  max-height: 400px;
  overflow: auto;
  border-top: 1px solid #dfdbd8;
  border-bottom: 1px solid #dfdbd8;
}
#header {
  height: auto;
}
#header a {
  text-decoration: none;
}
#header .input-group .form-control {
  border: none;
  border-radius: 0;
}
#header .input-group-addon {
  border: none;
  border-radius: 0;
}
.header-logo {
  padding-top: 5px;
  padding-bottom: 5px;
}
.header-logo img {
  display: block;
  max-width: 100%;
}
.header-nav ul {
  float: right;
  line-height: 1;
  font-size: 16px;
  padding-top: 70px;
  text-transform: uppercase;
  font-family: "Helvetica", sans-serif;
}
.header-nav ul li {
  float: left;
  padding: 0 12px;
  border-right: 2px #e7b50b solid;
  list-style: none;
  margin: 0;
}
.header-nav ul li:last-child {
  border: none;
}
.header-nav .nav-hover-header {
  padding: 0;
  z-index: 10000;
  font-size: 14px;
  font-family: "Pragati Narrow", sans-serif;
  text-transform: none;
  min-width: 120px;
}
.header-nav .nav-hover-header li {
  border-right: none;
  float: none;
  border-bottom: 1px solid #030303;
  padding: 0;
}
.header-nav .nav-hover-header li a {
  display: block;
  clear: both;
  font-weight: 400;
  line-height: 1.22857143;
  text-align: left;
  box-sizing: border-box;
}
.header-nav .nav-hover-header a {
  padding: 13px 20px;
}
.header-nav .nav-hover-header ul li {
  float: none;
  border: 1px solid #030303;
}
#searchform {
  width: auto;
  position: absolute;
  left: 426px;
  top: 0;
  padding-top: 8px;
  right: 255px;
  /* box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);*/
}
/*
.form-control#headerSearchCategory {
  float:left;
  width:100px;
}
*/
#searchform .input-group input {
  border: none;
  width:200px;
}
@media (max-width: 600px) {
  #searchform {
    right: 135px;
  }
}
/* Typeahead css */
#ta {
  top : -5px;
  padding-left : 0 !important;
  padding-right: 0 !important;
  width: 162%;
  /* position: absolute;
  background: white;
  right: -150px;
  top: 50px; 
  border: 1px solid #645d52;
  */
  
  border-top: none;
  /* z-index: 4000; */
}
#ta .active{
  cursor: pointer;
  background-color: #c6c6c6b0; 
}
.content_none::after{
    content: none !important;
}
/* uncomment for typeahead bottom color
 #ta::after {
  content: '';
  background: #e7b50b;
  border-top: 1px solid #424240;
  height: 40px;
  display: block;
  clear: both;
}
 */
#ta .panel-default {
  background: none;
  padding: 0;
  margin: 0;
}
#ta .panel-body {
  padding: 0;
}
#ta .item-thumb {
  height: 60px;
  width: 90px;
  margin: 0 auto;
}
#search-btn{
   background: #e7b50b;
   color: #000;
}
.ta-results {
  border: 1px solid #424240;
  background: white;
}
#search-result-cont{
	display:none;
    background: white;
}
.text-bwtn-line span {
  margin: 0;
  font-size: 16px;
  color: #424240;  
  background: #ffffff;
}
.text-bwtn-line{
  width: 100%;
  border-bottom: 0.5px solid #c6c6c6;
  line-height: 0.1em;
  margin: 10px 0 20px;
}
.ta-results ul {
  padding: 0px;
  margin: 0;
}
.ta-results ul li {
  list-style: none;
  padding: 3px 10px;
  margin: 0;
}
.ta-heading{
    padding:0px 10px;
    display: block;
}
.ta-results ul li:hover {
  cursor: pointer;
  background-color: #c6c6c6;
}
.ta-results li a:hover,.ta-results li a:focus {	
    text-decoration: none;
    outline: none;
}
.ta-products {
  border-left: 1px solid #424240;
  margin-left: -1px;
}
.ta-products-header {
  padding: 20px 20px 30px;
}
.ta-products-header h3 {
  font-size: 20px;
}
.ta-suggested {
  margin: 0 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
}
.ta-suggested:first-child {
  border-top: none;
  padding-top: 0;
}
.ta-suggested ul {
  padding: 0;
}
.ta-suggested li {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.ta-list {
  padding: 5px;
  margin: 0;
}
ul.ta-list li {
  padding: 0;
  list-style: none;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
ul.ta-list li:first-child {
  border-top: none;
}
ul.ta-list li a {
  padding: 10px;
  position: relative;
  display: block;
}
ul.ta-list li a:hover {
  background: #eeeeee;
}
.navbar-nav .open .dropdown-menu {
  border-radius: 0;
}
nav#nav {
  z-index: 1000;
  margin: 0;
  border: none;
  border-radius: 0;
  background: #005c35;
}
nav#nav .navbar-header {
  float: none;
}
nav#nav .navbar-collapse {
  padding: 0;
}
nav#nav .navbar-right {
  margin-right: 0 !important;
  position: absolute;
  right: 15px;
  top: 0;
}
nav#nav .container {
  position: relative;
}
nav#nav .navbar-nav > li > a {
  color: white;
  font-weight: 400;
  font-family: "Pragati Narrow", sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
}
nav#nav .nav-products {
  width: 250px;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
nav#nav .nav-brands {
  width: 150px;
  border-right: 1px solid white;
}
nav#nav .nav-list {
  position: static;
}
nav#nav .nav-list li:hover > a {
  background: transparent;
}
nav#nav .nav-list > a {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: static;
  padding: 15px 0;
  text-align: center;
}
nav#nav .nav-list > a .icon-clipboard {
  position: relative;
  top: -2px;
  font-size: 20px;
  margin-right: 6px;
}
@media (max-width: 600px) {
  nav#nav .nav-list > a span {
    display: none;
  }
}
nav#nav .nav-cart {
  border-right: 1px solid white;
}
nav#nav .nav-cart i {
  margin-right: 4px;
}
nav#nav .dropdown-menu.nav-subnav {
  border-top: none;
  margin-left: -1px;
  margin-right: -1px;
  font-weight: 400;
  font-family: "Pragati Narrow", sans-serif;
  font-size: 16px;
  padding: 0;
  width: 250px;
}
nav#nav .dropdown-menu.nav-subnav a {
  background: white;
  padding: 13px 20px;
  border-bottom: 1px solid #e0dfdc;
  white-space: normal;
  position: relative;
}
nav#nav .dropdown-menu.nav-subnav .dropdown-menu.nav-subsubnav {
  position: absolute;
  left: 248px;
  width: 250px;
  top: 0;
  padding: 0;
  background: #f7f8f8;
  border-top: none;
  font-size: 16px;
  min-height: 100%;
  box-sizing: content-box;
}
nav#nav .dropdown-menu.nav-subnav .dropdown-menu.nav-subsubnav a {
  background: none;
}
nav#nav .dropdown-menu.nav-subnav .dropdown-menu.nav-subsubnav a:hover {
  background: #e7b50b;
}
nav#nav .dropdown-menu.nav-subnav > li:hover > a {
  background: #e7b50b;
}
nav#nav #brandNavi li {
  border-bottom: 1px solid #e0dfdc;
}
nav#nav #brandNavi li:hover a {
  background: #e7b50b;
  color: #333333;
  text-decoration: none;
}
nav#nav #brandNavi a {
  display: block;
  background: white;
  padding: 13px 20px;
  white-space: normal;
  border-bottom: 0px;
}
nav#nav .dropdown-menu.nav-subnav.sub-brands {
  width: 500px;
}
nav#nav .nav-support {
  border-right: 1px solid white;
}
nav#nav.navbar-inverse .navbar-nav > .open > a {
  background: rgba(0, 0, 0, 0.2);
}
nav#nav.navbar-inverse .navbar-nav > .open > a:focus {
  background: rgba(0, 0, 0, 0.2);
}
nav#nav.navbar-inverse .navbar-nav > .open > a:hover {
  background: rgba(0, 0, 0, 0.2);
}
.ie nav#nav .nav-list > a {
  background: #287453;
}
.ie input.form-control[type='file'] {
  height: auto !important;
}
.ie .form-control + .btn {
  top: -3px;
  position: relative;
}
.ie .form-control + .btn.btn-lg {
  top: 0;
}
.nav-list .dropdown-menu {
  border-top: none;
  padding: 0;
  position: absolute !important;
  width: 640px;
  background: white !important;
}
.nav-list .dropdown-menu h4 {
  border-top: 10px solid #e7b50b;
  margin: 0;
  padding: 15px;
}
.nav-list .nav-tabs {
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 1px solid #050505;
}
.nav-list .nav-tabs > li {
  margin-right: -5px;
  margin-bottom: -1px;
}
.nav-list .nav-tabs > li:first-child > a {
  border-left: none !important;
}
.nav-list .nav-tabs > li:nth-child(1) {
  z-index: 20;
}
.nav-list .nav-tabs > li:nth-child(2) {
  z-index: 15;
}
.nav-list .nav-tabs > li:nth-child(3) {
  z-index: 10;
}
.nav-list .nav-tabs > li:nth-child(4) {
  z-index: 5;
}
.nav-list .nav-tabs > li > a {
  border: 1px solid #050505;
  background: #abafb2;
  color: white;
  border-radius: 0;
  border-top-right-radius: 5px;
}
.nav-list .nav-tabs > li > a:focus {
  background-color: #999999;
  border-color: #050505;
}
.nav-list .nav-tabs > li.active > a {
  border: 1px solid #050505;
  color: #575045;
  background: #e7e8e9;
  border-bottom-color: #e7e8e9 !important;
}
.nav-list .nav-tabs > li.active > a:focus {
  border: 1px solid #050505;
  color: #575045;
  background: #e7e8e9;
  border-bottom-color: #e7e8e9 !important;
}
.nav-list .nav-tabs > li.active > a:hover {
  border: 1px solid #050505;
  color: #575045;
  background: #e7e8e9;
  border-bottom-color: #e7e8e9 !important;
}
.nav-list .tab-content .well {
  border: none;
  border-bottom: 1px solid #050505;
  padding: 0;
  background: #e7e8e9;
  position: relative;
  margin: 0;
}
.nav-list .list-controls {
  padding: 20px;
}
.nav-tabs {
  font-weight: normal;
  font-size: 13px;
  border-bottom: none;
}
.nav-tabs > li {
  margin-bottom: 0;
}
.nav-tabs > li > a {
  border: none;
  background: #e6e9ea;
  border-radius: 0;
  text-decoration: none;
}
.nav-tabs > li > a:hover {
  background-color: #999999;
  border-color: #050505;
  background-color: #dddddd;
}
.nav-tabs > li > a:focus {
  background-color: #dddddd;
}
.nav-tabs > li.active > a {
  color: white;
  border: none;
  background: #005c35;
}
.nav-tabs > li.active > a:focus {
  color: white;
  border: none;
  background: #005c35;
}
.nav-tabs > li.active > a:hover {
  color: white;
  border: none;
  background: #005c35;
}
#list-manual .row {
  border-top: 2px dotted #b9baba;
}
#list-manual .row > .list-item {
  padding: 15px;
  border-right: 2px dotted #b9baba;
}
#list-manual .row > .list-item:last-child {
  border-right: none;
}
#list-manual .row:first-child {
  border-top: none;
}
#list-manual .list-add {
  position: absolute;
  right: 0;
  bottom: 45px;
  border-bottom-left-radius: 4px;
}
#list-import .list-download {
  position: absolute;
  right: 0;
  bottom: -30px;
  border-right: none;
  border-bottom-left-radius: 4px;
}
.list-num {
  width: 75%;
  float: left;
  margin-right: 2%;
}
.list-qty {
  width: 23%;
  float: left;
}
.nav-hover > .dropdown:hover > .dropdown-menu {
  display: block;
}
#footer {
  background: #e7e8e9;
  border-top: 30px solid #005c35;
  border-bottom: 3px double #005c35;
  padding: 30px 0;
  font-size: 13px;
  color: #333333;
}
#footer h5 {
  font-size: 14px;
  color: #666666;
  text-transform: uppercase;
  margin-top: 0;
}
#footer a {
  color: #3f3c34;
  text-decoration: none;
}
#footer a:hover {
  text-decoration: underline;
}
#footer ul {
  margin: 0;
  padding: 0;
}
#footer li {
  list-style: none;
  margin: 0 0 5px;
}
#footer li .fa {
  font-size: 18px;
  margin-right: 3px;
  top: 2px;
  position: relative;
}
#footer p {
  margin-bottom: 10px;
}
#footer ul.footer-social li {
  float: left;
  padding-right: 10px;
}
#footer ul.footer-social li a {
  width: 36px;
  height: 36px;
  background: #3f3c34;
  color: white;
  display: block;
  text-align: center;
  border-radius: 40px;
  padding: 7px 0 0 5px;
}
#footer .copyright {
  font-weight: 600;
  text-transform: uppercase;
  clear: both;
  padding-top: 40px;
  color: #3f3c34;
  font-size: 12px;
}
#footer .copyright p {
  display: inline-block;
}
#footer .copyright ul {
  display: inline;
  margin-left: 10px;
}
#footer .copyright ul li {
  display: inline;
  margin: 0 10px;
}
.footer-email {
  background: #f1f2f2;
  border: 1px solid #908779;
  padding: 15px;
  margin: 0 0 10px;
}
#emailform button {
  background: #3f3c34;
  color: white;
  margin-right: -1px;
}
.breadcrumb {
  background: none;
  padding: 0;
  font-size: 12px;
  font-weight: 600;
  margin: 0px 0 30px;
}
.breadcrumb > li + li:before {
  content: "\f105";
  font-size: 16px;
  font-family: FontAwesome;
  text-rendering: auto;
  color: #ffb537;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.breadcrumb a {
  text-decoration: none;
}
ul.page-tools {
  text-transform: uppercase;
  margin: -15px 0 30px;
}
ul.page-tools li {
  list-style: none;
  display: inline;
  margin: 0 0 0 10px;
}
ul.page-tools a {
  text-decoration: none;
}
ul.page-tools a i {
  margin-right: 5px;
}
#background {
  overflow-x: hidden;
  padding: 0;
  background: white;
  width: 100%;
  min-height: 500px;
}
.homepage #body {
  padding-top: 0;
}
.homepage #masthead {
  padding: 50px 0 60px 0;
  text-align: center;
}
.homepage ul.cat-list .cat-thumb {
  height: 220px;
}
.narrow {
  margin-left: -5px;
  margin-right: -5px;
}
.narrow > div {
  padding-left: 5px;
  padding-right: 5px;
}
#sidebar {
  padding-bottom: 30px;
}
#sidebar > *:first-child {
  margin-top: 0;
}
#content {
  padding-bottom: 30px;
}
#content > *:first-child {
  margin-top: 0;
}
#masthead {
  padding: 0;
  background-position: center;
  background-size: cover;
  background-color: #dfdcd8;
  color: white;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
#masthead h1 {
  font-size: 48px;
  font-family: "Pragati Narrow", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 5px;
}
#masthead p {
  font-size: 22px;
  margin: 0 0 30px;
}
.home-news img {
  width: 100%;
}
.home-news h5 {
  margin: 5px 0;
}
.home-news p {
  margin: 5px 0;
}
ul.cat-list.row {
  margin: 0 -15px;
  padding: 0;
}
ul.cat-list.row > li {
  list-style: none;
  margin: 0;
  padding: 15px;
  overflow: hidden;
}
ul.cat-list img {
  border: 1px solid #6f6557;
  margin-bottom: 10px;
}
ul.cat-list h5 {
  height: 30px;
  margin: 0;
}
ul.cat-list a {
  text-decoration: none;
}
ul.cat-list .cat-thumb {
  display: block;
  position: relative;
  border: 1px solid #6f6557;
  height: 175px;
  overflow: hidden;
  margin-bottom: 10px;
}
ul.cat-list .cat-thumb img {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  max-width: none !important;
  min-width: 100%;
  transform: translate(-50%, 0);
  border: none;
  margin: 0;
}
.callout {
  display: block;
  padding: 10px;
  background: #e7e8e9;
  border: 1px solid #84a169;
}
.callout a {
  display: block;
  border: 1px solid #5e5c55;
}
.callout a img {
  display: block;
  border: 5px solid white;
}
.carousel .slick-list {
  overflow: hidden;
  margin: 0 15px;
}
.carousel .slick-slide {
  float: left;
  padding: 0 5px;
  text-align: center;
}
.carousel button {
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 10px;
}
.carousel button:hover {
  color: #999999;
  box-shadow: 0 0 0 transparent;
}
.carousel button:active {
  color: #999999;
  box-shadow: 0 0 0 transparent;
}
.carousel .slick-prev {
  left: -15px;
}
.carousel .slick-next {
  right: -15px;
}
button.slick-arrow {
  position: absolute;
  top: 0;
  height: 100%;
  width: 30px;
  text-align: center;
}
button.slick-prev {
  left: 0;
}
button.slick-next {
  right: 0;
}
section {
  margin: 20px 0 40px;
}
ul.item {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.item a {
  text-decoration: none;
}
.item-title {
  font-weight: 700;
  /* text-transform: uppercase; */
  font-size: 12px;
  line-height: 1.2;
  display: block;
}
.item-sku {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.2;
  display: block;
  margin: 0 0 10px;
}
.item-price {
  font-weight: 700;
  color: #005c35;
  display: block;
}
.item-x {
  color: #005c35;
}
.item-order button {
  text-transform: uppercase;
}
.item-thumb {
  display: block;
  position: relative;
  overflow: hidden;
}
.item-thumb img {
  position: absolute;
  top: 0;
  left: 50%;
  height: auto;
  max-height: 100%;
  transform: translate(-50%, 0);
  border: none;
  margin: 0;
}
.item-plp .item-thumb {
  height: 150px;
}
.item-plp .item-item {
  padding-bottom: 25px;
}
.item-plp .item-frame {
  border: 1px solid #6f6557;
  position: relative;
  padding: 15px;
}
.item-plp .item-col-left {
  float: left;
  width: 20%;
}
.item-plp .item-col-center {
  float: left;
  width: 50%;
  padding-top: 15px;
}
.item-plp .item-col-right {
  float: left;
  width: 30%;
  padding-top: 15px;
}
.item-plp .item-title {
  font-size: 16px;
  /* text-transform: uppercase; */
  margin: 0 0 10px;
}
.item-plp ul.item-skus {
  list-style: none;
  margin: 0;
  padding: 0;
}
.item-plp .item-price {
  font-size: 16px;
  margin: 0 0 10px;
}
.item-plp .item-order .input-group {
  border: none;
  margin: 0 0 20px;
}
.item-plp .item-order .input-group input.form-control {
  border: 1px solid #030303 !important;
}
.item-plp .item-order .input-group .input-group-btn {
  padding-left: 5px;
}
.item-plp .item-order .input-group .input-group-btn .btn {
  padding-left: 20px;
  padding-right: 20px;
}
.item-plp ul.item-tools {
  list-style: none;
  margin: 0;
  padding: 0;
}
.item-plp ul.item-tools li {
  margin: 0 0 5px;
}
.item-plp ul.item-tools i {
  margin-right: 5px;
}
.item-plp.item-grid .item-thumb {
  height: 240px;
}
.item-ymal .item-thumb {
  height: 215px;
}
.item-ymal .item-item {
  text-align: center;
  margin-bottom: 15px;
}
.item-ymal .item-frame {
  display: block;
  border: 1px solid #6f6557;
}
.item-ymal .item-meta {
  display: block;
  border-top: 1px solid #656557;
  border-bottom: 1px solid #656557;
  padding: 10px;
}
.item-ymal .item-title {
  height: auto;
}
.item-ymal .item-order {
  display: block;
  background: #dfdcd8;
  padding: 5px;
  margin: 0;
}
.item-related .item-thumb {
  height: 100px;
}
.item-related .item-item {
  padding: 10px 0;
}
.item-item.item-related + .item-item {
  border-top: 1px solid #dfdbd8;
}
.item-related .item-title {
  font-size: 18px;
  padding: 5px 0;
  margin: 0;
}
.item-related .item-order .input-group {
  border: none;
  margin: 0 0 20px;
}
.item-related .item-order .input-group input.form-control {
  border: 1px solid #030303 !important;
}
.item-related .item-order .input-group .input-group-btn {
  padding-left: 5px;
}
.item-related .item-order .input-group .input-group-btn .btn {
  padding-left: 20px;
  padding-right: 20px;
}
table .item-thumb {
  height: 60px;
  width: 60px;
  margin: 0 auto;
}
table.table-compare .item-thumb {
  height: 160px;
  width: 160px;
  margin-bottom: 10px;
  width: 100%;
}
table.table-compare .item-thumb img {
  position: relative;
  top: auto;
  left: auto;
  height: 100%;
  transform: none;
  border: none;
}
.table.table-compare > tbody > tr:nth-child(2n) th {
  background: none;
}
.table.table-compare > tbody > tr:nth-child(2n) td {
  background: none;
}
ul.item-matlist {
  margin-bottom: 15px;
  max-height: 500px;
  overflow: auto;
  border-top: 1px solid #6f6557;
  border-bottom: 1px solid #6f6557;
}
.item-matlist .item-item {
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
}
.item-matlist .radio {
  margin: 0;
  padding: 0;
}
.item-matlist label {
  border-bottom: 1px solid #6f6557;
  background: #dfdcd8;
  display: block;
  margin: 0;
  padding: 10px 10px 10px 30px;
  text-align: left;
}
.item-matlist .item-frame {
  display: block;
  border: 1px solid #6f6557;
}
.item-matlist .item-meta {
  padding: 10px 0;
}
.item-matlist .item-price {
  margin-bottom: 10px;
}
ul.item.item-ta {
  /*border-top: 1px solid #424240;
  padding-top: 4px;*/
  margin-right: -1px;
}
.item-ta .item-item {  
 border-bottom: 2px ridge #D3D3D3;
  min-height: 90px;	
  padding: 10px 0px;
  /*padding: 20px 400px 20px 20px;
  position: relative;*/
}

.item-ta .item-item-1 {  
  min-height: 118px !important;	  
}

.item-ta .item-item-short {
  border-top: 1px solid #424240;
border-bottom: 2px ridge #D3D3D3;
  min-height: 80px;	
  padding: 10px 0px;
  /*padding: 20px 400px 20px 20px;
  position: relative;*/
}


.ta-header-div {
padding-bottom: 5px;
color: gray;
}

.ta-top-result {
font-size: 14px;
padding-bottom: 10px;
padding-left: 15px;
}

.item-ta .item-title {
  display: block;
}
.item-ta .item-sku {
  position: absolute;
  right: 310px;
  top: 20px;
  width: 70px;
}
.ta-products .item-title{
	font-weight: normal !important;
}
/*
.item-ta .item-thumb {
  position: absolute;
  right: 210px;
  top: 5px;
  width: 60px;
}

.item-ta .item-order {
  position: absolute;
  right: 20px;
  top: 15px;
  text-align: right;
  white-space: nowrap;
}
*/
.item-ta .item-order .item-qty {
height: 28px;
  width: 100%;
  display: inline-block;
}
.item-ta .item-order .addToCartButton {
	width: 100%;
	padding: 5px;
	margin-top: 5px;
	font-size: smaller;
}
#search-result-cont .row-flush {
	border-bottom: solid 1px #000;
	max-height: 400px;
	border-right: 1px solid;
	border-bottom: 1px solid;
}
ul.item-related > .btn-link {
  width: 100%;
  color: #005c35;
  text-decoration: underline;
  outline: none;
}
ul.item-related > .btn-link:focus {
  outline: none;
  color: #003a22;
}
ul.sidebar-nav {
  border: 1px solid #030303;
  padding: 0;
  font-weight: bold;
  font-size: 16px;
}
ul.sidebar-nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.sidebar-nav li:last-child {
  border-bottom: 10px solid #e7b50b;
}
ul.sidebar-nav li a {
  display: block;
  border-bottom: 1px solid #645d52;
  padding: 10px;
}
ul.sidebar-nav li a:hover {
  text-decoration: none;
  background: #e7e8e9;
}
ul.sidebar-nav li.active a {
  text-decoration: none;
  background: #e7e8e9;
}
.expand {
  border: 1px solid #030303;
  padding: 0;
}
.expand .expand-content {
  padding: 5px 10px;
  overflow: hidden;
}
.expand .expand-static {
  padding: 5px 10px;
  overflow: hidden;
}
ul.expand {
  border: 1px solid #030303;
  padding: 0;
}
ul.expand .expand-item:last-child {
  border-bottom: 10px solid #e7b50b;
}
.expand-item {
  border: none;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  border-radius: 0;
}
.expand-label {
  display: block;
  cursor: pointer;
  position: relative;
  font-weight: bold;
  font-family: "Pragati Narrow", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  background: #005c35;
  color: white;
  padding: 5px 10px;
  border-bottom: 1px solid white;
}
.expand-label .fa {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 22px;
  color: #e7b50b;
}
.expand-label .fa-angle-down {
  visibility: hidden;
}
.expand-label .fa-angle-right {
  visibility: visible;
}
.expand-label.active .fa-angle-right {
  visibility: hidden;
}
.expand-label.active .fa-angle-down {
  visibility: visible;
}
.facet.expand-item:last-child {
  border-bottom: 10px solid #e7b50b;
}
.facet-search .form-group {
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
}
.facet-search .form-group label {
  font-weight: normal;
}
ul.expand-content li {
  padding: 3px 0;
  margin: 0 !important;
  list-style: none;
}
ul.expand-content li a {
  text-decoration: none;
}
ul.expand-content li.expand-subhead {
  border-top: 2px solid #cccccc;
  font-weight: bold;
  font-size: 15px;
  margin-top: 5px !important;
  padding-top: 5px;
}
ul.expand-content li.expand-subhead:first-of-type {
  border-top: none;
}
ul.expand-content li.checkbox label {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}
ul.expand-content small {
  color: #999999;
  font-size: .9em;
}
ul.expand-static li {
  padding: 3px 0;
  margin: 0 !important;
  list-style: none;
}
ul.expand-static li a {
  text-decoration: none;
}
ul.expand-static li.checkbox label {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}
ul.expand-static small {
  color: #999999;
  font-size: .9em;
}
.facet-toggle a {
  color: #005c35;
  font-weight: bold;
  font-size: .9em;
  cursor: pointer;
}
.facet-toggle .active .facet-toggle-less {
  display: inline;
}
.facet-toggle .active .facet-toggle-more {
  display: none;
}
.facet-toggle-more {
  display: inline;
}
.facet-toggle-less {
  display: none;
}
ul.facet-selected li {
  padding-left: 20px;
  position: relative;
}
ul.facet-selected i.fa {
  position: absolute;
  left: 0;
  top: 6px;
}
.plp-controls {
  margin: 0 0 15px;
}
.plp-controls::after {
  content: '';
  clear: both;
  height: 0;
  display: block;
}
.plp-controls form.plp-left {
  float: left;
}
span.plp-controls form + span {
  margin-left: 5px;
}
.plp-controls .plp-right {
  float: right;
  vertical-align: middle;
}
.plp-controls .plp-paging {
  float: right;
}
.plp-controls .plp-paging ul.pagination {
  margin: 5px 0 0;
}
ul.plp-view {
  float: right;
  padding: 8px 10px 0 0;
  margin: 0;
}
ul.plp-view li {
  list-style: none;
  display: inline;
  padding: 0 0 0 5px;
}
ul.plp-view li a {
  text-decoration: none;
  cursor: pointer;
}
ul.plp-compare {
  clear: both;
  margin: 0;
  padding: 10px 0 0;
}
ul.plp-compare li {
  list-style: none;
  display: inline;
  padding: 0 15px 0 0;
}
.plp-paging .pagination > li > a {
  border: none;
  color: #333333;
  padding: 3px 4px;
}
.plp-paging .pagination > li > span {
  border: none;
  color: #333333;
  padding: 3px 4px;
}
.plp-paging .pagination > .active > a {
  background: #005c35;
  color: white;
  font-weight: bold;
}
.plp-paging .pagination > .active > a:focus {
  background: #005c35;
  color: white;
  font-weight: bold;
}
.plp-paging .pagination > .active > a:hover {
  background: #005c35;
  color: white;
  font-weight: bold;
}
.plp-paging .pagination > .active > span {
  background: #005c35;
  color: white;
  font-weight: bold;
}
.plp-paging .pagination > .active > span:focus {
  background: #005c35;
  color: white;
  font-weight: bold;
}
.plp-paging .pagination > .active > span:hover {
  background: #005c35;
  color: white;
  font-weight: bold;
}
.well {
  background: white;
  border: 1px solid #dfdbd8;
  box-shadow: none;
  border-radius: 0;
}
.well > *:first-child {
  margin-top: 0;
}
.well > *:last-child {
  margin-bottom: 0;
}
.well label.label-floatlabel {
  background: #eef0f1;
}
.well-info-orange {
  border-color: #e7b50b;
}
.well-info-orange p {
  display: flex;
  flex-shrink: 0;
}
.well-info-orange p .fa {
  font-size: 18px;
  margin-right: 10px;
  color: #e7b50b;
}
.well-info-orange p a {
  text-decoration: none;
}
.well-info-orange p + p {
  margin-top: 10px;
}
.panel-default {
  background: white;
  border: 1px solid #dfdbd8;
  box-shadow: none;
  border-radius: 0;
}
.panel-default .panel-heading {
  background: #005c35;
  color: white;
}
.panel-default label.label-floatlabel {
  background: #eef0f1;
}
.thumbnail {
  background: white;
  border: 1px solid #dfdbd8;
  box-shadow: none;
  border-radius: 0;
  padding: 10px;
}
.thumbnail .resize-thumb {
  height: 185px;
}
dd > *:first-child {
  margin-top: 0;
}
dd > *:last-child {
  margin-bottom: 0;
}
.panel-body > *:first-child {
  margin-top: 0;
}
.panel-body > *:last-child {
  margin-bottom: 0;
}
.well.well-grey {
  background: #e7e8e9;
  border: none;
}
.panel-heading {
  font-weight: bold;
  position: relative;
  border: none;
  border-radius: 0;
}
.panel-heading small {
  font-weight: normal;
  color: #999999;
}
.panel-heading > button {
  position: absolute;
  right: 3px;
  top: 3px;
}
.panel-heading > .btn-group {
  position: absolute;
  right: 3px;
  top: 3px;
}
.panel-heading.box-title-side-bar {
  font-size: 24px;
}
.panel-group .panel {
  border-radius: 0;
}
.panel.panel-light {
  border: 1px solid #e7e8e9;
  border-radius: 0;
}
.panel-light .panel {
  border: 1px solid #e7e8e9;
  border-radius: 0;
}
.panel-light .panel-heading {
  border: none;
  background: #e7e8e9;
  border-radius: 0;
}
.panel-light .panel-body {
  border: none !important;
}
.well.row-flush {
  padding: 0;
  margin: 0;
}
.well.mb0 + .well {
  border-top: 1px solid #abafb2;
  margin-top: -1px;
}
.accordion .panel-heading {
  padding: 0;
}
.accordion .panel-heading a {
  text-decoration: none;
  display: block;
  padding: 10px 15px 10px 40px;
}
.accordion .panel-heading a::before {
  content: "\f055";
  font-size: 16px;
  font-family: FontAwesome;
  text-rendering: auto;
  color: #333333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 15px;
  top: 9px;
}
.accordion .panel-heading a[aria-expanded="true"]::before {
  content: "\f056";
}
ul.tool-list {
  padding: 0;
  font-size: 13px;
  font-weight: 600;
  background: #e7e8e9;
}
ul.tool-list li {
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid white;
}
ul.tool-list li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  background: #e7e8e9;
}
ul.tool-list > li:last-child {
  border: none;
}
.mb-0 {
  margin-bottom: 0px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.pdp-bar .container {
  padding: 15px 0;
}
.pdp-bar input.form-control {
  width: 82px;
}
h2.pdp-bar-title {
  /* text-transform: uppercase; */
  margin: 10px 0 0;
}
.pdp-bar-title-cover {
  display: flex;
  align-items: center;
}
.pdp-bar-title-cover h2 {
  margin-top: 0;
}
.pdp-gallery img {
  border: 1px solid #030303;
  margin: 0 auto;
}
ul.pdp-gallery-hero {
  padding: 0;
  margin: 0 0 15px;
}
ul.pdp-gallery-hero li.cycle-slide {
  display: none !important;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
}
ul.pdp-gallery-hero li.cycle-slide.cycle-slide-active {
  display: block !important;
  position: static !important;
}
.pdp-gallery-thumbs {
  margin-bottom: 15px;
}
.pdp-gallery-thumbs > div {
  /* fix SM-537 and SM-538 */
  /* text-align: center; */
}
.pdp-intro {
  padding-bottom: 15px;
}
/* h1.pdp-title {
  text-transform: uppercase;
} */
h1.pdp-title a {
  color: #005c35;
  text-decoration: none;
  display: inline-block;
}
h1.pdp-title a::after {
  content: '\A';
  white-space: pre;
}
.pdp-order {
  margin: 0 auto 15px;
  max-width: 240px;
}
.pdp-order .input-group {
  border: none;
  margin: 0 0 20px;
}
.pdp-order .input-group input.form-control {
  border: 1px solid #030303 !important;
}
.pdp-order .input-group .input-group-btn {
  padding-left: 5px;
}
.pdp-order .input-group .input-group-btn .btn {
  padding-left: 20px;
  padding-right: 20px;
}
.pdp-price {
  font-weight: bold;
  font-size: 18px;
  margin: 0 0 10px;
}
ul.pdp-tools {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.pdp-tools li {
  margin: 0 0 5px;
}
ul.pdp-tools a {
  text-decoration: none;
}
ul.pdp-tools i {
  margin-right: 5px;
}
.page-tools-cover ul.page-tools {
  margin: 0px 0 0 10px;
}
ul.pdp-docs {
  font-size: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.pdp-docs li {
  margin: 0 0 5px;
}
ul.pdp-docs a {
  text-decoration: none;
}
ul.pdp-docs i {
  margin-right: 5px;
}
.pdp-related {
  margin-bottom: 15px;
}
.pdp-details {
  margin-bottom: 15px;
}
.pdp-details ul.pdp-docs li {
  display: inline;
  margin-right: 20px;
}
.features-section-pdp-details hr.gold:first-child {
  margin-top: 0;
}
.table.table-pdp td {
  border-bottom: 0 !important;
  vertical-align: top;
}
.table.table-pdp tr > td:first-child {
  width: 160px;
}
.brands-featured > * {
  float: left;
  margin-bottom: 15px;
}
.brands-featured a {
  border: 1px solid #dfdbd8;
  display: block;
  padding: 10px;
  text-align: center;
}
.brands-featured img {
  width: 100%;
}
ul.list-unstyled.sitemap-list + h4 {
  border-top: 2px solid #005c35;
  padding-top: 15px;
}
.sitemap-list ul.list-unstyled {
  margin-bottom: 15px;
}
.sitemap-list ul.list-unstyled li {
  overflow: hidden;
  text-overflow: ellipsis;
}
.sitemap-list ul.list-unstyled a {
  text-decoration: none;
}
.body-header h1 {
  margin-top: 0;
  margin-bottom: 20px;
}
.body-header h1 .btn {
  position: absolute;
  right: 15px;
}
.body-header h2 {
  margin-top: 0;
  margin-bottom: 20px;
}
.body-header h2 .btn {
  position: absolute;
  right: 15px;
}
.pagination > li > a {
  border: none;
  color: #333333;
}
.pagination > li > a:focus {
  color: #222222;
}
.pagination > li > a:hover {
  color: #222222;
}
.pagination > li > span {
  border: none;
  color: #333333;
}
.pagination > li > span:focus {
  color: #222222;
}
.pagination > li > span:hover {
  color: #222222;
  background: none;
}
.pagination > .disabled > a {
  color: #999999;
}
.pagination > .disabled > a:focus {
  color: #999999;
}
.pagination > .disabled > a:hover {
  color: #999999;
}
.pagination > .disabled > span {
  color: #999999;
}
.pagination > .disabled > span:focus {
  color: #999999;
}
.pagination > .disabled > span:hover {
  color: #999999;
}
.pagination > .active > a {
  background: #005c35;
}
.pagination > .active > a:focus {
  background: #005c35;
}
.pagination > .active > a:hover {
  background: #005c35;
}
.pagination > .active > span {
  background: #005c35;
}
.pagination > .active > span:focus {
  background: #005c35;
}
.pagination > .active > span:hover {
  background: #005c35;
}
.control-label {
  color: #575045;
  font-family: "Open Sans", sans-serif;
}
textarea.form-control {
  resize: vertical;
  min-height: 34px;
}
.form-control {
  border-radius: 0;
  border-color: #030303;
  text-overflow: ellipsis;
}
.form-control + .btn {
  top: -1px;
  position: relative;
}
input.form-control {
  padding-top: 6px !important;
}
input.form-control.input-lg {
  padding-top: 10px !important;
}
input.form-control.text-center {
  padding-left: 1px;
  padding-right: 1px;
}
.ff input.form-control[type='file'] {
  height: auto !important;
}
.ff select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
}
.btn {
  border-radius: 0;
  border-color: #030303 !important;
  font-weight: 700;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  text-shadow: none !important;
}
.btn .fa {
  font-size: 1.2em;
}
.btn:disabled {
  background: #e7e8e9 !important;
  color: #9d9d9d !important;
}
.btn-group-lg > .btn {
  border-radius: 0;
}
.btn-lg {
  border-radius: 0;
}
.bootstrap-datetimepicker-widget.dropdown-menu {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) !important;
}
.bootstrap-datetimepicker-widget table td {
  border-radius: 0 !important;
}
.bootstrap-datetimepicker-widget table td.active {
  background-color: #024529 !important;
}
.bootstrap-datetimepicker-widget table td.today:before {
  border-bottom-color: #024529;
}
.has-error .form-control {
  border-color: #d3191e;
  color: #d3191e;
  background-color: #f2dede;
}
.has-error .input-group {
  border-color: #d3191e;
  color: #d3191e;
  background-color: #f2dede;
}
.has-error .select-wrap {
  background-color: #f2dede;
}
.checkbox .fauxlabel {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: 400;
  position: relative;
}
.radio .fauxlabel {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: 400;
  position: relative;
}
.fauxlabel > * {
  position: relative;
}
.fauxlabel > input {
  z-index: 2;
}
label.label-floatlabel {
  background: white;
  font-size: 8px;
  line-height: 1;
  padding: 2px 4px;
  z-index: 10;
}
.wk select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select-wrap {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
  background: white;
}
#compute_select {
  display: none;
} 
#searchform .input-group-btn{
    display: inline-table;
}
/*Category search group*/
.header_search_icon{
	font-size: 14px !important;
}
.caret-select{
	z-index:10;
}
select.category_search_bk_gold {
    background: #e7b50c !important;
    border-color: #e7b50c !important;
    color: black;
}
select.category_search_bk_grey {
    background: #f3f3f3 !important;
    border-color: #f3f3f3 !important;
    color: black;
}
.category_search_group {
    display: inline-flex !important;
    width: 480px;
}
.input-group >.category_warp{
    border-right: solid 1px #000000 !important;
}
.searchbox_warp{
    width: 100% !important;
}
.searchbox_warp #headerSearchQuestion{
    width: 100% !important;
}
.category_search_group{
	display: inline-flex !important;
}
.category_search_group .select-wrap{
    display: block !important;
}
.category_search_group .select-wrap select{
    padding-right:0px;
}
.category_search_group select{
    border-color: #fff;
    /*border-right: 1px solid !important;*/
}

.select-wrap select.form-control {
  padding-right: 25px;
  position: relative;
  z-index: 2;
  background: none;
  padding-bottom: 0;
  padding-top: 0;
}
.select-wrap select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 black;
}
.form-inline .select-wrap {
  width: auto;
}
.caret-select {
  position: absolute;
  right: 12px;
  top: 15px;
}
.input-lg + .caret-select {
  top: 22px;
}
.input-qty {
  display: inline-block;
  width: 60px;
}
.input-group {
  border: 1px solid #030303;
  background: white;
}
.input-group button {
  background: none;
  color: #9d9d9d;
  padding-left: 8px;
  padding-right: 8px;
}
.input-group button:hover {
  color: #666666;
}
.input-group > * {
  border-radius: 0 !important;
  border: none !important;
}
*.input-group + input {
  border-left: none;
}
.input-group input {
  border-right-width: 0;
}
.input-group * {
  outline: none !important;
  box-shadow: none !important;
}
.input-group .btn {
  border: none;
  height: 34px;
}
.input-group .btn-primary {
  background-color: #e7b50b;
  color: #010003;
  border: 1px solid #030303 !important;
}

.input-group .btn-primary:focus {
  background-color: #e7b50b;
  color: #010003;
  border: 1px solid #030303 !important;
  background-color: #e9b80f;
}
.input-group .btn-primary:hover {
  background-color: #e9b80f;
  color: #010003;
}
.input-group .btn-primary:active {
  background-color: #e9b80f;
  color: #010003;
}
.input-group .btn-primary.focus {
  background-color: #e7b50b;
  color: #010003;
  border: 1px solid #030303 !important;
}
.input-group .btn-default {
  background-color: #005c35;
  color: white;
  border: 1px solid #030303 !important;
}
.input-group .btn-default:focus {
  background-color: #005c35;
  color: white;
  border: 1px solid #030303 !important;
  background-color: #024529;
}
.input-group .btn-default:hover {
  background-color: #024529;
  color: white;
}
.input-group .btn-default:active {
  background-color: #024529;
  color: white;
}
.input-group .btn-default.focus {
  background-color: #005c35;
  color: white;
  border: 1px solid #030303 !important;
}
.input-group-btn > * {
  border-radius: 0 !important;
  border: none !important;
}
.input-group-btn:last-child > .btn {
  margin-left: 0;
}
.input-group-btn:last-child > .btn-group {
  margin-left: 0;
}
.input-group-addon {
  border-width: 2px;
  border-radius: 0 !important;
}
.input-group-cc {
  padding: 1px 5px;
  background: white;
}
.input-group-cc .fa {
  font-size: 24px;
}
label.radio.disabled {
  color: #999999;
}
label.checkbox.disabled {
  color: #999999;
}
.input-group-addon.input-group-select {
  padding: 0;
  border: none;
  width: auto;
  overflow: hidden;
}
.input-group-select .select-wrap {
  display: block;
}
.input-group-select select {
  width: auto;
  border-right: none;
}
.input-group-search .btn.btn-primary {
  border-right: none !important;
  border-top: none !important;
  border-bottom: none !important;
  text-transform: uppercase;
}
input[type=number] {
  -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.btn-danger {
  background-color: #d3191e;
}
.btn-danger:hover {
  background-color: #c2080d;
}
.btn-primary {
  background-color: #e7b50b;
  color: #010003;
  border: 1px solid #030303 !important;
}

.btn-primary-no-border {
   border: 0px !important;
   padding-left: 5px !important;
   padding-right: 5px !important;
   margin-top: 5px;
   min-width: 90px;
}

.btn-default-no-border {
   border: 0px !important;
   padding-left: 5px !important;
   padding-right: 5px !important;
   margin-top: 5px;
   min-width: 90px;
}

.btn-primary:focus {
  background-color: #e7b50b;
  color: #010003;
  border: 1px solid #030303 !important;
}
.btn-primary:hover {
  background-color: #e9b80f;
  color: #010003;
}
.btn-primary:active {
  background-color: #e9b80f;
  color: #010003;
}
.btn-primary:active:focus {
  background-color: #e9b80f;
  color: #010003;
}
.btn-primary:active:hover {
  background-color: #e9b80f;
  color: #010003;
}
.btn-primary:active.focus {
  background-color: #e9b80f;
  color: #010003;
}
.btn-primary.focus {
  background-color: #e7b50b;
  color: #010003;
  border: 1px solid #030303 !important;
}
.btn-primary.active {
  background-color: #e9b80f;
  color: #010003;
}
.btn-primary.active:focus {
  background-color: #e9b80f;
  color: #010003;
}
.btn-primary.active:hover {
  background-color: #e9b80f;
  color: #010003;
}
.open > .dropdown-toggle.btn-primary {
  background-color: #e9b80f;
  color: #010003;
}
.open > .dropdown-toggle.btn-primary:focus {
  background-color: #e9b80f;
  color: #010003;
}
.open > .dropdown-toggle.btn-primary:hover {
  background-color: #e9b80f;
  color: #010003;
}
.open > .dropdown-toggle.btn-primary.focus {
  background-color: #e9b80f;
  color: #010003;
}
.open > .dropdown-toggle.btn-default {
  background-color: #024529;
  color: white;
}
.open > .dropdown-toggle.btn-default:focus {
  background-color: #024529;
  color: white;
}
.open > .dropdown-toggle.btn-default:hover {
  background-color: #024529;
  color: white;
}
.open > .dropdown-toggle.btn-default.focus {
  background-color: #024529;
  color: white;
}
.open > .dropdown-toggle.btn-info {
  background-color: #999999;
  color: #010003;
}
.open > .dropdown-toggle.btn-info:focus {
  background-color: #999999;
  color: #010003;
}
.open > .dropdown-toggle.btn-info:hover {
  background-color: #999999;
  color: #010003;
}
.open > .dropdown-toggle.btn-info.focus {
  background-color: #999999;
  color: #010003;
}
.open > .dropdown-toggle.btn-link {
  background-color: transparent;
  color: #999999;
}
.open > .dropdown-toggle.btn-link:focus {
  background-color: transparent;
  color: #999999;
}
.open > .dropdown-toggle.btn-link:hover {
  background-color: transparent;
  color: #999999;
}
.open > .dropdown-toggle.btn-link.focus {
  background-color: transparent;
  color: #999999;
}
.btn-primary.active.focus {
  background-color: #e9b80f;
  color: #010003;
}
.btn-default {
  background-color: #005c35;
  color: white;
  border: 1px solid #030303 !important;
}
.btn-default:focus {
  background-color: #005c35;
  color: white;
  border: 1px solid #030303 !important;
}
.btn-default:hover {
  background-color: #024529;
  color: white;
}
.btn-default:active {
  background-color: #024529;
  color: white;
}
.btn-default:active:focus {
  background-color: #024529;
  color: white;
}
.btn-default:active:hover {
  background-color: #024529;
  color: white;
}
.btn-default:active.focus {
  background-color: #024529;
  color: white;
}
.btn-default.focus {
  background-color: #005c35;
  color: white;
  border: 1px solid #030303 !important;
}
.btn-default.active {
  background-color: #024529;
  color: white;
}
.btn-default.active:focus {
  background-color: #024529;
  color: white;
}
.btn-default.active:hover {
  background-color: #024529;
  color: white;
}
.btn-default.active.focus {
  background-color: #024529;
  color: white;
}
.btn-info {
  background-color: #bdc0c3;
  color: #010003;
}
.btn-info:focus {
  background-color: #bdc0c3;
  color: #010003;
}
.btn-info:hover {
  background-color: #999999;
  color: #010003;
}
.btn-info:active {
  background-color: #999999;
  color: #010003;
}
.btn-info:active:focus {
  background-color: #999999;
  color: #010003;
}
.btn-info:active:hover {
  background-color: #999999;
  color: #010003;
}
.btn-info:active.focus {
  background-color: #999999;
  color: #010003;
}
.btn-info.focus {
  background-color: #bdc0c3;
  color: #010003;
}
.btn-info.active {
  background-color: #999999;
  color: #010003;
}
.btn-info.active:focus {
  background-color: #999999;
  color: #010003;
}
.btn-info.active:hover {
  background-color: #999999;
  color: #010003;
}
.btn-info.active.focus {
  background-color: #999999;
  color: #010003;
}
.btn-link {
  background-color: transparent;
  border-color: transparent !important;
  color: #575045;
  font-weight: normal;
  padding-left: 2px;
  padding-right: 2px;
}
.btn-link:focus {
  background-color: transparent;
  border-color: transparent !important;
  color: #575045;
  font-weight: normal;
  padding-left: 2px;
  padding-right: 2px;
}
.btn-link:hover {
  background-color: transparent;
  color: #999999;
}
.btn-link:active {
  background-color: transparent;
  color: #999999;
}
.btn-link:active:focus {
  background-color: transparent;
  color: #999999;
}
.btn-link:active:hover {
  background-color: transparent;
  color: #999999;
}
.btn-link:active.focus {
  background-color: transparent;
  color: #999999;
}
.btn-link.focus {
  background-color: transparent;
  border-color: transparent !important;
  color: #575045;
  font-weight: normal;
  padding-left: 2px;
  padding-right: 2px;
}
.btn-link.active {
  background-color: transparent;
  color: #999999;
}
.btn-link.active:focus {
  background-color: transparent;
  color: #999999;
}
.btn-link.active:hover {
  background-color: transparent;
  color: #999999;
}
.btn-link.active.focus {
  background-color: transparent;
  color: #999999;
}
.table-pdp-specs tbody {
  flex-wrap: wrap;
  display: flex;
}
.table-pdp-specs tbody tr {
  width: 49%;
  border-right: 2px solid white;
  margin: 1px;
  display: flex;
}
.table-pdp-specs tbody tr td {
  width: 50%;
  float: left;
  border: none;
  flex: 1;
}
.table-pdp-specs > tbody > tr:nth-child(2n) td {
  background-color: transparent !important;
}
.table-pdp-specs > tbody > tr:nth-child(4n+3) {
  background-color: #e6e9ea;
}
.table-pdp-specs > tbody > tr:nth-child(4n) {
  background-color: #e6e9ea;
}
.table {
  font-family: "Open Sans", sans-serif;
  margin: 0 0 10px;
}
.table > thead > tr > th {
  border-bottom: 5px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  vertical-align: middle;
  background: #005c35;
  color: white;
  vertical-align: bottom;
}
.table > thead > tr > th:first-child {
  border-left: none;
}
.table > thead > tr > th:last-child {
  border-right: none;
}
.table > thead > tr > td {
  border-bottom: 5px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  vertical-align: middle;
  background: #005c35;
  color: white;
  vertical-align: bottom;
}
.table > thead > tr > td:first-child {
  border-left: none;
}
.table > thead > tr > td:last-child {
  border-right: none;
}
.table > tbody > tr > th {
  border-bottom: 5px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  vertical-align: middle;
}
.table > tbody > tr > th:first-child {
  border-left: none;
}
.table > tbody > tr > th:last-child {
  border-right: none;
}
.table > tbody > tr > td {
  border-bottom: 5px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  vertical-align: middle;
}
.table > tbody > tr > td:first-child {
  border-left: none;
}
.table > tbody > tr > td:last-child {
  border-right: none;
}
.table > tbody > tr:nth-child(2n) th {
  background: #e6e9ea;
}
.table > tbody > tr:nth-child(2n) td {
  background: #e6e9ea;
}
.table > tbody > tr.active > td {
  background: #e7b50b;
}
.table thead a {
  color: white;
  text-decoration: none;
  white-space: nowrap;
}
.table thead a:hover {
  color: #eeeeee;
}
.table tbody a {
  text-decoration: none;
}
.table th.check {
  width: 1%;
  white-space: nowrap;
  text-align: center;
}
.table th.check label {
  margin: 0;
}
.table td.check {
  width: 1%;
  white-space: nowrap;
  text-align: center;
}
.table td.check label {
  margin: 0;
}
.table th.check.text-left {
  text-align: left;
}
.table td.check.text-left {
  text-align: left;
}
.table .table {
  background: none !important;
}
.table .table td {
  border: none !important;
  background: none !important;
  border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
}
.table.table-mobile tbody tr td .caption {
  display: none;
}
.table.table-white th {
  background: none !important;
  color: #333333 !important;
}
.table.table-white th a {
  color: #333333;
}
.table.table-white td {
  background: none !important;
  color: #333333 !important;
}
.reorder {
  width: 140px;
  margin-left: 10px;
}
.list-header {
  background: #005c35;
  color: white;
  margin: 0 0 5px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}
.list-header > div {
  border-left: 1px solid white;
  border-right: 1px solid white;
  margin-right: -1px;
  padding: 10px 15px !important;
  position: static;
}
.list-header > div:first-child {
  border-left: none;
}
.list-header > div:last-child {
  border-right: none;
}
.list-item > div {
  border-left: 1px solid white;
  border-right: 1px solid white;
  margin-right: -1px;
  padding: 10px 15px !important;
  position: static;
}
.list-item > div:first-child {
  border-left: none;
}
.list-item > div:last-child {
  border-right: none;
}
.list-item > label > div {
  border-left: 1px solid white;
  border-right: 1px solid white;
  margin-right: -1px;
  padding: 10px 15px !important;
  position: static;
}
.list-item > label > div:first-child {
  border-left: none;
}
.list-item > label > div:last-child {
  border-right: none;
}
ul.list {
  padding: 0 0 10px;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
ul.list li.list-item {
  margin: 0 0 5px;
  padding: 0;
  list-style: none;
  position: relative;
}
ul.list li.list-item > label {
  display: block;
  font-weight: normal;
  margin: 0;
}
ul.list li.list-item > label::after {
  clear: both;
  height: 0;
  overflow: hidden;
  content: '';
  display: block;
}
ul.list li.list-item:nth-child(2n) {
  background: #e6e9ea;
}
ul.list li.list-item label.active {
  background: #e7b50b;
}
ul.list li.list-item.active {
  background: #e7b50b;
}
.table-compare {
  border-top: none;
}
.table-compare tbody tr td {
  width: 240px;
  vertical-align: top;
}
.table-compare tr:first-child td {
  text-align: center;
  border-top: none;
}
.table-compare tr > td:first-child {
  font-weight: bold;
  width: auto;
}
.table-compare .item-item .item-thumb img {
  margin: 0 auto 10px;
  border: 1px solid #645d52;
}
.table-compare .item-item .item-qty {
  width: 50px;
  display: inline-block;
}
.table-compare .item-item .item-remove-product {
  cursor: pointer;
}
.location-list {
  font-size: 16px;
  font-weight: bold;
}
.location-list ul {
  margin: 0;
}
.location-list ul > li {
  padding: 10px !important;
}
.location-list a {
  text-decoration: none;
}
.location-state .row {
  margin: 0 15px;
}
.location-state .row > *:nth-child(3n&+1) {
  clear: both;
}
.location-thumb {
  margin-left: -4px;
  padding: 0;
}
.credit-application {
  margin: 30px 350px -20px;
}
.credit-application .row .title {
  margin-bottom: 30px;
}
.add-reference {
  margin-top: 20px;
}
.add-customer {
  margin-top: 20px;
}
.add-state {
  margin-bottom: 20px;
}
.cs-desc {
  height: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.manager {
  padding-bottom: 10px;
}
.manager + .manager {
  border-top: 1px solid #dfdbd8;
  padding-top: 20px;
}
.manager h3 {
  margin-top: 0;
}
ul.events {
  padding: 0;
}
ul.events li {
  list-style: none;
  margin: 0;
  padding: 15px 0;
  border-top: 1px solid #dfdbd8;
}
article.news {
  padding-bottom: 15px;
}
article.news + article.news {
  border-top: 1px solid #dfdbd8;
  padding-top: 15px;
}
.news header {
  margin-bottom: 10px;
}
.news-date {
  color: #666666;
  margin-top: -5px;
}
.affiliate {
  padding-bottom: 10px;
}
.affiliate + .affiliate {
  border-top: 1px solid #dfdbd8;
  padding-top: 20px;
}
.affiliate h4 {
  margin-bottom: 10px;
}
.resize-thumb {
  display: block;
  position: relative;
  overflow: hidden;
}
.resize-thumb img {
  position: absolute;
  top: 0;
  left: 50%;
  top: 50%;
  height: 100%;
  max-width: none !important;
  min-width: 100%;
  transform: translate(-50%, -50%);
  border: none;
  margin: 0;
}
.account-overview-list ul {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}
.account-overview-list ul li {
  padding: 3px 0 3px 22px;
  list-style: none;
  position: relative;
}
.account-overview-list ul li a {
  text-decoration: none;
}
.account-overview-list ul li i {
  font-size: 16px;
  color: #999999;
  position: absolute;
  left: 0;
  top: 3px;
}
.account-search-combo {
  width: 100%;
  height: 34px !important;
  overflow: hidden;
  display: block;
}
.account-search-combo > * {
  width: 50% !important;
  float: left;
}
.account-search-combo select {
  border-top: none;
  border-left: none;
  border-bottom: none;
}
.checkout-payment-cards {
  font-size: 30px;
  padding-top: 20px;
  color: #666666;
}
.collapse-description {
  height: 57px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: height 0.25s linear;
  -o-transition: height 0.25s linear;
  transition: height 0.25s linear;
  margin-bottom: 20px;
  position: relative;
}
.collapse-description .more {
  padding: 2px 2px 2px 45px;
  color: #333333;
  font-weight: bold;
  position: absolute;
  right: 0;
  bottom: -5px;
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.1) 0%, white 40%);
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0.1) 0%, white 40%);
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1) 0%, white 40%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1AFFFFFF', endColorstr='#FFFFFFFF', GradientType=1);
}
.collapse-description.full {
  -webkit-transition: height 0.25s linear;
  -o-transition: height 0.25s linear;
  transition: height 0.25s linear;
  overflow: visible;
}
.collapse-description.full .more {
  bottom: -20px;
}
body.admin {
  border-left: 4px solid #d3191e;
  border-right: 4px solid #d3191e;
}
body.admin::before {
  width: 100%;
  height: 0;
  border-top: 4px solid #d3191e;
  position: fixed;
  z-index: 998;
  content: '';
  left: 0;
  top: 0;
}
body.admin::after {
  width: 100%;
  height: 0;
  border-bottom: 4px solid #d3191e;
  position: fixed;
  z-index: 50;
  content: '';
  left: 0;
  bottom: 0;
}
#adminbar {
  background: #d3191e;
  padding: 10px;
  color: white;
}
.alert {
  border-radius: 0;
  color: #333333;
  font-weight: normal;
  position: relative;
  padding: 0;
}
.alert-prices {
  border-radius: 0;
  color: #333333;
  font-weight: normal;
  position: relative;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}
.alert-icon {
  padding-left: 30px;
}
.alert-icon > i {
  position: absolute;
  left: 0;
  top: 10px;
  font-size: 20px;
}
.alert.alert-info {
  padding: 20px;
}
.alert.alert-danger {
  padding: 20px;
}
.alert.alert-success {
  padding: 20px;
}
.alert.alert-warning {
  padding: 20px;
}
.alert-icon.alert-info {
  padding-left: 50px;
}
.alert-icon.alert-info > i {
  left: 20px;
  top: 20px;
}
.alert-icon.alert-danger {
  padding-left: 50px;
}
.alert-icon.alert-danger > i {
  left: 20px;
  top: 20px;
}
.alert-icon.alert-success {
  padding-left: 50px;
}
.alert-icon.alert-success > i {
  left: 20px;
  top: 20px;
}
.alert-icon.alert-warning {
  padding-left: 50px;
}
.alert-icon.alert-warning > i {
  left: 20px;
  top: 20px;
}
.label-danger {
  background: #d3191e;
}
.label-warning {
  background: #e7b50b;
}
.modal-header {
  background: #e7b50b;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  height: 32px;
  padding: 7px 10px;
}
.modal-icon {
  position: absolute;
  left: 10px;
  top: 5px;
  height: 54px;
  width: 54px;
  border: 3px solid #e7b50b;
  background: white;
  border-radius: 40px;
  font-size: 30px;
  text-align: center;
  padding: 4px 0 0;
  z-index: 5;
}
h4.modal-title {
  text-align: center;
  text-transform: none;
  margin: 0 0 10px;
}
.modal-dialog.modal-narrow {
  max-width: 400px;
}
.modal-dialog.modal-wide {
  width: auto;
  max-width: 1180px;
}
.modal-dialog.modal-middle-wide {
  width: auto;
  max-width: 760px;
}
.modal-body {
  padding: 20px 30px;
}
.modal-body-guest {
  padding: 0;
}
.modal-body-guest .row {
  margin: 0;
}
.modal-body-guest .row > .col-container {
  padding: 35px 20px;
}
.modal-body-guest .modal-title {
  text-align: left;
}
.bg-gray {
  background-color: #ececec;
}
.mt20 {
  margin-top: 20px;
  margin-top: 20px !important;
}
.mt30 {
  margin-top: 30px;
}
.mb20 {
  margin-bottom: 20px;
  margin-bottom: 20px !important;
}
.mb30 {
  margin-bottom: 30px;
  margin-bottom: 30px !important;
}
.forgot-password-link-modal {
  display: block;
  margin-bottom: 15px;
  margin-top: 10px;
}
.checkout-address-form {
  max-width: 700px;
}
.modal-content img.media-object {
  max-width: none;
}
.atc {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 10000;
}
.atc .alert {
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
}
.atc button {
  margin-top: -3px;
  margin-right: 15px;
  font-size: 30px;
}
.badge {
  padding: 3px 5px;
  border-radius: 0;
  font-size: 10px;
  letter-spacing: 0;
  top: -1px;
  position: relative;
}
.badge.bg-gold {
  color: #333333;
}
.badge.bg-green {
  color: #333333;
}
.dropdown-menu {
  border: 1px solid #645d52;
  margin: 0;
  border-radius: 0;
}
.mt-20 {
  margin-top: -20px;
}
.mt0 {
  margin-top: 0 !important;
}
.mt5 {
  margin-top: 5px !important;
}
.mt15 {
  margin-top: 15px !important;
}
.mt40 {
  margin-top: 40px !important;
}
.mb0 {
  margin-bottom: 0 !important;
}
.mb5 {
  margin-bottom: 5px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mb15 {
  margin-bottom: 15px !important;
}
.ml5 {
  margin-left: 5px !important;
}
.ml10 {
  margin-left: 10px !important;
}
.ml15 {
  margin-left: 15px !important;
}
.mr5 {
  margin-right: 5px !important;
}
.mr10 {
  margin-right: 10px !important;
}
.mr15 {
  margin-right: 15px !important;
}
.p0 {
  padding: 0 !important;
}
.p15 {
  padding: 15px !important;
}
.pt5 {
  padding-top: 5px !important;
}
.pt10 {
  padding-top: 10px !important;
}
.pt15 {
  padding-top: 15px !important;
}
.pt20 {
  padding-top: 20px !important;
}
.pr10 {
  padding-right: 10px !important;
}
.pb5 {
  padding-bottom: 5px !important;
}
.pb20 {
  padding-bottom: 20px !important;
}
.pl0 {
  padding-left: 0 !important;
}
.pr0 {
  padding-right: 0 !important;
}
.topright {
  position: absolute;
  right: 0;
  top: 0;
}
.text-upper {
  text-transform: uppercase !important;
}
.text-nocase {
  text-transform: none !important;
}
.text-nodec {
  text-decoration: none !important;
}
.text-top {
  vertical-align: top !important;
}
.text-top td {
  vertical-align: top !important;
}
.text-middle {
  vertical-align: middle !important;
}
.text-middle td {
  vertical-align: middle !important;
}
.icon-large {
  font-size: 50px;
  border: 1px solid #dfdbd8;
  padding: 30px 0;
  text-align: center;
}
.display-block {
  display: block;
}
.text-center > .display-block {
  margin-left: auto;
  margin-right: auto;
}
.form-horizontal label.text-left {
  text-align: left !important;
}
.col-sm-20 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
.col-sm-40 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
.col-sm-60 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
.col-md-20 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
.col-md-40 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
.col-md-60 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
.modal-product-list-item {
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
}
.modal-product-list-item:before {
  content: '';
  display: block;
  position: absolute;
  left: -15px;
  bottom: 0;
  height: 1px;
  width: 104.25%;
  background-color: #dedede;
}
.modal-product-list-item .media .media-left a {
  display: block;
  width: 60px;
}
.modal-product-list-item .media .media-left a img {
  display: block;
  width: 100%;
  height: auto;
}
.text-success {
  color: #005c35;
}
.associated-products-container {
  position: relative;
}
.associated-products-container.absolute > .panel {
  position: absolute;
  top: 0;
  right: 0;
  margin-left: 15px;
  margin-right: 15px;
  z-index: 40;
}
.max-width-100 img {
  max-width: 100% !important;
}
.cols-padding-sm > .col-xs-12 {
  padding-left: 0;
  padding-right: 0;
}
.cols-padding-5 > div {
  padding-left: 0;
  padding-right: 0;
}
.download-template-link {
  margin-bottom: 10px;
  color: #005c35;
}
.fileinput-custom {
  width: 160%;
}
.fileinput-custom input {
  display: none;
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile ~ label {
  width: calc(54%);
  max-width: 100%;
  font-size: 1.25rem;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  color: black;
  background-color: white;
  padding: 0;
}
.inputfile ~ label svg {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  fill: currentColor;
}
.inputfile ~ label span {
  width: 100%;
  height: 32px;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: top;
  border: 1px solid black;
}
.inputfile:focus ~ label {
  outline: 1px dotted black;
  outline: -webkit-focus-ring-color auto 5px;
}
.no-js .inputfile ~ label {
  display: none;
}
.inputfile.has-focus ~ label {
  outline: 1px dotted black;
  outline: -webkit-focus-ring-color auto 5px;
}
.inputfile-6:focus ~ label {
  border-color: black;
}
.inputfile-6:focus ~ label strong {
  background-color: gray;
}
.inputfile-6 ~ label:hover {
  border-color: black;
}
.inputfile-6 ~ label:hover strong {
  background-color: gray;
}
.inputfile-6 ~ label span {
  padding: 5px 11px;
}
.inputfile-6 ~ label strong {
  padding: 5px 11px;
  height: 100%;
  color: white;
  background-color: #c1c1c1;
  border: 1px solid #c1c1c1;
  display: inline-block;
  margin-left: -1px;
}
.inputfile-6.has-focus ~ label {
  border-color: black;
}
.inputfile-6.has-focus ~ label strong {
  background-color: gray;
}
.fileinput-filename {
  position: absolute;
  left: 35px;
  max-height: 22px;
  text-overflow: ellipsis;
}
.legdis-fixed {
  position: fixed;
  will-change: transform;
}
.legdis-fixed-bottom {
  bottom: 0;
  left: 0;
  right: 0;
}
.legdis-button {
  background-color: #e4ac0f;
  color: black;
  cursor: pointer;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 12px;
  margin-left: 2%;
  border: 0;
  position: relative;
  padding: 4px 24px;
  min-width: 90px;
}
.legdis-button::after {
  background-color: white;
  bottom: 0;
  content: '';
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  will-change: opacity;
  z-index: -1;
}
.legdis-button:focus::after {
  opacity: 1;
}
.legdis-button:hover::after {
  opacity: 1;
}
.legal-disclaimer {
  background-color: #00512e;
  color: white;
  font-size: 12px;
  text-align: center;
  font-weight: 400;
  padding: 1.75em 0;
  margin: auto;
  line-height: 1.5;
  opacity: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.5s;
  z-index: 3;
}
.legal-disclaimer.is-active {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.legdis-media {
  margin: auto 200px;
  display: block;
}
.legdis-media-body p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  margin-bottom: 0;
}
.legdis-media-body p a.legdis-href:link {
  color: white;
  text-decoration: underline;
}
.legdis-media-body p a.legdis-href:visited {
  color: white;
  text-decoration: underline;
}
.legdis-media-body p a.legdis-href:hover {
  color: #999999;
  text-decoration: underline;
}
.dropdown-menu-first-level li.open a {
  background: #e7b50b !important;
}
.subdropdown-menu-second-level {
  display: none;
  position: absolute;
  background-color: white;
  left: 248px;
  min-width: 250px;
  border: 1px solid #645d52;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.subdropdown-menu-second-level li {
  display: none;
}
.subdropdown-menu-second-level a {
  display: block;
  clear: both;
  font-weight: 400;
  font-family: "Pragati Narrow", sans-serif;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
  background: white;
  padding: 13px 20px;
  border-bottom: 1px solid #e0dfdc;
  text-decoration: none;
  font-size: 16px;
  position: relative;
}
.subdropdown-menu-second-level a:hover {
  background: #e7b50b;
}
.subdropdown-menu-second-level a:after {
  /* content: "\f105"; */
  display: inline-block;
  font-family: FontAwesome;
  text-rendering: auto;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #666666;
}
.scrollable-x {
  overflow-x: auto;
}
.scrollable-y {
  overflow-y: auto;
}
@media screen and (min-width: 1200px) {
  span.visible-lg {
    display: inline !important;
  }
}
@media screen and (max-width: 1199px) {
  .homepage #masthead img {
    width: 100%;
    margin-top: 40px;
  }
  .homepage ul.cat-list .cat-thumb {
    height: 165px;
  }
  .modal-dialog.modal-wide {
    margin-left: 10px;
    margin-right: 10px;
  }
  ul.cat-list .cat-thumb {
    height: 135px;
  }
  .item-plp .item-thumb {
    height: 120px;
  }
  .item-plp.item-grid .item-thumb {
    height: 190px;
  }
  .item-ymal .item-thumb {
    height: 175px;
  }
  .item-related .item-thumb {
    height: 75px;
  }
  .thumbnail .resize-thumb {
    height: 150px;
  }
}
@media screen and (min-width: 992px) {
  body {
    padding-top: 190px;
  }
  #stick {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: white;
    z-index: 200;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .admin #stick {
    position: static;
  }
  #header {
    height: 100px;
  }
  nav#nav .dropdown-menu.nav-subnav > li:hover .dropdown-menu.nav-subsubnav {
    display: block;
  }
  nav#nav .nav-products .dropdown-menu.nav-subnav > li > a::after {
    content: "\f105";
    display: inline-block;
    font-family: FontAwesome;
    text-rendering: auto;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #666666;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .ontop .pdp-bar {
    transition: height .2s;
    height: 0;
    overflow: hidden;
  }
  .ontop #header {
    height: 100px;
    /*overflow: hidden;*/
    transition: height .2s;
  }
  .offtop .pdp-bar {
    transition: height .2s;
    min-height: 90px;
    overflow: hidden;
  }
  .offtop #header {
    height: 0;
    overflow: hidden;
    transition: height .2s;
  }
  #body {
    min-height: 600px;
  }
  .col-md-pull-0 {
    left: 0 !important;
  }
  .col-md-push-0 {
    left: 0 !important;
  }
  .col-md-20 {
    width: 20%;
  }
  .col-md-40 {
    width: 40%;
  }
  .col-md-60 {
    width: 60%;
  }
  .item-plp.item-grid .item-item {
    float: left;
    width: 33.33333%;
    padding-bottom: 15px;
  }
  .item-plp.item-grid .item-col-left {
    float: none;
    width: auto;
  }
  .item-plp.item-grid .item-col-center {
    float: none;
    width: auto;
    padding-top: 0;
    height: 130px;
  }
  .item-plp.item-grid .item-col-right {
    float: none;
    width: auto;
  }
  .item-matlist .item-thumb {
    height: 165px;
  }
  .item-duplicates .item-thumb {
    height: 260px;
  }
  .location-state:before {
    content: "";
    display: block;
    height: 100px;
    margin: -100px 0 0;
  }
}
@media screen and (max-width: 991px) {
  nav#top {
    border: none;
    height: auto;
  }
  nav#top .container {
    padding: 0;
  }
  nav#top ul.nav > li {
    display: block;
    float: none;
  }
  nav#top ul.nav > li > a {
    height: auto;
    padding: 5px 10px;
  }
  nav#top .nav-text {
    height: auto;
    padding: 5px 10px;
  }
  #top .navbar-nav {
    margin: 0;
  }
  #header {
    height: auto;
  }
  .header-logo img {
    max-width: 80%;
  }
  #ta {
    width: 130%;
    border-left: none;
    border-right: none;
  }
    #ta .item-ta .btn-primary{
       min-width: 0;
       font-size: x-small;
    }
  #searchform {
    left: 78px;
  }
  nav#nav .container {
    margin: 0;
    padding: 0;
    height: 50px;
  }
  nav#nav ul.navbar-right {
    margin: 0;
  }
  nav#nav ul.navbar-right > li {
    float: left;
  }
  nav#nav ul.navbar-right > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  nav#nav .navbar-header {
    margin: 0;
    width: 60px;
    position: relative;
  }
  nav#nav .navbar-header button {
    text-align: center;
    font-size: 26px;
    color: white;
    width: 60px;
    height: 50px;
    display: block;
    padding: 8px 0;
    background: none;
    border: none;
    border-right: 1px solid white;
  }
  nav#nav .navbar-header button[aria-expanded="true"] {
    background: rgba(0, 0, 0, 0.2);
  }
  nav#nav .navbar-collapse {
    width: 100%;
    margin: 0;
    border: none;
    padding: 0;
    background: white;
    text-align: left !important;
  }
  nav#nav .navbar-collapse > ul.navbar-nav {
    margin: 0;
    width: auto;
    float: none;
  }
  nav#nav .navbar-collapse > ul.navbar-nav > li {
    width: auto;
    border: none;
    border-bottom: 1px solid #e0dfdc;
    text-align: left;
    float: none;
  }
  nav#nav .navbar-collapse > ul.navbar-nav > li > a {
    text-align: left;
    padding: 10px 15px;
    color: black;
  }
  nav#nav .dropdown-menu.nav-subnav {
    margin: 0;
    width: 100%;
    position: static;
  }
  nav#nav .dropdown-menu.nav-subnav > li {
    width: auto;
    text-align: left;
  }
  nav#nav .dropdown-menu.nav-subnav > li > a {
    text-align: left;
    padding: 10px 15px;
  }
  nav#nav .nav-cart {
    border-right: none;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
  }
  .navbar-nav .nav-list {
    position: static;
  }
  .navbar-nav .nav-list.open .dropdown-menu {
    border-top: none;
    padding: 0;
    position: absolute;
    left: auto;
    right: 0;
    width: 499px;
    background: white !important;
  }
  .container {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
  .homepage #body {
    padding: 0;
    margin: 0;
    width: auto;
  }
  .homepage #body .container {
    padding: 0;
    margin: 0;
    width: auto;
  }
  .homepage section {
    padding: 0;
    margin: 0;
    width: auto;
  }
  .homepage ul.cat-list .cat-thumb {
    height: auto;
  }
  section.home-cats .row {
    margin: 0;
  }
  ul.mobile {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: "Pragati Narrow", sans-serif;
    font-size: 20px;
    line-height: 1;
    border-right: 1px solid #e0dfdc;
  }
  ul.mobile li {
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid #e0dfdc;
  }
  ul.mobile li a {
    display: block;
    padding: 15px 15px 15px 35px;
    position: relative;
    background: white;
    text-decoration: none;
  }
  ul.mobile li a:hover {
    color: black;
    background: #e7b50b;
    text-decoration: none;
  }
  ul.mobile li a i {
    position: absolute;
    left: 10px;
    top: 15px;
  }
  ul.mobile li a[aria-expanded="true"] {
    color: black;
    background: #e7b50b;
    text-decoration: none;
  }
 .content_none::after{
    content: none !important;
 }
  ul.mobile > li > a::after {
    content: "\f105";
    display: inline-block;
    font-family: FontAwesome;
    text-rendering: auto;
    position: relative;
    float: right;
    right: -5px;
    top: 2px;
    color: #666666;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  ul.mobile > li > a[aria-expanded="true"]::after {
    content: "\f107";
  }
  ul.mobile ul {
    padding: 0;
  }
  ul.mobile-secondary li a {
    background: #f7f8f8;
  }
  #footer .copyright ul {
    display: block;
    margin: 10px 0 0;
  }
  .checkout #body.container {
    width: auto;
  }
  #modal-leads .modal-dialog {
    width: 720px;
  }
  .sm-block {
    display: block;
  }
  ul.cat-list h5 {
    height: 60px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  ul.cat-list .cat-thumb {
    height: auto;
  }
  ul.cat-list .cat-thumb img {
    width: auto;
    height: auto !important;
    position: static;
    display: block;
    transform: none;
    max-width: 100% !important;
  }
  .item-plp .item-col-left {
    width: 25%;
  }
  .item-plp .item-col-center {
    width: 40%;
  }
  .item-plp .item-col-right {
    width: 35%;
  }
  .item-plp .item-thumb {
    height: auto;
  }
  .item-plp .item-thumb img {
    width: auto;
    height: auto !important;
    position: static;
    display: block;
    transform: none;
    max-width: 100% !important;
  }
  .item-related .item-item {
    padding: 10px;
  }
  .item-related .item-order .input-group {
    max-width: 200px;
    margin-left: auto;
  }
  .item-related .item-thumb {
    height: auto;
  }
  .item-related .item-thumb img {
    width: auto;
    height: auto !important;
    position: static;
    display: block;
    transform: none;
    max-width: 100% !important;
  }
  .item-ymal .item-thumb {
    height: auto;
  }
  .item-ymal .item-thumb img {
    width: auto;
    height: auto !important;
    position: static;
    display: block;
    transform: none;
    max-width: 100% !important;
  }
  .resize-thumb {
    height: auto;
  }
  .resize-thumb img {
    width: auto;
    height: auto !important;
    position: static;
    display: block;
    transform: none;
    max-width: 100% !important;
  }
}
@media screen and (min-width: 768px) {
  .scroll {
    max-height: 500px;
    overflow: auto;
  }
  .col-sm-push-0 {
    left: 0 !important;
  }
  .col-sm-pull-0 {
    left: 0 !important;
  }
  .item-ymal > .item:nth-of-type(4n&+1) {
    clear: both;
  }
  ul.tool-list {
    min-height: 195px;
  }
  .form-group-inline {
    display: inline-block;
    position: relative;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-group-inline h4 {
    position: absolute;
    top: -25px;
    margin: 0;
  }
  .form-group-inline label {
    position: absolute;
    top: -25px;
    margin: 0;
  }
  .profile-password.collapse {
    display: block !important;
  }
  body.admin {
    padding-top: 40px !important;
  }
  #adminbar {
    height: 40px;
    position: fixed;
    z-index: 9999;
    width: 100%;
    left: 0;
    top: 0;
  }
  #adminbar .btn {
    margin-top: -5px;
  }
  .w15 {
    width: 15%;
  }
  .w20 {
    width: 20%;
  }
  .w35 {
    width: 35%;
  }
  .w45 {
    width: 45%;
  }
  .w65 {
    width: 65%;
  }
  .col-sm-20 {
    width: 20%;
  }
  .col-sm-40 {
    width: 40%;
  }
  .col-sm-60 {
    width: 60%;
  }
  #body img.align-left {
    float: left;
    margin: 0 10px 10px 0;
    max-width: 40%;
  }
  #body img.align-right {
    float: right;
    margin: 0 0 10px 10px;
    max-width: 40%;
  }
  .row.account-search + .row {
    padding-top: 5px;
  }
}
@media screen and (max-width: 767px) {
    #ta {
        width: 100%;
    }
  .loading {
    padding: 75px 0;
  }
  nav#nav .navbar-right {
    right: 0;
  }
  dl.list-horizontal dt {
    width: 49.99999%;
  }
  dl.list-horizontal dd {
    width: 49.99999%;
  }
  .modal-shipping-list {
    margin-left: -15px;
    margin-right: -15px;
  }
  .checkout-payment-cards {
    padding-top: 0;
  }
  .callout {
    margin: 0 auto 10px;
    width: auto;
    max-width: 350px;
  }
  .ta-results {
    border-right: none;
  }
  #promos .row > div {
    margin: 0;
    padding: 0;
    border: none;
    border-top: 1px solid #666666;
  }
  .fixed #background {
    padding-top: 0;
  }
  #callouts {
    margin-bottom: 0;
  }
  #callouts > div {
    margin-bottom: 30px;
  }
  .item-ymal > .item:nth-of-type(2n&+1) {
    clear: both;
  }
  .item-ymal a.item-thumb {
    display: block;
    margin: 10px;
  }
  .item-ymal .item-meta {
    border: none;
    padding: 25px 15px 15px;
  }
  .item-ymal .item-title {
    height: auto;
  }
  .item-ymal .item-order {
    border: 1px solid #656557;
    margin: 0 25px 15px;
  }
  .item-ymal.item-duplicates {
    padding-bottom: 5px;
  }
  .item-ymal.item-duplicates > .item-item {
    margin-bottom: -1px;
  }
  .item-ymal.item-duplicates > .item-item:last-child {
    margin-bottom: 15px;
  }
  .facet-range .form-control {
    display: inline-block;
  }
  #modal-cart .modal-body {
    padding-bottom: 200px;
  }
  #modal-cart .modal-body .col-xs-6 {
    padding-left: 0;
  }
  #modal-cart .modal-footer .btn-lg {
    display: block;
    margin-top: 10px;
  }
  .cart-actions {
    text-align: center;
  }
  .cart-actions .btn-primary {
    display: block;
  }
  .account-controls .form-control {
    margin: 0 0 4px;
  }
  .account-controls-actions {
    padding-top: 5px;
  }
  .account-controls-actions .btn {
    display: block;
  }
  .account-list-checkbox {
    position: absolute;
    left: 0;
    top: 8px;
  }
  .account-list-checkbox + td {
    padding-left: 20px !important;
  }
  .account-list-checkbox + td + td {
    padding-left: 20px !important;
  }
  .account-list-checkbox + td + td + td {
    padding-left: 20px !important;
  }
  .account-list-checkbox + td + td + td + td {
    padding-left: 20px !important;
  }
  .account-list-checkbox + td + td + td + td + td {
    padding-left: 20px !important;
  }
  .account-list-checkbox + td + td + td + td + td + td {
    padding-left: 20px !important;
  }
  .account-list-checkbox + td + td + td + td + td + td + td {
    padding-left: 20px !important;
  }
  .account-list-checkbox + td + td + td + td + td + td + td + td {
    padding-left: 20px !important;
  }
  .account-list-checkbox + td + td + td + td + td + td + td + td + td {
    padding-left: 20px !important;
  }
  .account-list-actions {
    position: absolute;
    right: 0;
    top: 8px;
  }
  table.account-table thead {
    display: none;
  }
  table.account-table > tbody > tr {
    border-top: 1px solid #dddddd;
    padding: 10px 0;
    position: relative;
    display: block;
  }
  table.account-table > tbody > tr > td {
    display: block;
    border: none;
    padding: 0;
    text-align: left !important;
  }
  .col-xs-12 {
    width: 100%;
    clear: both;
    display: block;
  }
  span.visible-xs {
    display: inline !important;
  }
  .display-inline-xs {
    display: inline !important;
  }
  .xs-block {
    display: block !important;
    width: 100%;
  }
  .form-group-inline + .form-group-inline {
    margin-top: 4px;
  }
  .form-group-inline + .btn {
    margin-top: 4px;
  }
  .xs-block + .xs-block {
    margin-top: 4px;
  }
  .btn.visible-xs {
    display: inline-block !important;
  }
  .text-left-xs {
    text-align: left !important;
  }
  .text-center-xs {
    text-align: center !important;
  }
  .modal-body {
    padding: 15px;
  }
  .table.table-check th.check {
    width: 100%;
    text-align: left;
  }
  .table.table-check td.check {
    width: 100%;
    text-align: left;
  }
  .table.table-mobile thead {
    display: none;
  }
  .table.table-mobile tbody tr {
    border-bottom: 5px solid white;
  }
  .table.table-mobile tbody tr td {
    display: block;
    position: relative;
    border: none;
  }
  .table.table-mobile tbody tr td .caption {
    font-weight: 600;
    display: inline-block;
    width: 40%;
    height: 24px;
    clear: none;
  }
  .table.table-mobile tbody tr td div.caption {
    display: block;
    width: auto;
    height: auto;
  }
  .table.table-mobile.table-check thead {
    display: block;
    width: 100%;
  }
  .table.table-mobile.table-check thead th {
    display: none;
  }
  .table.table-mobile.table-check thead tr {
    display: block;
    width: 100%;
  }
  .table.table-mobile.table-check thead th.check {
    display: block;
    width: 100%;
  }
  .table.table-pdp.table-mobile tr {
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .table.table-pdp.table-mobile tr > td:first-child {
    font-weight: bold;
    width: 100%;
  }
  td.table.table-pdp.table-mobile + td {
    padding-top: 0;
    margin-top: -5px;
  }
  .plp-controls form.plp-left {
    float: none;
    text-align: center;
  }
  .plp-controls form > span {
    display: block;
  }
  > span.plp-controls form + span {
    margin-left: 0;
    margin-top: 10px;
  }
  ul.plp-compare {
    text-align: center;
  }
  ul.plp-compare li {
    padding: 0 15px;
  }
  .sitemap-list h4 {
    border-top: 2px solid #005c35;
    padding-top: 15px;
  }
  .sitemap-list .row > div:first-child h4:first-child {
    border: none;
    padding-top: 0;
  }
  .table-compare tbody tr td {
    width: 33%;
    float: left;
    display: block;
    border: none;
  }
  .table-compare tbody tr:first-child > td:first-child {
    display: none;
  }
  .table-compare tbody tr > td:first-child {
    float: none;
    width: 99%;
    clear: both;
    display: block;
    text-align: center;
  }
  .table-compare .item-item .item-qty {
    margin: 0 0 5px;
  }
  .table-compare .item-item .btn {
    padding-left: 8px;
    padding-right: 8px;
  }
  .location-state .row {
    margin: 0 -15px;
  }
  .location-state .row > *:nth-child(3n&+1) {
    clear: none;
  }
  .location-state .row > *:nth-child(2n&+1) {
    clear: both;
  }
  .location-meta {
    padding: 0;
  }
  .location-meta .row {
    margin: 0;
  }
  .location-thumb {
    padding: 0;
    margin: 0 0 10px;
    border-bottom: 10px solid white;
  }
  .location-thumb img {
    margin: 0;
    padding: 0;
    min-width: 100%;
  }
  #body img.align-left {
    display: block;
    margin: 0 auto 10px;
    max-width: 100%;
  }
  #body img.align-right {
    display: block;
    margin: 0 auto 10px;
    max-width: 100%;
  }
  .item-plp .item-col-left {
    width: 41.66666667%;
    position: static;
  }
  .item-plp .item-col-center {
    width: 58.33333333%;
  }
  .item-plp .item-col-right {
    float: none;
    clear: both;
    width: auto;
  }
  .item-plp .item-price {
    padding-top: 8px;
  }
  .item-plp .item-compare {
    position: absolute;
    left: 15px;
    bottom: 15px;
  }
  .item-plp .item-order .input-group input.form-control {
    padding-left: 8px;
    padding-right: 8px;
  }
  .item-plp .item-order .input-group .input-group-btn .btn {
    padding-left: 8px;
    padding-right: 8px;
  }
  table .item-thumb {
    height: 120px;
    width: 120px;
  }
  .account-search .row > div > div {
    margin-bottom: 5px;
  }
  .account-search .row > div > span {
    margin-bottom: 5px;
  }
  .account-search .row > div > input {
    margin-bottom: 5px;
  }
  .reorder {
    display: inline-block;
    vertical-align: text-top;
    margin-left: 0;
  }
}
@media screen and (max-width: 499px) {
  .category_warp{
    display: none;
  }
  #searchform {
    right: 95px;
  }
  nav#nav li.nav-list {
    display: none;
  }
  ul.mobile {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: "Pragati Narrow", sans-serif;
    font-size: 20px;
    line-height: 1;
    border-right: none;
  }
  .ui-slider {
    height: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .ui-slider-range {
    height: 14px;
  }
  .ui-slider-handle {
    width: 32px;
    height: 32px;
    margin: -8px 0 0 -16px !important;
  }
  .item .item-more {
    top: 60px;
  }
  ul.pdp-columns li {
    float: none;
    width: auto;
  }
  .col-xxs-12 {
    width: 100%;
  }
  .col-xxs-9 {
    width: 75%;
  }
  .col-xxs-8 {
    width: 66.6666666%;
  }
  .col-xxs-6 {
    width: 50%;
  }
  .col-xxs-4 {
    width: 33.3333333%;
  }
  .col-xxs-3 {
    width: 25%;
  }
  .col-xxs-pull-0 {
    left: 0;
  }
  .col-xxs-push-0 {
    left: 0;
  }
  .cs-desc {
    height: auto;
  }
  .home-cats ul.cat-list li {
    display: none;
  }
  .home-cats ul.cat-list > li:first-child {
    display: block;
  }
  .home-cats ul.cat-list > li:nth-child(2) {
    display: block;
  }
  .home-cats ul.cat-list > li:nth-child(3) {
    display: block;
  }
  #noAccountError{
	font-size:14px !important;
	padding-left: 8% !important;
  }
}
@media print {
  * {
    -webkit-transition: none !important;
    transition: none !important;
  }
  a[href]:after {
    content: "";
  }
  .header-logo {
    width: 60% !important;
  }
  .header-nav {
    display: none;
  }
  .page-tools {
    display: none;
  }
  #footer {
    display: none;
  }
  .pdp-bar {
    display: none !important;
  }
  .pdp-related {
    display: none !important;
  }
  .pdp-order .input-group {
    display: none !important;
  }
  .pdp-tools {
    display: none !important;
  }
  .pdp-recent {
    display: none !important;
  }
  .pdp-details-mobile {
    display: none !important;
  }
  .pdp-details {
    display: block !important;
  }
  .pdp-gallery {
    float: left;
    width: 49.999%;
  }
  .pdp-intro {
    float: left;
    width: 49.999%;
  }
}
@media screen and (max-width: 600px) {
  .table-pdp-specs tbody tr {
    width: 100%;
  }
  .table-pdp-specs > tbody > tr:nth-child(4n&+1) {
    background-color: #e6e9ea;
  }
  .table-pdp-specs > tbody > tr:nth-child(4n) {
    background-color: white;
  }
}
@media screen and (max-width: 50em) {
  .inputfile-6 ~ label strong {
    display: block;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px){
    #ta{
     width: 190%;
    }
    #ta .item-ta .btn{
       min-width: 0;
       font-size: xx-small;
    }
}
@media (max-width: 768px) {
    .legdis-media {
        margin: 0 10px 50px 10px;
    }
    .category_search_group {
        width: 100%;
    }
}
.quick-order-pad-auto-scroll {
  max-height: 328px;
  overflow-y: auto;
}
.ui-tooltip{
    background: #ffffff;
	display: block;
	width: 160px;
	border: solid 1px #999;
	border-radius: 6px;
	padding: 8px;
	z-index: 200;
}
.ui-helper-hidden-accessible {
border: 0;
clip: rect(0 0 0 0);
height: 1px;
margin: -1px;
overflow: hidden;
padding: 0;
position: absolute;
width: 1px;
}
#requestAQuoteFile #errorMessages{
display: grid;
}
#info {
    background-color: #EBF2EF;
    padding: 25px;
}
#showing-total-num-results {
	font-size: 16px;
	font-weight: bold;
}
#error-found-pdp-page-form .pdp-err-modal {
	width: 35%;
	vertical-align: top; 
}
#error-found-pdp-page-form .pdp-err-modal-required {
	font-size: 11px;
}
#error-found-pdp-page-form .pdp-err-modal-info {
	font-size: 12px;
}

/* Search-in fix */
select.archive:invalid {
  color: black;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}
.youtubeVideo{
height: 100px !important;
}
.modal-shipAddress {
  width: 700px;
}
.mtr_preview{
	font-size: 22px;
	opacity: 0.5;
}
#searchCS {
	display: none;
}
#sessionIdleModal{
	z-index:1800 !important;
}
.news-color {
	color: #575045 !important;
}
/* Absolute Center Spinner */
.custom-loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.custom-loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));

  background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
}

/* :not(:required) hides these rules from IE9 and below */
.custom-loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.custom-loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#textWrap {
  word-wrap: break-word;
}
/* Welcome Modal */
#welcomeModal{
	z-index: 10000;
}
#welcomeModal .modal-body{
    
    padding: 0px;
    border-radius: 4px;
    text-align: center;
    top: -10px;
}
#welcomeModal .bg-gold{
	color: white !important;
} 
#welcomeModal .bg-gold-cont{
    min-height:120px;
    border-radius: 4px;
    padding: 10px;
}
#welcomeModal .modal_body{
    padding: 10px;
}
#welcomeModal .close{
    color: #ffffff;
    opacity: 1;
}
/* Welcome Modal  */

#noAccountError {
  padding-left: 15%;
  margin-left: 11%;
  margin-right: 17%;
  font-size: 22px;
}
 
.gridView{
	
	padding-top: 5px;
	font-size: 18px;
}
 
 
/* defaultShipToAddress Modal */
#defaultShipToAddressModal .modal-body{
    
    padding: 0px;
    border-radius: 4px;
    text-align: center;
    top: -10px;
}
#defaultShipToAddressModal .bg-gold{
	color: white !important;
} 
#defaultShipToAddressModal .bg-gold-cont{
    min-height:120px;
    border-radius: 4px;
    padding: 10px;
}
#defaultShipToAddressModal .modal_body{
    padding: 10px;
}
#defaultShipToAddressModal .close{
    color: #ffffff;
    opacity: 1;
}
/* defaultShipToAddress Modal */
.overflow_scroll{
   overflow: scroll;
} 
#ccAccountNotificationModal {
	z-index: 1060;
} 
.green_success_text{
    color: #3c763d;
}
/*testimonial catcha resize*/
#recaptchaTestimonial{
	transform: scale(0.75);
	transform-origin: 0 0;
}

.qty-available {
	font-size: 18px;
	font-weight: bold;
}

.qty-info {
	font-size: 16px;
	font-weight: bold;
}
#activateNewAccount{
	overflow: scroll !important;
}

.credit-card-align{
	float: left;
  	position: relative;
  	min-height: 1px;
  	padding-left: 15px;
  	padding-right: 15px;
}
#seconday_search_info{
	padding-bottom: 10px;
	font-size: 16px;
}
.pricelistHead{
	padding-left: 20px !important;
	background: #005c35;
	color: white;
}
.oddClass{
	padding-left: 0% !important;
	padding-right: 0.5% !important;
}
.evenClass{
 	padding-left: 0% !important;
 	padding-right: 0px;
}
.priceBookLable{
	margin-left: 2rem;
}

/* fix SM-537 and SM-538 */


@media (min-width: 200px) {  
    .pdpThumbnailImage{
       max-height: 12rem;
    }
    .pdp-page-small-image{
    	max-height: 7rem;
    }
}

@media (min-width: 360px) {  
    .pdpThumbnailImage{
       max-height: 18rem;   
    }
    .pdp-page-small-image{
    	max-height: 9rem;
    }
}

@media (min-width: 390px) {  
    .pdpThumbnailImage{
       max-height: 24rem;
    }
    .pdp-page-small-image{
    	max-height: 9rem;
    }
}

@media (min-width: 768px) {  
    .pdpThumbnailImage{
        max-height: 22rem;
    }  
    .pdp-page-small-image{
    	max-height:11rem;
    }
}
.catalogTitleName{
	text-transform: none;
}

.productTitleName{
    text-transform: none;
}