.row-5 > li.item-item { width: 20%;}

.atc {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 10000 !important;
}

.atc .alert {
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
}

.atc button {
    margin-top: -3px;
    margin-right: 15px;
    font-size: 30px;
}

.case-study-detail .img-responsive {
	float: right;
	max-height: 300px;
	max-width: 400px;	
}

.case-study-detail h2 {
	font-size: 24px;
	font-weight: 700;
	color: #005c35;
}
    
.sidebar-menu a { text-decoration: none; }

.well h4 {
    margin-top: 0
}

.checkboxes.active{
    display: block;
    position: absolute;
    width: 95%;
    background: white;
    z-index: 10;
    border-color: #66afe9;
}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
    /*font-weight: bold;*/
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.checkboxes {
    display: none;
    position: absolute;
    width: 95%;
    background: white;
    z-index: 10;
    border: solid 1px #66afe9;
}

.checkboxes label {
    display: block;
    margin-bottom: 0;
    padding: 0 10px 0 30px;
    font-weight: normal;
    position: relative;
}

.checkboxes label.inactive{
    background-color: #c8c8c8;
    color: grey;
}

.checkboxes label.inactive:hover{
    background-color: #c8c8c8;
    color: grey;
    pointer-events: none;
}

.checkboxes label:hover {
    background-color: dodgerblue;
    color: white;
}

.checkboxes a{
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    /* background: white; */
    height: 100%;
    width: 50px;
    background: white;
    padding-left: 3px;
}

.checkboxes a:focus{
    outline: none;
    color: #575045;
}


.checkboxes label:hover a{
    background-color: dodgerblue;
    color: white;
}

input[type=checkbox]:checked + label {
    background-color: dodgerblue;
    color: white;
}

input[type=checkbox]:checked + label a{
    background-color: dodgerblue;
    color: white;
}

.checkboxes input[type="checkbox"]{
    float: left;
    margin-left: 7px;
    position: absolute;
    z-index: 11;
}

.fade_description {
	  position: relative;
	  height: 4.8em; /* exactly three lines */
	  overflow: hidden;
}
.fade_description:after {
	  content: "";
	  text-align: right;
	  position: absolute;
	  bottom: 0;
	  right: 0;
	  width: 30%;
	  height: 1.2em;
	  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}
.word-wrapping { word-wrap: break-word; }

.compare-now-link { 
	text-decoration: underline !important;
	margin-left: 20px; 
}

.alert-no-available {
    border-color: #ebccd1;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: -15px;
    margin-bottom: 10px;
    border-bottom: 2px solid #999;	
}

.header-link {
	color: #000;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px;
    height: 40px;
    line-height: 20px;
    text-decoration: none;
    cursor: pointer;
}

.header-link:hover  { background: rgba(255,255,255,.2); }

.start-credit-app {
	background-color: #e7e8e9;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.h1title {
	font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.disabled-acc-overview {
	color: #1324 !important
}

.request-access-link {
	color: #005c35;
    text-decoration-line: underline;
    font-size: 13px;
}

.green-text {
	color: #005c35;
}

.request-access-info {
	font-size: smaller; 
	border: 1px solid gray; 
	padding: 15px;
}

.green-link {
	color: #005c35; 
	cursor: pointer;
}
.pricelist-dropdown{
height: 200px;
position: relative;
overflow-y: auto;
display: block;
border-bottom: solid 2px #aba9a9;
}
.pdp-disclaimer {
	font-family: Open Sans Regular;
	font-size: 12px;
	color: #006B3B;
}
.reorder-disclaimer {
	padding-left: 14px;
}
.padding-5{
	padding: 10px;
}