@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?l70ppz');
  src:  url('../fonts/icomoon.eot?l70ppz#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?l70ppz') format('truetype'),
    url('../fonts/icomoon.woff?l70ppz') format('woff'),
    url('../fonts/icomoon.svg?l70ppz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clipboard:before {
  content: "\e900";
}
.icon-folder-motion:before {
  content: "\e901";
}
.icon-folder-pair:before {
  content: "\e902";
}
.icon-folder-single:before {
  content: "\e903";
}
.icon-paper-check:before {
  content: "\e904";
}
.icon-paper-header:before {
  content: "\e905";
}
.icon-paper-list:before {
  content: "\e906";
}
.icon-paper-page:before {
  content: "\e907";
}
.icon-quote:before {
  content: "\e908";
}
.icon-user-material:before {
  content: "\e909";
}
.icon-user:before {
  content: "\e90a";
}
.icon-users:before {
  content: "\e90b";
}

