.page-actions {
	padding-top: $padding-base-vertical / 2;

	.list-inline {
		float: right;

		li {
			.action {
				color: $gray;
				text-decoration: none !important;
				font-family: $headings-font-family;

				.fa {
					margin-right: 5px;
					color: $gray-light;
					font-size: $font-size-base + 2px;
					position: relative;
					top: 1px;
					border-bottom: none !important;
				}

				span {
					
					&:hover {
						border-bottom: 1px solid $gray-lighter;
					}
				}

				&:hover,
				&:active,
				&:focus {

					.glyphicon {
						color: $gray-light;
						border-bottom: none;
					}

					span {
						color: $brand-warning;
						border-bottom: 1px solid lighten($brand-warning, 15%);
					}
				}
			}
		}

		@media (max-width: $screen-sm) {
			float: left;
		}
	}
}