.logo {
	display: block;
}

.login-box {
	background-color: $gray-dark;

	.head-info {
		float: left;
		color: $body-bg;
		margin: $padding-large-vertical + 1px 0;
		padding-right: 10px;

		&.with-dropdown {
			margin: 0;

				.text {
					margin-top: $padding-large-vertical + 1px;
					display: inline-block;
				}

			.btn-group {
				button {
					padding-right: 15px;
					padding-bottom: 2px;

			span {
						margin: $padding-large-vertical - 6px 0;
				display: inline-block;
						padding-top: 0;
						max-width: 240px;
						margin-right: 3px;
						overflow: hidden;
						text-overflow: ellipsis;

						&.caret {
							position: absolute;
							top: 15px;
							right: -2px;
						}
					}
			}
		}

		}

		@media (max-width: $screen-sm) {
			width: 100%;
			display: block;
			text-align: left;
			margin: $padding-large-vertical - 3px 0;

			&.with-dropdown {
				span {
					margin: $padding-large-vertical - 3px 0;
				}
			}
		}
	}

	a {
		padding: $padding-large-vertical + 1px 0;
		font-weight: 600;
		color: $brand-warning;

		span {
			border-bottom: 1px solid transparent;
		}

		&:hover,
		&:focus,
		&:active {
			text-decoration: none;

			span {
				border-bottom-color: $brand-warning;
				// padding-right: 5px;
			}
		}
	}
}

.login-box-select {
	display: inline;
	float: right;

	.btn {
		background: transparent;
		color: $brand-warning;
		font-weight: 600;
		font-family: $font-family-sans-serif;
		padding-left: 5px;
		padding-right: 5px;
	}

	&.open {
		.btn {
			box-shadow: none;
			background: darken($gray-dark, 3%);
			color: $brand-warning;

		}
	}

	@media (max-width: $screen-sm) {
		float: none;
		display: inline-block;
	}
}

.brand-box {
	background: url(../images/header-bg.png) repeat-x $gray-dark;
	background-position: top center;
	padding-top: 18px;

	// @media (min-width: $screen-sm) {
	// 	// width: auto;

	// 	.logo {
	// 		img {
	// 			width: auto;
	// 		}
	// 	}
	// }

	@media (max-width: $screen-md) {
		min-height: 100px;
	}

	.list-unstyled {
		margin-bottom: 0;

		li {

			&:first-child {
				margin-bottom: $line-height-computed;
			}
			color: $body-bg;

			a.link {
				font-size: $font-size-large - 1px;
				color: $body-bg;
				font-weight: 100;
			}

			.line {
				position: relative;
				margin-left: 12px;
				margin-right: 12px;
				top: - 2px;
			}

			.btn-services {
				border-radius: $border-radius-small;
				border: none;
				border-top: 2px solid transparent;
				padding: $padding-base-vertical + 2px $padding-base-horizontal + 5px;
				background-color: lighten($gray-dark, 4%);
				background-image: none;
				color: $body-bg;
				outline: 0;
				font-family: $font-family-sans-serif;

				.caret {
		        border: none;
		        color: $brand-warning;
		        font-size: $font-size-large - 1px;
		        width: 20px;
		        height: 20px;
		        top: -2px;
		        position: relative;
		        @include transition(all 0.2s ease-out);
		        @include rotate(0deg);

		        &:after {
		          font-family: 'Glyphicons Halflings';
		          content: "\e080";
		        }

		      }

			}

			.dropdown {
				&.open {
					.btn-services {
						border-top-color: $brand-warning;

						.caret {
							@include rotate(90deg);
						}
					}
				}
			}

			&.dropdowns {
				.dropdown {
					display: inline-block;
					float: right;
				}
			}
		}
	}

	@media (max-width: $screen-sm) {
		background: url(../images/header-bg.png) repeat-x $gray-dark;

		.logo {
			img {
				width: 260px;
				position: relative;
				top: 7px;
			}
		}
	}

	@media (max-width: $screen-sm) {
		background-color: darken($gray-dark, 4%);
		background: darken($gray-dark, 4%);
		border-top: 1px solid $gray-light;

		.logo-box {
			margin-bottom: 20px;

			.logo {
				width: 100%;
				text-align: center;
			}
		}

		.user-actions-box {
			padding-left: 0;
			padding-right: 0;
		}

		.btn-services {
			font-size: $font-size-base;
		}
	}

	@media (max-width: 420px) {
		.logo {
			img {
				width: 265px;
			}
		}
	}
}