.material-list {

	&:first-child {
		margin-top: 10px;
	}

	&:last-child {
		margin-bottom: 10px;
	}

	border-top: 1px solid lighten($gray-light, 13%);
	margin-bottom: 0;
	padding-bottom: 0;
	background-color: $gray-lighter;

	.info-block {
		background-color: $body-bg;
		padding-top: $padding-large-horizontal;
		padding-bottom: $padding-large-horizontal;
	}

	.actions {
		@media (min-width: $screen-sm) {
			padding-left: 0;
		}

		.list-group {
			margin-bottom: 0;
		}
	}

	.title {
		color: $gray;
		margin-top: 0;
		margin-bottom: $padding-large-horizontal;

		a {
			color: $gray;
		}

		&:hover, &:focus, &:active {
			a {
				// text-decoration: none;
				color: $gray-dark;
			}
		}
	}

	.info {
		display: block;
		width: 100%;
		margin-bottom: $padding-large-horizontal;
		@include clearfix();
		.box {
			float: left;
			display: block;
			width: 130px;
			margin-right: 5px;

			strong {
				display: block;
			}
		}
	}

	p {
		margin-bottom: $padding-large-horizontal;
	}

	.buttons {
		li {
			.btn {
				margin-top: 10px;
			}
		}
	}

	&.detail {
		border-top: none;
		padding-left: 15px;
		background-color: $gray-lighter;

		.info-block {
			background-color: transparent;

			@media (max-width: $screen-sm) {
				margin-left: 0px;
			}
		}

		.actions {
			@media (max-width: $screen-sm) {
				padding-left: 0;
			}

			.list-group {
				margin-bottom: 0;
			}
		}

	}

	&.profile {
		padding-right: 15px;

		hr {
			margin: 0;
		}
	}

	&.pdp {
		.info-block {
			big {
				display: block;
				font-size: $font-size-large + 0px;
				padding-bottom: 5px;
				font-family: $headings-font-family;
			}
		}

		.actions {
			font-family: $headings-font-family;
			.price, .qty {
				padding: 10px 15px;
				border-bottom: 1px solid lighten($list-group-border, 10%);
			}

			.price {
				big {
					font-size: $font-size-h3;
					font-family: $headings-font-family;
				}

				.info-button {
					background-color: transparent;
					border: none;
					margin-left: 3px;
					font-size: $font-size-h3 - 3px;
					margin-top: 3px;
				}
			}

			.qty {
				.form-inline {
					display: block;
					position: relative;
					@include clearfix();
					.form-group {
						float: left;
						display: inline;
						width: 40%;
						padding-right: 10px;

						.form-control {
							display: block;
							width: 100%;
							text-align: center;
						}
					}

					.btn {
						float: left;
						display: inline;
						width: 60%;
						padding-left: 10px;
						padding-right: 10px;
					}
				}
			}
		}
	}

	// actions
	.actions {
			font-family: $headings-font-family;
			.price, .qty {
				padding: 10px 15px;
				border-bottom: 1px solid lighten($list-group-border, 10%);
			}

			.price {
				big {
					font-size: $font-size-h3;
					font-family: $headings-font-family;
				}

				.info-button {
					background-color: transparent;
					border: none;
					margin-left: 3px;
					font-size: $font-size-h3 - 3px;
					margin-top: 3px;
				}
			}

			.qty {
				.form-inline {
					display: block;
					position: relative;
					@include clearfix();
					.form-group {
						float: left;
						display: inline;
						width: 40%;
						padding-right: 10px;

						.form-control {
							display: block;
							width: 100%;
							text-align: center;
						}
					}

					.btn {
						float: left;
						display: inline;
						width: 60%;
						padding-left: 10px;
						padding-right: 10px;
					}
				}
			}
		}

	// info block
	.info-block {
		&.search-list {
			.media {

				.media-left {
					overflow: hidden;
					a {
						width: 90px;
						display: block;

						img {
							display: block;
							width: 100%;
						}
					}
				}

				.media-body {

					.media-heading {
						a {
							color: $gray-dark;
							text-decoration: none !important;

							span {
								border-bottom: 1px solid transparent;
							}

							&:hover {
								color: $brand-warning;

								span {
									border-bottom-color: lighten($brand-warning, 25%);
								}
							}
						}
					}

					.info {
						p {
							margin-top: 0;
							margin-bottom: 5px;
						}
					}
				}
			}
		}
	}
}

.material-items-list {

	.header {
		display: block;
		@include clearfix();

		.title {
			padding-top: 11px;
			padding-bottom: 10px;
			display: block;
		}
	}

	.content-list {
		@include clearfix();
		// display: block;
		// overflow: hidden;
		// position: relative;
		max-height: 390px;
		overflow-y: scroll;
		overflow-x: hidden;

		.content {
			@include clearfix();
			padding-top: 5px;
			padding-bottom: 5px;
			border-top: 1px solid lighten($gray-light, 35%);

			&:nth-child(2n) {
				background-color: lighten($gray-lighter, 2%);
			}
		}
	}

	.header,
	.content {
		display: block;
		width: 100%;
		border-left: 1px solid transparent;
		border-right: 1px solid transparent;
		border-bottom: 1px solid transparent;

		&.selected {
			border: 1px solid $brand-warning;
		}

		&.disabled {
			color: lighten($gray-light, 6%);
		}

		.check {
			float: left;
			display: block;
			width: 15%;
			padding-right: 8px;
			padding-left: 4px;

			
			.image {
				position: relative;
				margin-top: 0;
				margin-bottom: 0;
				margin-right: 5px;

					.checkbox-custom {
						display: block;

						&:before {
							top: 50%;
							margin-top: -10px;
						}

						.checkbox-label {
							display: block;

							img {
								display: block;
								max-width: 80px;
							}
						}
					}
				}
			
		}

		.name {
			float: left;
			display: block;
			width: 25%;
			padding-right: 8px;

			.product-title {
				color: $gray;
				font-size: $font-size-large;
			}
		}

		.item-number {
			float: left;
			display: block;
			width: 10%;
			padding-right: 8px;
		}

		.qty {
			float: left;
			display: block;
			width: 10%;
			padding-right: 8px;

			.form-control {
				width: 40px;
				padding-left: 5px;
				padding-right: 5px;
			}

			label {
				font-weight: normal;
				margin-top: 3px;
			}
		}

		.alias {
			float: left;
			display: block;
			width: 15%;
			padding-right: 8px;
		}

		.price {
			float: left;
			display: block;
			width: 13%;
			padding-right: 8px;
		}

		.availability {
			float: left;
			display: block;
			width: 12%;
			padding-right: 8px;
		}
	}

	// View order details
	&.order-detail-list {
		.header {
			.check {
				width: 13%;
			}

			.name {
				width: 25%;
			}

			.item-number {
				width: 10%;
			}

			.qty {
				width: 10%;
			}

			.price {
				width: 13%;
				float: left;
			    display: block;
			    padding-right: 8px;
			}

			.total {
				width: 13%;
				float: left;
			    display: block;
			    padding-right: 8px;
			}

			.status {
				width: 16%;
				float: left;
			    display: block;
			    padding-right: 8px;
			}
		}

		.content-list {
			.content {
				.check {
					width: 13%;

					.checkbox {
						.question-tooltip {
							border: none;
							padding: 0;
							font-size: $font-size-base - 1px;
							background-color: transparent;
							position: absolute;
							top: 2px;
							left: 2px;
							color: $brand-danger;
							z-index: 2;
						}
					}

					@media (max-width: $screen-md) {
						.image .checkbox-custom .checkbox-label img {
							max-width: 55px;
						}
					}
				}

				.name {
					width: 25%;
				}

				.item-number {
					width: 10%;
				}

				.qty {
					width: 10%;
				}

				.price {
					width: 13%;
					float: left;
				    display: block;
				    padding-right: 8px;
				}

				.total {
					width: 13%;
					float: left;
				    display: block;
				    padding-right: 8px;
				}

				.status {
					width: 16%;
					float: left;
				    display: block;
				    padding-right: 8px;
				}

				&.disabled {
					color: lighten($gray-light, 6%);
				}
			}
		}
	}
}