.product-info {
	margin-bottom: $padding-large-vertical * 5;

	h1 {
		margin-top: 0;
		margin-bottom: $padding-large-vertical * 4;
		font-weight: 600;
		color: $gray;
		font-size: $font-size-h1 + 3px;
	}
}

.product-image {
	display: block;
	overflow: hidden;
	margin-bottom: 15px;

	.image {
		display: block;
		position: relative;

		&:after {
			display: block;
			position: absolute;
			opacity: 0;
			top: 50%;
			left: 50%;
			width: 30px;
			height: 30px;
			margin-top: -43px;
 			margin-left: -24px;
			font-family: 'Glyphicons Halflings';
			content: "\e015";
			font-size: $font-size-h1 * 2;
			color: $gray-lighter;
			border-radius: 3px;
			text-shadow: 0 2px 15px $gray-light;
			@include transition(all 0.2s ease-out);
		}

		&:hover {
			&:after {
				opacity: 1;
			}
		}

		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
}

.pdp-tabcontent {
	.tab-pane {
		border-bottom: 2px solid lighten($gray-light, 35%);
		margin-bottom: $padding-base-vertical * 3;

		article {
			margin: $padding-base-vertical * 3;
			font-family: $headings-font-family;

			ul {
				list-style-type: disc;
			}
		}

		table {
			margin: 0;
			font-family: $headings-font-family;

			&.table-specification {
				tbody {
					tr {
						td {
							padding: 0;

							.row {
								margin: 0;
							}

							.specification-item {
								padding: $table-cell-padding;

								.row {
									div {
										padding: 0;
									}
								}

								&:first-child {
									border-right: 1px solid $table-border-color;
								}

								&:last-child {
									border-left: 1px solid $table-border-color;
									margin-left: -1px;
								}
							}
						}
					}
				}

				&.table-spec-noborder {
					tbody {
						tr {
							td {
								.specification-item {
									margin-bottom: 0; 
									border: none;
								}
							}
						}
					}
				}
			}
		}
	}
}