.profile-block {
	position: relative;

	.profile-button {
		position: absolute;
		top: 15px;
		right: 15px;

		@media (max-width: $screen-sm) {
			font-size: $font-size-base;
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}

.my-account-links {
	display: block;
	width: 100%;

	.item {
		padding-left: 10px;
		padding-right: 10px;
		display: block;
		float: left;
		width: 20%;
		margin-bottom: 20px;

		.nav-pills {
			margin-left: -7px;

			li {
				a {
					padding: 7px;
					color: $gray;
					font-family: $headings-font-family;
					font-size: $font-size-base;

					&:hover {
						color: $brand-warning;
					}
				}
			}
		}

		@media (max-width: $screen-md) {
			width: 33%;
		}

		@media (max-width: $screen-md) {
			width: 50%;
		}
	}
}

.table-icon-link {
	i {
		color: $brand-warning;
		margin-right: 5px;
	}

	color: $gray;
	text-decoration: none !important;

	&:hover {
		color: $link-color;

		span {
			border-bottom: 1px solid lighten($link-color, 20%);
		}
	}
}