//
// Breadcrumbs
// --------------------------------------------------


.breadcrumb {
  // padding: $breadcrumb-padding-vertical $breadcrumb-padding-horizontal;
  margin-bottom: $line-height-computed;
  list-style: none;
  background-color: $breadcrumb-bg;
  border-radius: $border-radius-base;
  font-size: $font-size-base + 1px;

  > li {
    display: inline-block;

    a {
      color: $gray-light;
    }

    + li:before {
      font-family: 'Glyphicons Halflings';
      content: $breadcrumb-separator; // Unicode space added since inline-block means non-collapsing white-space
      padding: 0 5px;
      color: $brand-warning;
      position: relative;
      top: 2px;
    }
  }

  > .active {
    color: $breadcrumb-active-color;
  }
}
