//
// Dropdown menus
// --------------------------------------------------


// Dropdown arrow/caret
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top:   $caret-width-base dashed;
  border-right: $caret-width-base solid transparent;
  border-left:  $caret-width-base solid transparent;
}

// The dropdown wrapper (div)
.dropup,
.dropdown {
  position: relative;
}

// Prevent the focus on the dropdown toggle when closing dropdowns
.dropdown-toggle:focus {
  outline: 0;
}

// The dropdown menu (ul)
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: $zindex-dropdown;
  display: none; // none by default, but block on "open" of the menu
  float: left;
  min-width: 160px;
  padding: 0px 0;
  margin: 2px 0 0; // override default ul
  list-style: none;
  font-size: $font-size-base;
  text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
  background-color: $dropdown-bg;
  border: 1px solid $dropdown-fallback-border; // IE8 fallback
  border: 1px solid $dropdown-border;
  border-radius: $border-radius-small;
  @include box-shadow(0 6px 12px rgba(0,0,0,.175));
  background-clip: padding-box;

  // Aligns the dropdown menu to right
  //
  // Deprecated as of 3.1.0 in favor of `.dropdown-menu-[dir]`
  &.pull-right {
    right: 0;
    left: auto;
  }

  // Dividers (basically an hr) within the dropdown
  .divider {
    @include nav-divider($dropdown-divider-bg);
  }

  // Links within the dropdown menu
  > li > a {
    display: block;
    padding: 5px 20px;
    clear: both;
    font-weight: normal;
    line-height: $line-height-base;
    color: $dropdown-link-color;
    font-size: $font-size-base + 2px;
    border-bottom: 1px solid $gray-light;
    background-color: lighten($gray-lighter, 2%);
    white-space: nowrap; // prevent links from randomly breaking onto new lines
  }

  li {
    &:last-child {
      a {
        border-bottom-color: transparent;
      }
    }
  }
}

// Hover/Focus state
.dropdown-menu > li > a {
  &:hover,
  &:focus {
    text-decoration: none;
    color: $dropdown-link-hover-color;
    background-color: $body-bg;
    position: relative;
  }
}

// Active state
.dropdown-menu > .active > a {
  &,
  &:hover,
  &:focus {
    color: $dropdown-link-active-color;
    text-decoration: none;
    outline: 0;
    background-color: $dropdown-link-active-bg;
  }
}

// Disabled state
//
// Gray out text and ensure the hover/focus state remains gray

.dropdown-menu > .disabled > a {
  &,
  &:hover,
  &:focus {
    color: $dropdown-link-disabled-color;
  }

  // Nuke hover/focus effects
  &:hover,
  &:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none; // Remove CSS gradient
    @include reset-filter;
    cursor: $cursor-disabled;
  }
}

// Open state for the dropdown
.open {
  // Show the menu
  > .dropdown-menu {
    display: block;
  }

  // Remove the outline when :focus is triggered
  > a {
    outline: 0;
  }
}

// Menu positioning
//
// Add extra class to `.dropdown-menu` to flip the alignment of the dropdown
// menu with the parent.
.dropdown-menu-right {
  left: auto; // Reset the default from `.dropdown-menu`
  right: 0;
}
// With v3, we enabled auto-flipping if you have a dropdown within a right
// aligned nav component. To enable the undoing of that, we provide an override
// to restore the default dropdown menu alignment.
//
// This is only for left-aligning a dropdown menu within a `.navbar-right` or
// `.pull-right` nav component.
.dropdown-menu-left {
  left: 0;
  right: auto;
}

// Dropdown section headers
.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: $font-size-small;
  line-height: $line-height-base;
  color: $dropdown-header-color;
  white-space: nowrap; // as with > li > a
}

// Backdrop to catch body clicks on mobile, etc.
.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: ($zindex-dropdown - 10);
}

// Right aligned dropdowns
.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}

// Allow for dropdowns to go bottom up (aka, dropup-menu)
//
// Just add .dropup after the standard .dropdown class and you're set, bro.

.dropup,
.navbar-fixed-bottom .dropdown {
  // Reverse the caret
  .caret {
    border-top: 0;
    border-bottom: $caret-width-base solid;
    content: "";
  }
  // Different positioning for bottom up menu
  .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 2px;
  }
}


// Component alignment
//
// Reiterate per navbar.less and the modified component alignment there.

@media (min-width: $grid-float-breakpoint) {
  .navbar-right {
    .dropdown-menu {
      right: 0; left: auto;
    }
    // Necessary for overrides of the default right aligned menu.
    // Will remove come v4 in all likelihood.
    .dropdown-menu-left {
      left: 0; right: auto;
    }
  }
}



// Dropdown Services
.dropdown-services {
  border-radius: $border-radius-base;
  border: 1px solid $gray-light;
  li {
    
    &:first-child {
      margin-bottom: 0 !important;
    }

    a {
      background-color: $body-bg;
      color: $gray;
      border-bottom: none;

      &:hover,
      &:active,
      &:focus {
        background-color: $gray-lighter;
      }
    }
  }
}

.dropdown-account {
  min-width: 400px;

  @media (max-width: $screen-sm) {
    min-width: 200px;
  }
}

.dropdown-grid {
  margin: 0;

  div {
    padding: 0;

    a {
      display: block;
      padding: 5px 20px;
      clear: both;
      font-weight: normal;
      line-height: $line-height-base;
      color: $gray;
      font-size: $font-size-base + 2px;
      white-space: nowrap; // prevent links from randomly breaking onto new lines

      strong {
        padding-top: 5px;
        padding-bottom: 5px;
        display: block;
      }

      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
      }
    }
  }
}

.dropdown-typeahead {
  width: 475px;
  padding-bottom: 10px;
  margin-top: 0px;

  @media (max-width: $screen-md) {
    width: 504px;
  }

  @media (max-width: $screen-sm) {
    width: 100%;
  }

  li {
    .title {
      padding: 15px 20px;
      display: block;
      color: lighten($gray-light, 5%);
      font-weight: 700;
    }

    a {
      background-color: transparent;
      border: none;
      font-size: $font-size-base;
      white-space: normal;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.header-ship {
  max-width: 400px;

  @media (min-width: $screen-md) {
    min-width: 420px;
  }

  .close {
    position: absolute;
    top: 3px;
    right: 4px;
    opacity: 1;
    color: $gray-dark;
    text-shadow: none;
    padding-right: 0 !important;
  }

  .current {
    padding: 15px;

    span {
        color: $gray-dark;
      
      font-weight: 700;
    }

    p {
      span {
        color: $brand-success;
        display: block;
        white-space: normal;
      }
    }
  }

  .divider {
    margin-top: 0px;
    margin-bottom: 10px;
    border-bottom: 1px solid $gray-light;
  }

  li {
    label {
      white-space: normal !important;
      padding-top: 7px !important;
      padding-bottom: 7px !important;

      span {
        display: block;
      }
    }
  }

  li {
    a {
      background-color: transparent;
      font-size: $font-size-base - 1px;

      span {
        border-bottom-color: $gray-light;
      }

      &:hover {
        color: $brand-warning;
      }
    }
  }
}