//
// Modals
// --------------------------------------------------

// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and shit

// Kill the scroll on the body
.modal-open {
  overflow: hidden;
}

// Container that the modal scrolls within
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal;
  -webkit-overflow-scrolling: touch;

  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;
  @include scale(1);
  @include translate(0, 0);

  // When fading in the modal, animate it to slide down
  &.fade .modal-dialog {
    @include scale(0.6);

    @include transition-transform(0.3s ease-out);
  }
  &.in .modal-dialog {
    @include translate(0, 15%);
  }
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

// Shell div to position the modal with bottom padding
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

// Actual modal
.modal-content {
  position: relative;
  background-color: $modal-content-bg;
  border: 1px solid $modal-content-fallback-border-color; //old browsers fallback (ie8 etc)
  border: 1px solid $modal-content-border-color;
  border-radius: $border-radius-large;
  @include box-shadow(0 3px 9px rgba(0,0,0,.5));
  background-clip: padding-box;
  // Remove focus outline from opened modal
  outline: 0;
  border-radius: $border-radius-base;
}

// Modal background
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal-background;
  background-color: $modal-backdrop-bg;
  // Fade for backdrop
  &.fade { @include opacity(0); }
  &.in { @include opacity($modal-backdrop-opacity); }
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
  // padding: $modal-title-padding;
  border-bottom: 1px solid $modal-header-border-color;
  min-height: ($modal-title-padding + $modal-title-line-height);
  background-color: $brand-warning;
  border-top-right-radius: $border-radius-base;
  border-top-left-radius: $border-radius-base;
  position: relative;
}

.header-symbol {
  background-color: $gray;
  font-size: $font-size-h2;
  width: 55px;
  height: 55px;
  color: $body-bg;
  text-align: center;
  border-radius: $border-radius-base;
  border-bottom-left-radius: 0;

  .glyphicon {
    position: relative;
    top: 11px;
  }

  .fa {
    position: relative;
    top: 7px;
  }
}
// Close icon
.modal-header .close {
  position: absolute;
  top: 16px;
  right: 10px;
  font-size: $font-size-h2 - 5px;
  color: $gray;
  opacity: 1;

  .glyphicon {
    font-family: $headings-font-family;
    font-size: $font-size-h2 + 10px;
    top: -10px;
    text-shadow: none;

    &:before {
      content: "\00D7";
    }
  }
}

// Title text within header
.modal-title {
  margin: 0;
  line-height: $modal-title-line-height;
}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
  position: relative;
  padding: $modal-inner-padding * 1.6 $modal-inner-padding;
  font-family: $headings-font-family;

  .modal-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
  }
}

// Footer (for actions)
.modal-footer {
  padding: $modal-inner-padding;
  text-align: right; // right align buttons
  border-top: 1px solid $modal-footer-border-color;
  @include clearfix; // clear it in case folks use .pull-* classes on buttons

  // Properly space out buttons
  .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0; // account for input[type="submit"] which gets the bottom margin like all other inputs
  }
  // but override that for button groups
  .btn-group .btn + .btn {
    margin-left: -1px;
  }
  // and override it for block buttons as well
  .btn-block + .btn-block {
    margin-left: 0;
  }

  .modal-footer-noreload {
    padding-top: 12px;
    padding-bottom: 12px;
    display: block;
  }

  .list-inline {
    margin-bottom: 0;
  }
}

// Measure scrollbar width for padding body during modal show/hide
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

// Scale up the modal
@media (min-width: $screen-sm-min) {
  // Automatically set modal's width for larger viewports
  .modal-dialog {
    width: $modal-md;
    margin: 30px auto;
  }
  .modal-content {
    @include box-shadow(0 5px 15px rgba(0,0,0,.5));
  }

  // Modal sizes
  .modal-sm { width: $modal-sm; }
}

@media (min-width: $screen-md-min) {
  .modal-lg { width: $modal-lg; }
}


// helper scrollable block
.scrollable {
  position: relative;
  font-family: $headings-font-family;

  .head {
    background-color: $gray-lighter;
    padding: $padding-base-horizontal;

    span {
      font-weight: 600;
      padding-right: 20px;
    }
  }

  .content {
    max-height: 300px;
    overflow-y: scroll;

    .radio {
      border-bottom: 1px solid lighten($gray-light, 25%);
      margin-bottom: 0;
      border-right: 1px solid transparent;
      border-left: 1px solid transparent;

      &.checked {
        border: 1px solid $brand-warning !important;
        margin-top: -1px !important;
        // margin-left: -2px;
      }

      label {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        padding-left: 72px;

        &:before {
          left: 23px;
          top: 13px;
        }

        &:after {
          left: 27px;
          top: 17px;
        }
      }

      + .radio {
        margin-top: 0;
      }

      &:nth-child(2n+0) {
        background-color: $gray-lighter;
      }
    }

  }
}

.modal-check-collapse {
  // border-top: 1px solid $gray-lighter;

  hr {
    margin-left: -25px;
    margin-right: -25px;
  }
}