//
// Thumbnails
// --------------------------------------------------


// Mixin and adjust the regular image class
.thumbnail {
  display: block;
  padding: $thumbnail-padding;
  margin-bottom: $line-height-computed;
  line-height: $line-height-base;
  background-color: $thumbnail-bg;
  border: 1px solid $thumbnail-border;
  border-radius: $thumbnail-border-radius;
  background: $footer-bg;
  position: relative;
  @include transition(border .2s ease-in-out);

  a {
    h4 {
      color: $gray;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;

      h4 {
        color: $brand-warning;
      }
    }
  }

  .thumbnail-content {
    // position: relative;
  }

  .image {
    overflow: hidden;
    min-height: 120px;
    max-height: 130px;

    img {
      display: block;
      width: 100%;
    }
  }

  h4 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  small {
    color: $gray-light;
    margin-bottom: 50px;
    display: block;
    font-size: $font-size-small + 1px;
    font-family: $headings-font-family;
  }

  big {
    font-size: $font-size-h4 + 3px;
    margin-bottom: 10px;
    margin-top: -10px;
    display: block;
    font-family: $headings-font-family;
  }

  ul.list-unstyled {
    margin-bottom: 50px;
    li {
      a {
        color: $gray-light;
        font-family: 'Lato', $font-family-sans-serif;

        &:hover {
          text-decoration: none;
          color: $brand-warning;
        }
      }
    }
  }

  .counter {
    margin-left: 0;
    margin-right: 0;
    
    div {
      padding: 0;

      &:first-child {
        padding-right: 10px;
      }
    }
  }

  .floated-bottom {
    position: absolute;
    left: 15px;
    bottom: 0;
  }

  > img,
  a > img {
    @include img-responsive;
    margin-left: auto;
    margin-right: auto;
  }

  // [converter] extracted a&:hover, a&:focus, a&.active to a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active

  // Image captions
  .caption {
    padding: $thumbnail-caption-padding;
    color: $thumbnail-caption-color;
  }

  @media (max-width: $screen-sm) {
    position: relative;
    display: block;
    width: 100%;
    display: block;
    margin-bottom: 20px;

    .floated-bottom {
      left: 15px;
    }

    .image {
      // width: 180px;
      // float: left;
      // display: block;
    }

    .thumbnail-content {

      h4 {
        margin-top: 0;
      }

      // width: 60%;
      // padding-left: 190px;
      // float: left;
      // display: inline;
      // position: relative;
    }
  }


}

// Add a hover state for linked versions only
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: $link-color;
}
