//
// Wells
// --------------------------------------------------


// Base class
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: $well-bg;
  // border: 1px solid $well-border;
  border-radius: $border-radius-base - 1px;
  // @include box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
  blockquote {
    border-color: #ddd;
    border-color: rgba(0,0,0,.15);
    margin: 0;
    padding: 0;

    footer {
      padding-top: 10px;
      margin-top: 0;
      margin-bottom: 15px;
      background: transparent;
      color: $gray;
      font-style: normal;
    }
  }

  .testimonial-detail {
    margin-top: 20px;
    display: block;
    color: $gray;
    text-decoration: none !important;
    font-family: $headings-font-family;
    font-size: $font-size-base - 1px;

    span {
      border-bottom: 1px solid $gray-light;
    }

    .glyphicon {
      border-bottom: none;
      position: relative;
      top: 3px;
    }
  }

  h3 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

// Sizes
.well-lg {
  padding: 24px;
  border-radius: $border-radius-large;
}
.well-sm {
  padding: 9px;
  border-radius: $border-radius-small;
}

.well-gray {
  background-color: $gray-lighter;
  margin-top: 15px;

  h4 {
    margin-top: 0;
    margin-bottom: 15px;
  }

  @media (max-width: $screen-md) {
    .smaller {
      margin-bottom: 20px;
    }
  }
}

.well-invoices {
  .radio {
    margin-top: 0;
    margin-bottom: 5px;
  }

  .smaller {
    margin-bottom: 0;
  }
}