<%--
	List credit cards in a dropdown 
	input
	1. atgFormat - optional format to signify if atg vs HTML style input should be used for the option
--%>
<dsp:getvalueof var="atgFormat" param="atgFormat"/>
<dsp:getvalueof var="excludeCCType" param="excludeCCType"/>
<c:if test="${empty atgFormat}">
	<dsp:getvalueof var="atgFormat" value="false"/>
</c:if>

<dsp:droplet name="/atg/dynamo/droplet/ForEach">
	<dsp:param name="array" bean="/atg/commerce/payment/CreditCardTools.cardTypesMap"/>
	<dsp:param name="elementName" value="creditCardName"/>
	<dsp:param name="sortProperties" value="-_key"/>
	<dsp:oparam name="output">
		<dsp:getvalueof var="key" param="key" />
		<c:if test="${excludeCCType != key}">
			<c:choose>
				<c:when test="${atgFormat == true}">
					<option value="${key}">
						<dsp:valueof param="creditCardName">[No CC Name]</dsp:valueof>
					</option>
				</c:when>
				<c:otherwise>
					<option value="${key}">
						<dsp:valueof param="creditCardName">[No CC Name]</dsp:valueof>
					</option>
				</c:otherwise>
			</c:choose>
		</c:if>
	</dsp:oparam>
</dsp:droplet>