.media {
  // Proper spacing between instances of .media
  margin-top: 15px;

  &:first-child {
    margin-top: 0;
  }

  &.media-product {
    margin-bottom: 10px;
    
    .image {
      width: 100px;
      overflow: hidden;

      a {
        display: block;

        img {
          max-width: 100%;
          width: auto;
          height: auto;
          margin: auto;
        }
      }

      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }

    .media-left {
      padding-right: 20px;
    }

    .media-body {
      .media-heading {
        margin-top: -2px;

        @media (max-width: $screen-xs) {
          margin-top: 0;
        }
        a {
          color: $brand-warning;
          @include transition(all 0.1s ease-out);

          span {
            border-bottom: 1px solid transparent;
          }

          &:hover,
          &:active,
          &:focus {
            text-decoration: none;
            color: darken($brand-warning, 7%);

            span {
              border-bottom-color: $brand-warning;
            }
          }
        }
      }
      &.ov-visible {
        overflow: visible;
      }
    }
  }
}

.media,
.media-body {
  zoom: 1;
  overflow: hidden;
}

.media-body {
  // width: 10000px;
}

.media-object {
  display: block;
}

.media-right,
.media > .pull-right {
  padding-left: 10px;
}

.media-left,
.media > .pull-left {
  padding-right: 10px;
}

.media-left,
.media-right,
.media-body {
  display: table-cell;
  vertical-align: top;
}

.media-middle {
  vertical-align: middle;
}

.media-bottom {
  vertical-align: bottom;
}

// Reset margins on headings for tighter default spacing
.media-heading {
  margin-top: 0;
  margin-bottom: 5px;
}

// Media list variation
//
// Undo default ul/ol styles
.media-list {
  padding-left: 0;
  list-style: none;
}
