//
// Modals
// --------------------------------------------------
// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and shit
// Kill the scroll on the body
.modal-open {
    overflow: hidden;
}

body {
    &.modal-open {
        // height: 100%;
        height: auto;
        width: 100%;
        overflow: hidden;
        // overflow-y: auto;
        // display: block;
        // position: fixed;
    }
}

// Container that the modal scrolls within
.modal {
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $zindex-modal;
    -webkit-overflow-scrolling: touch;
    // Prevent Chrome on Windows from adding a focus outline. For details, see
    // https://github.com/twbs/bootstrap/pull/10951.
    outline: 0;
    @include scale(1);
    // @include translate(0, 0);
    // When fading in the modal, animate it to slide down
    &.fade .modal-dialog {
        @include scale(0.6);
        @include transition-transform(0.3s ease-in);
    }
    &.in .modal-dialog {
        // @include translate(0, 5%);
        @include scale(1);
    }
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
    // width: 100%;
    // height: 100%;
    // display: block;
}

// Shell div to position the modal with bottom padding
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
    @media (max-width: $screen-xxs) {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
}

// Actual modal
.modal-content {
    position: relative;
    background-color: $modal-content-bg;
    //border: 1px solid $modal-content-fallback-border-color; //old browsers fallback (ie8 etc)
    //border: 1px solid $modal-content-border-color;
    border-radius: 5px;
    @include box-shadow(0 10px 40px rgba(0, 0, 0, .5));
    background-clip: padding-box;
    // Remove focus outline from opened modal
    outline: 0;
    //  border-radius: $border-radius-base;
}

// Modal background
.modal-backdrop {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $zindex-modal-background;
    background-color: $modal-backdrop-bg;
    // Fade for backdrop
    &.fade {
        @include opacity(0);
    }
    &.in {
        @include opacity($modal-backdrop-opacity);
    }
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
    // padding: $modal-title-padding;
    border-bottom: 1px solid $modal-header-border-color;
    min-height: ($modal-title-padding + $modal-title-line-height);
    background-color: $brand-warning;
    border-top-right-radius: 5px; // $border-radius-base;
    border-top-left-radius: 5px; // $border-radius-base;
    position: relative;
    overflow: visible;
}

.header-symbol {
    background-color: $gray;
    font-size: $font-size-h2;
    width: 55px;
    height: 55px;
    color: $body-bg;
    text-align: center;
    border-radius: 4px 0px 0px 0px;
    .glyphicon {
        position: relative;
        top: 6px;
        font-size: 25px;
    }
    .fa {
        position: relative;
        top: 7px;
    }
    .icomoon {
        position: relative;
        top: 10px;
    }
    svg {
        position: relative;
        top: 11px;
    }
}

// Close icon
.modal-header .close {
    position: absolute;
    top: 16px;
    right: 10px;
    font-size: $font-size-h2 - 5px;
    color: $gray;
    opacity: 1;
    .glyphicon {
        font-family: $headings-font-family;
        font-size: $font-size-h2 + 10px;
        top: -10px;
        text-shadow: none;
        &:before {
            content: "\00D7";
        }
    }
}

// Title text within header
.modal-title {
    margin: 0;
    line-height: $modal-title-line-height;
}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
    position: relative;
    padding: 20px; //  padding: $modal-inner-padding * 1.6 $modal-inner-padding;
    font-family: $headings-font-family;
    .modal-title {
        margin-top: 0;
        margin-bottom: 10px;
        //font-weight: 700;
    }
    &.modal-import-tab {
        .modal-footer {
            margin-left: -20px;
            margin-right: -20px;
            margin-bottom: -20px;
            @media (max-width: 375px) {
                .download-order-pad {
                    width: 100%;
                    .gray-noreload {
                        white-space: normal;
                    }
                }
            }
        }
    }
}

// Footer (for actions)
.modal-footer {
    padding: 0px 20px 25px 20px;
    // text-align: right; // right align buttons
    //border-top: 1px solid $modal-footer-border-color;
    @include clearfix; // clear it in case folks use .pull-* classes on buttons
    .list-inline {
        &.two-mobile {
            width: 100%;
            display: block;
            @media (max-width: $screen-xxs) {
                margin: 0;
                padding: 0;
                li {
                    width: 50%;
                    padding-left: 5px;
                    padding-right: 5px;
                    margin-bottom: 10px;
                    display: block;
                    float: left;
                    &:last-child {
                        margin-bottom: 0;
                        padding-right: 0;
                    }
                    &:first-child {
                        padding-left: 0;
                    }
                    .btn {
                        width: 100%;
                        display: block;
                        padding-left: 5px;
                        padding-right: 5px;
                    }
                }
            }
        }
        &.one-mobile {
            width: 100%;
            display: block;
            @media (max-width: $screen-xxs) {
                margin: 0;
                padding: 0;
                li {
                    width: 100%;
                    padding: 0;
                    margin-bottom: 10px;
                    display: block;
                    float: left;
                    &:last-child {
                        margin-bottom: 0;
                        padding-right: 0;
                    }
                    .btn {
                        width: 100%;
                        display: block;
                        padding-left: 5px;
                        padding-right: 5px;
                    }
                }
            }
        }
        &.create-list-actions-modal {
            @media (max-width: $screen-xxs) {
                width: 100%;
                display: block;
                margin: 0;
                li {
                    width: 60%;
                    float: left;
                    padding: 0;
                    &:last-child {
                        width: 40%;
                        padding-left: 10px;
                    }
                    a {
                        width: 100%;
                        padding-left: 5px;
                        padding-right: 5px;
                    }
                }
            }
        }
    }
    // Properly space out buttons
    .btn + .btn {
        margin-left: 5px;
        margin-bottom: 0; // account for input[type="submit"] which gets the bottom margin like all other inputs
    }
    // but override that for button groups
    .btn-group .btn + .btn {
        margin-left: -1px;
    }
    // and override it for block buttons as well
    .btn-block + .btn-block {
        margin-left: 0;
    }
    .modal-footer-noreload {
        padding-top: 12px;
        padding-bottom: 12px;
        display: block;
    }
    .list-inline {
        margin-bottom: 0;
    }
    .footer-checkbox {
        margin-top: 10px;
        float: none;
        display: block;
        .checkbox {
            float: none;
            float: left;
            text-align: left;
            .label {
                float: left;
            }
        }
    }
}

// Measure scrollbar width for padding body during modal show/hide
.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

// Scale up the modal
@media (min-width: $screen-sm-min) {
    // Automatically set modal's width for larger viewports
    .modal-dialog {
        width: $modal-md;
        margin: 30px auto;
    }
    .modal-content {
        @include box-shadow(0 30px 120px rgba(0, 0, 0, .5));
    }
    // Modal sizes
    .modal-sm {
        width: $modal-sm;
    }
}

@media (min-width: $screen-md-min) {
    .modal-lg {
        width: $modal-lg;
    }
}

// helper scrollable block
.scrollable {
    position: relative;
    overflow: hidden;
    // font-family: $headings-font-family;
    .scrollbar-inner {
        max-height: 300px;
        overflow: auto;
    }
    .scroll-wrapper {
        // position: relative;
        // max-height: 300px;
        .content {
            // max-height: 300px;
            // overflow: auto;
        }
        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 20px;
            // background-color: red;
            position: absolute;
            bottom: 0;
            left: 0;
            @include gradient-radial($inner-color: rgba($gray-light, 0.5), $outer-color: rgba($body-bg, 0.0));
            background-position: 50% 100%;
            bottom: -18px;
            background-size: 100% 20px;
        }
    }
    .head {
        background-color: $gray-lighter;
        padding: $padding-base-horizontal + 3;
        .checkbox {
            margin: 0;
        }
        span {
            font-weight: 600;
            padding-right: 20px;
        }
    }
    .content {
        // max-height: 300px;
        // overflow: auto;
        // overflow: hidden;
        // overflow-y: scroll;
        .scrollbar-inner {
            // max-height: 300px;
            // overflow: auto;
            &.col-xs-3 {
                padding-left: 8px;
                padding-right: 8px;
            }
            @media print {
                max-height: 99999999px;
            }
            &.grid {
                max-height: 500px;
                overflow: auto;
                div {
                    div {
                        max-height: 500px;
                        overflow: visible;
                    }
                }
            }
        }
        &.content-larger {
            max-height: 500px;
            @media print {
                max-height: 99999999px;
            }
        }
        .grid {
            .item {
                border-bottom: 1px solid lighten($gray-light, 25%);
                padding-top: 10px;
                &:nth-child(2n+0) {
                    background-color: $gray-lighter;
                }
                &.pickup-location {
                    @media (max-width: 645px) {
                        .btn {
                            padding-left: 5px;
                            padding-right: 5px;
                        }
                    }
                    @media (max-width: $screen-xxs) {
                        .btn {
                            padding-left: 15px;
                            padding-right: 15px;
                        }
                    }
                }
            }
        }
        .radio {
            border-bottom: 1px solid lighten($gray-light, 25%);
            margin-bottom: 0;
            border-right: 1px solid transparent;
            border-left: 1px solid transparent;
            &:first-child {
                margin-top: 0;
            }
            &.checked {
                border: 1px solid $brand-warning !important;
                margin-top: -1px !important;
                // margin-left: -2px;
            }
            label {
                padding-top: 10px;
                padding-bottom: 10px;
                width: 100%;
                //padding-left: 72px;
                padding-left: 60px;
                &:before {
                    left: 23px;
                    top: 13px;
                }
                &:after {
                    left: 27px;
                    top: 17px;
                }
            }
            + .radio {
                margin-top: 0;
            }
            &:nth-child(2n+0) {
                background-color: $gray-lighter;
            }
            &.set-default {
                border: none;
                margin-top: 0;
                &.checked {
                    border: none !important;
                    margin-top: 0px !important;
                    // margin-left: -2px;
                }
                label {
                    width: auto;
                    padding-left: 3px;
                    padding-top: 0;
                    padding-bottom: 0;
                    &:before {
                        left: -13px;
                        top: 3px;
                    }
                    &:after {
                        left: -9px;
                        top: 7px;
                    }
                }
                &:nth-child(2n+0) {
                    background-color: transparent;
                }
            }
        }
    }
    // Alt Scrollalble
    &.scrollable-alt {
        .head {
            background-color: transparent;
            padding-top: 5px;
            padding-bottom: 5px;
        }
        .content {
            .item {
                padding-bottom: 10px;
                padding-top: 10px;
                &:nth-child(2n+0) {
                    background-color: transparent;
                }
                &:nth-child(2n+1) {
                    background-color: $gray-lighter;
                }
                .checkbox {
                    display: inline-block;
                    margin: 0;
                }
                .request-material {
                    .checkbox {
                        position: relative;
                        margin-left: 15px;
                        margin-right: 5px;
                    }
                    .table-icon-link {
                        position: relative;
                        top: 0;
                    }
                }
                .table-icon-link {
                    position: relative;
                    top: -5px;
                }
            }
        }
    }
}

.modal-check-collapse {
    // border-top: 1px solid $gray-lighter;
    hr {
        margin-left: -20px;
        margin-right: -20px;
        border-color: #D1D1D1;
    }
    .scrollable {
        .col-lg-12.grid {
            font-size: 13px;
        }
        .radio {
            border: 0 !important;
            &.checked {
                border: 0 !important;
                // margin-top: 10px !important;
                margin-top: 1px !important;
            }
            label {
                padding-left: 30px;
                .qty {
                    width: 140px;
                    padding-left: 30px;
                    float: left;
                }
                .locations {
                    width: 133px;
                    float: left;
                }
                .distance {
                    .list-inline {
                        float: right;
                        margin: 0;
                        @media (max-width: $screen-sm) {
                            display: none;
                        }
                        li {
                            float: left;
                            .form-control {
                                width: 50px;
                                padding-left: 4px;
                                padding-right: 4px;
                                text-align: center;
                            }
                            button {
                                padding-left: 8px;
                                padding-right: 8px;
                            }
                        }
                    }
                }
                &:before {
                    left: 12px;
                }
                &:after {
                    left: 16px;
                }
            }
            @media (max-width: $screen-xxs) {
                .qty {
                    width: 115px !important;
                    padding-left: 20px;
                }
            }
        }
    }
    .sm-actions {
        display: none;
        width: 100%;
        float: right;
        margin-top: 15px;
        @include clearfix();
        @media (max-width: $screen-sm) {
            display: block;
            left: -20px;
            position: relative;
        }
        li {
            .form-control {
                text-align: center;
                width: 80px;
                height: $input-height-large - 4px;
                @include button-size($padding-large-vertical, $padding-large-horizontal / 2, $font-size-large - 2px, $line-height-large, $border-radius-small + 4px);
            }
            .btn {
                position: relative;
                top: -3px;
                @include button-size($padding-large-vertical, $padding-large-horizontal * 2, $font-size-large - 2px, $line-height-large, $border-radius-small + 4px);
                @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.4));
            }
            &:first-child {
                width: 85px;
                position: absolute;
            }
            &:last-child {
                position: relative;
                padding-left: 90px;
                @media (max-width: 520px) {
                    width: 100%;
                }
                button {
                    width: 100%;
                }
            }
        }
    }
}

#viewAllManufacturerOptions {
    .checkbox {
        margin-top: 0;
    }
}

// Pickup locations section
.pickup-location-grid {
    display: block;
    @include clearfix();
    .select,
    .qty,
    .locations,
    .distance {
        float: left;
        @include clearfix();
    }
    .select {
        width: 60px;
    }
    .qty {
        width: 110px;
    }
    .locations {
        width: 135px;
    }
    @media (max-width: $screen-sm) {}
    @media (max-width: $screen-xxs) {
        .qty {
            width: 81px;
        }
        .locations {
            width: 94px;
        }
        .distance {
            float: right;
            text-align: right;
        }
    }

}

.ekko-lightbox {
    .modal-dialog {
        margin-left: auto;
        margin-right: auto;
        .modal-content {
            .modal-header {
                min-height: 56px;
                .close {
                    position: relative;
                }
            }
            .modal-body {
                padding: 0;
            }
        }
    }
}
