//
// Navbars
// --------------------------------------------------
// Wrapper and base class
//
// Provide a static navbar from which we expand to create full-width, fixed, and
// other navbar variations.
.navbar {
    position: relative;
    min-height: $navbar-height; // Ensure a navbar always shows (e.g., without a .navbar-brand in collapsed mode)
    margin-bottom: $navbar-margin-bottom;
    border: none;
    // Prevent floats from breaking the navbar
    @include clearfix;
    @media (min-width: $grid-float-breakpoint) {
        border-radius: 0;
    }
    @media (max-width: $screen-sm - 1) {
        min-height: 40px;
    }
}

// Navbar heading
//
// Groups `.navbar-brand` and `.navbar-toggle` into a single component for easy
// styling of responsive aspects.
.navbar-header {
    @include clearfix;
    @media (min-width: $grid-float-breakpoint) {
        float: left;
    }
}

// Navbar collapse (body)
//
// Group your navbar content into this for easy collapsing and expanding across
// various device sizes. By default, this content is collapsed when <768px, but
// will expand past that for a horizontal display.
//
// To start (on mobile devices) the navbar links, forms, and buttons are stacked
// vertically and include a `max-height` to overflow in case you have too much
// content for the user's viewport.
.navbar-collapse {
    overflow-x: visible;
    // padding-right: $navbar-padding-horizontal;
    // padding-left:  $navbar-padding-horizontal;
    // border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    @include clearfix;
    -webkit-overflow-scrolling: touch;
    &.in {
        overflow-y: auto;
    }
    @media (min-width: $grid-float-breakpoint) {
        width: auto;
        border-top: 0;
        box-shadow: none;
        &.collapse {
            display: block !important;
            height: auto !important;
            padding-bottom: 0; // Override default setting
            overflow: visible !important;
        }
        &.in {
            overflow-y: visible;
        }
        // Undo the collapse side padding for navbars with containers to ensure
        // alignment of right-aligned contents.
        .navbar-fixed-top &,
        .navbar-static-top &,
        .navbar-fixed-bottom & {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.navbar-fixed-top,
.navbar-fixed-bottom {
    .navbar-collapse {
        max-height: $navbar-collapse-max-height;
        @media (max-device-width: $screen-xs-min) and (orientation: landscape) {
            max-height: 200px;
        }
    }
}

// Both navbar header and collapse
//
// When a container is present, change the behavior of the header and collapse.
.container,
.container-fluid {
    > .navbar-header,
    > .navbar-collapse {
        margin-right: -$navbar-padding-horizontal;
        margin-left: -$navbar-padding-horizontal;
        @media (min-width: $grid-float-breakpoint) {
            margin-right: 0;
            margin-left: 0;
        }
    }
}

//
// Navbar alignment options
//
// Display the navbar across the entirety of the page or fixed it to the top or
// bottom of the page.
// Static top (unfixed, but 100% wide) navbar
.navbar-static-top {
    z-index: $zindex-navbar;
    border-width: 0 0 1px;
    @media (min-width: $grid-float-breakpoint) {
        border-radius: 0;
    }
}

// Fix the top/bottom navbars when screen real estate supports it
.navbar-fixed-top,
.navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: $zindex-navbar-fixed;
    // Undo the rounded corners
    @media (min-width: $grid-float-breakpoint) {
        border-radius: 0;
    }
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

.navbar-fixed-bottom {
    bottom: 0;
    margin-bottom: 0; // override .navbar defaults
    border-width: 1px 0 0;
}

// Brand/project name
.navbar-brand {
    float: left;
    padding: $navbar-padding-vertical $navbar-padding-horizontal;
    font-size: $font-size-large;
    line-height: $line-height-computed;
    height: $navbar-height;
    &:hover,
    &:focus {
        text-decoration: none;
    }
    > img {
        display: block;
    }
    @media (min-width: $grid-float-breakpoint) {
        .navbar > .container &,
        .navbar > .container-fluid & {
            margin-left: -$navbar-padding-horizontal;
        }
    }
}

// Navbar toggle
//
// Custom button for toggling the `.navbar-collapse`, powered by the collapse
// JavaScript plugin.
.navbar-toggle {
    position: relative;
    float: right;
    margin-right: $navbar-padding-horizontal;
    padding: 9px 10px;
    @include navbar-vertical-align(34px);
    background-color: transparent;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    border: 1px solid transparent;
    border-radius: $border-radius-base;
    // We remove the `outline` here, but later compensate by attaching `:hover`
    // styles to `:focus`.
    &:focus {
        outline: 0;
    }
    // Bars
    .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
    }
    .icon-bar + .icon-bar {
        margin-top: 4px;
    }
    @media (min-width: $grid-float-breakpoint) {
        display: none;
    }
}

// Navbar nav links
//
// Builds on top of the `.nav` components with its own modifier class to make
// the nav the full height of the horizontal nav (above 768px).
.navbar-nav {
    margin: ($navbar-padding-vertical / 2) (-$navbar-padding-horizontal);
    > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: $line-height-computed;
    }
    @media (max-width: $grid-float-breakpoint-max) {
        position: relative;
        // Dropdowns get custom display when collapsed
        .open .dropdown-menu {
            // position: relative;
            position: absolute;
            float: none;
            // width: auto;
            margin-top: 0;
            background-color: transparent;
            border: 0;
            box-shadow: none;
            display: block;
            width: 100%;
            .dropdown-second-level {
                left: 0;
                padding-top: 0;
                padding-bottom: 0;
            }
            li {
                display: block;
                width: 100%;
                float: none;
            }
            > li > a,
            .dropdown-header {
                padding: 5px 15px 5px 25px;
                display: block;
                width: 100%;
            }
            > li > a {
                line-height: $line-height-computed;
                &:hover,
                &:focus {
                    background-image: none;
                }
            }
        }
    }
    // Uncollapse the nav
    @media (min-width: $grid-float-breakpoint) {
        float: left;
        margin: 0;
        > li {
            float: left;
            > a {
                padding-top: $navbar-padding-vertical;
                padding-bottom: $navbar-padding-vertical;
            }
        }
    }
}

// Navbar form
//
// Extension of the `.form-inline` with some extra flavor for optimum display in
// our navbars.
.navbar-form {
    margin-left: -$navbar-padding-horizontal;
    margin-right: -$navbar-padding-horizontal;
    padding: 10px $navbar-padding-horizontal;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    $shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
    @include box-shadow($shadow);
    // Mixin behavior for optimum display
    @include form-inline;
    .form-group {
        @media (max-width: $grid-float-breakpoint-max) {
            margin-bottom: 5px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    // Vertically center in expanded, horizontal navbar
    @include navbar-vertical-align($input-height-base);
    // Undo 100% width for pull classes
    @media (min-width: $grid-float-breakpoint) {
        width: auto;
        border: 0;
        margin-left: 0;
        margin-right: 0;
        padding-top: 0;
        padding-bottom: 0;
        @include box-shadow(none);
    }
}

// Dropdown menus
// Menu position and menu carets
.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    background: transparent;
    @include border-top-radius(0);
}

// Menu position and menu caret support for dropups via extra dropup class
.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
    margin-bottom: 0;
    @include border-top-radius($navbar-border-radius);
    @include border-bottom-radius(0);
}

// Buttons in navbars
//
// Vertically center a button within a navbar (when *not* in a form).
.navbar-btn {
    @include navbar-vertical-align($input-height-base);
    &.btn-sm {
        @include navbar-vertical-align($input-height-small);
    }
    &.btn-xs {
        @include navbar-vertical-align(22);
    }
}

// Text in navbars
//
// Add a class to make any element properly align itself vertically within the navbars.
.navbar-text {
    @include navbar-vertical-align($line-height-computed);
    @media (min-width: $grid-float-breakpoint) {
        float: left;
        margin-left: $navbar-padding-horizontal;
        margin-right: $navbar-padding-horizontal;
    }
}

// Component alignment
//
// Repurpose the pull utilities as their own navbar utilities to avoid specificity
// issues with parents and chaining. Only do this when the navbar is uncollapsed
// though so that navbar contents properly stack and align in mobile.
//
// Declared after the navbar components to ensure more specificity on the margins.
@media (min-width: $grid-float-breakpoint) {
    .navbar-left {
        float: left !important;
    }
    .navbar-right {
        float: right !important;
        margin-right: -$navbar-padding-horizontal;
        ~ .navbar-right {
            margin-right: 0;
        }
    }
}

// Alternate navbars
// --------------------------------------------------
// Default navbar
.navbar-default {
    background-color: $navbar-default-bg;
    border-color: $navbar-default-border;
    .navbar-brand {
        color: $navbar-default-brand-color;
        &:hover,
        &:focus {
            color: $navbar-default-brand-hover-color;
            background-color: $navbar-default-brand-hover-bg;
        }
    }
    .navbar-text {
        color: $navbar-default-color;
    }
    .navbar-nav {
        > li > a {
            color: $navbar-default-link-color;
            &:hover,
            &:focus {
                color: $navbar-default-link-hover-color;
                background-color: $navbar-default-link-hover-bg;
            }
        }
        > .active > a {
            &,
            &:hover,
            &:focus {
                color: $navbar-default-link-active-color;
                background-color: $navbar-default-link-active-bg;
            }
        }
        > .disabled > a {
            &,
            &:hover,
            &:focus {
                color: $navbar-default-link-disabled-color;
                background-color: $navbar-default-link-disabled-bg;
            }
        }
    }
    .navbar-toggle {
        border-color: $navbar-default-toggle-border-color;
        &:hover,
        &:focus {
            background-color: $navbar-default-toggle-hover-bg;
        }
        .icon-bar {
            background-color: $navbar-default-toggle-icon-bar-bg;
        }
    }
    .navbar-collapse,
    .navbar-form {
        border-color: $navbar-default-border;
    }
    // Dropdown menu items
    .navbar-nav {
        // Remove background color from open dropdown
        > .open > a {
            &,
            &:hover,
            &:focus {
                background-color: $navbar-default-link-active-bg;
                color: $navbar-default-link-active-color;
            }
        }
        @media (max-width: $grid-float-breakpoint-max) {
            // Dropdowns get custom display when collapsed
            .open .dropdown-menu {
                > li > a {
                    color: $navbar-default-link-color;
                    &:hover,
                    &:focus {
                        color: $navbar-default-link-hover-color;
                        background-color: $navbar-default-link-hover-bg;
                    }
                }
                > .active > a {
                    &,
                    &:hover,
                    &:focus {
                        color: $navbar-default-link-active-color;
                        background-color: $navbar-default-link-active-bg;
                    }
                }
                > .disabled > a {
                    &,
                    &:hover,
                    &:focus {
                        color: $navbar-default-link-disabled-color;
                        background-color: $navbar-default-link-disabled-bg;
                    }
                }
            }
        }
    }
    // Links in navbars
    //
    // Add a class to ensure links outside the navbar nav are colored correctly.
    .navbar-link {
        color: $navbar-default-link-color;
        &:hover {
            color: $navbar-default-link-hover-color;
        }
    }
    .btn-link {
        color: $navbar-default-link-color;
        &:hover,
        &:focus {
            color: $navbar-default-link-hover-color;
        }
        &[disabled],
        fieldset[disabled] & {
            &:hover,
            &:focus {
                color: $navbar-default-link-disabled-color;
            }
        }
    }
}

// Inverse navbar
.navbar-inverse {
    background-color: $navbar-inverse-bg;
    border-color: $navbar-inverse-border;
    .navbar-menu {
        width: 100%;
        display: block;
        .navbar-menu {
            display: block;
            width: 24%;
            float: left;
            margin: 0;
            padding: 0;
        }
        .navbar-form {
            display: block;
            width: 57%;
            float: left;
            border: none;
        }
        .navbar-cart {
            display: block;
            width: 19%;
            float: left;
            margin: 0;
            padding: 0;
            overflow: hidden;
            a {
                padding-top: $line-height-computed - 13px;
                padding-bottom: $line-height-computed - 0px;
                padding-left: 10px;
                padding-right: 10px;
                word-wrap: nowrap;
                white-space: nowrap;
                text-overflow: ellipsis;
                .glyphicon-shopping-cart {
                    font-size: $font-size-h2 + 4px;
                    // height: $font-size-h2 + 4px;
                    // display: inline-block;
                    // line-height: 6px;
                    position: relative;
                    top: 8px;
                    @include rotateY(180deg);
                }
            }
        }
    }
    @media (max-width: $screen-md) {
        .navbar-collapse {
            .navbar-menu {
                width: 30%;
            }
            .navbar-form {
                width: 46%;
            }
            .navbar-cart {
                width: 24%;
            }
        }
    }
    @media (max-width: $screen-md) {
        .navbar-collapse {
            .navbar-menu {
                width: 23%;
                ul.dropdown-menu {
                    width: 100%;
                    background-color: transparent;
                    li {
                        a {
                            padding: 5px 10px;
                            white-space: normal;
                        }
                    }

                    &.dropdown-second-level {
                        background-color: $body-bg;
                    }
                }
            }
            .navbar-form {
                width: 53%;
            }
            .navbar-cart {
                width: 24%;
            }
        }
    }
    @media (max-width: $screen-xs) {
        .navbar-collapse {
            .navbar-menu {
                ul.dropdown-menu {
                    li {
                        a {
                            padding: 5px 10px;
                            white-space: normal;
                        }
                    }
                }
            }
        }
    }

        

    @media (max-width: $screen-sm - 1) {
        .container {
            padding: 0;
        }
        .navbar-collapse {
            margin-left: 0;
            margin-right: 0;
            .navbar-menu {
                width: 13%;
                li {
                    a {
                        padding: $padding-base-vertical + 14px $padding-base-horizontal - 10px;
                        .hidden-xs {
                            font-size: $font-size-base + 2px;
                            &:last-child {
                                margin-left: 0;
                                position: relative;
                                top: 0;
                            }
                        }
                    }
                }
                ul.dropdown-menu {
                    width: 100%;
                    background-color: $gray-lighter;
                    border-top: 1px solid $gray-light;
                    border-bottom: 1px solid $gray-light;
                    margin: 0;
                    .nav-tabs {
                        width: 130px;
                        float: left;
                        border: none;
                        margin-top: 10px;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                    .tab-content {
                        margin-left: 127px;
                        border-left: 1px solid $gray-light;
                        min-height: 275px;
                        background-color: $body-bg;
                        .tab-pane {
                            padding-top: 10px;
                        }
                        .mainmenu-dropdown {
                            border: none;
                            box-shadow: none;
                            margin-bottom: 0;
                            li {
                                p {
                                    margin: 0;
                                    padding: 15px 10px 10px 10px;
                                    color: $gray-light;
                                    font-size: $font-size-base + 6px;
                                    strong {
                                        font-weight: inherit;
                                    }
                                }
                                a {
                                    border: none;
                                    background-color: transparent;
                                    &:hover,
                                    &:focus {
                                        color: $body-bg;
                                        text-decoration: none;
                                        background-color: $gray-light !important;
                                    }
                                    &:after {
                                        display: none;
                                    }
                                }
                                &.dropdown-hover-trigger {
                                    .dropdown-second-level {
                                        position: relative;
                                        display: none;
                                        background-color: transparent;
                                        border: none;
                                        min-width: 100px;
                                        li {
                                            a {
                                                padding-left: 25px;
                                                color: $gray;
                                                background-color: transparent;
                                                &:hover,
                                                &:focus {
                                                    color: $body-bg;
                                                    text-decoration: none;
                                                    background-color: $gray-light !important;
                                                }
                                            }
                                        }
                                    }
                                    &.open {
                                        .dropdown-second-level {
                                            display: block;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    li {
                        a {
                            padding: 5px 10px;
                            white-space: normal;
                        }
                    }
                }
            }
            .navbar-form {
                width: 57%;
                .form-group {
                    margin-bottom: 0;
                }
            }
            .navbar-cart {
                width: 30%;
            }
        }
    }
    @media (max-width: $screen-sm - 1px) {
        .navbar-collapse {
            .navbar-menu {
                width: 10%;
                li {
                    a {
                        padding: $padding-base-vertical + 4px $padding-base-horizontal - 10px;
                    }
                }
            }
            .navbar-form {
                width: 72%;
                .form-group {
                    .form-control {
                        font-size: $font-size-base + 1px;
                        height: 40px;
                    }
                }
                .btn {
                    width: 40px;
                    height: 40px;
                    font-size: $font-size-base + 5px;
                    padding: 9px 0;
                    box-shadow: none;
                }
            }
            .navbar-cart {
                width: 18%;
                li {
                    a {
                        font-size: $font-size-base;
                        padding-top: 0px;
                        height: 40px;
                        line-height: 40px;
                        .glyphicon-shopping-cart {
                            font-size: $font-size-base + 10px;
                            top: 6px;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 500px) {
        .navbar-collapse {
            .navbar-form {
                width: 65%;
            }
            .navbar-cart {
                width: 25%;
            }
        }
    }
    .navbar-brand {
        color: $navbar-inverse-brand-color;
        &:hover,
        &:focus {
            color: $navbar-inverse-brand-hover-color;
            background-color: $navbar-inverse-brand-hover-bg;
        }
    }
    .navbar-text {
        color: $navbar-inverse-color;
    }
    .navbar-nav {
        li {
            width: 100%;
        }
        > li > a {
            color: $navbar-inverse-link-color;
            background-color: lighten($gray-dark, 4%);
            padding-left: $line-height-computed + 2px;
            padding-right: $line-height-computed + 2px;
            padding-top: $line-height-computed + 0px;
            padding-bottom: $line-height-computed + 0px;
            font-size: $font-size-large + 2px;
            width: 100%;
            text-align: center;
            @include transition(all 0.2s ease-out);
            .caret {
                border: none;
                color: $brand-warning;
                font-size: $font-size-large + 6px;
                width: 20px;
                height: 20px;
                top: -3px;
                position: relative;
                @include transition(all 0.2s ease-out);
                @include rotate(0deg);
                &:after {
                    font-family: 'Glyphicons Halflings';
                    content: "\e080";
                }
            }
            &:hover,
            &:focus {
                color: $navbar-inverse-link-hover-color;
                background-color: $navbar-inverse-link-hover-bg;
            }
        }
        li {
            &.open {
                a {
                    .caret {
                        @include rotate(90deg);
                    }
                }
            }
        }
        > .active > a {
            &,
            &:hover,
            &:focus {
                color: $navbar-inverse-link-active-color;
                background-color: $navbar-inverse-link-active-bg;
            }
        }
        > .disabled > a {
            &,
            &:hover,
            &:focus {
                color: $navbar-inverse-link-disabled-color;
                background-color: $navbar-inverse-link-disabled-bg;
            }
        }
    }
    .navbar-form {
        display: block;
        // width: 100%;
        position: relative;
        margin: 0;
        padding: 0;
        .form-group {
            width: 100%;
            .form-control {
                width: 100%;
                height: $navbar-height;
                border-radius: $border-radius-small;
                font-size: $font-size-large;
            }
        }
        .btn {
            position: absolute;
            top: 0;
            right: 0;
            height: $navbar-height;
            width: $navbar-height;
            border-radius: $border-radius-small;
            font-size: $font-size-h1;
            padding-left: 0;
            padding-right: 0;
            .glyphicon {
                position: relative;
                left: 0px;
            }
        }
    }
    // Darken the responsive nav toggle
    .navbar-toggle {
        border-color: $navbar-inverse-toggle-border-color;
        &:hover,
        &:focus {
            background-color: $navbar-inverse-toggle-hover-bg;
        }
        .icon-bar {
            background-color: $navbar-inverse-toggle-icon-bar-bg;
        }
    }
    .navbar-collapse,
    .navbar-form {
        border-color: darken($navbar-inverse-bg, 7%);
    }
    // Dropdowns
    .navbar-nav {
        > .open > a {
            &,
            &:hover,
            &:focus {
                background-color: $navbar-inverse-link-active-bg;
                color: $navbar-inverse-link-active-color;
            }
        }
        @media (max-width: $grid-float-breakpoint-max) {
            // Dropdowns get custom display
            .open .dropdown-menu {
                > .dropdown-header {
                    border-color: $navbar-inverse-border;
                }
                .divider {
                    background-color: $navbar-inverse-border;
                }
                li {
                    a {
                        background-color: $gray-lighter;
                        border: 1px solid $gray-light;
                        font-size: $font-size-base + 2px;
                        position: relative;
                        border-radius: 0;
                        // border-bottom-color: $gray !important;
                        // color: $brand-warning !important;
                        &:after {
                            content: "\e080";
                            font-family: 'Glyphicons Halflings';
                            position: absolute;
                            right: 5px;
                            top: 6px;
                            color: $brand-warning;
                            display: inline-block;
                            font-weight: 400;
                        }
                    }
                    &.active {
                        a {
                            background-color: $body-bg;
                            font-weight: 600;
                        }
                    }
                    &.notab {
                        a {
                            &:after {
                                display: none;
                            }
                        }
                    }
                    &.logout {
                        a {
                            background-color: $gray-dark;
                            color: $brand-warning;
                            font-weight: 600;
                        }
                    }
                }
                > li > a {
                    color: $navbar-inverse-link-color;
                    &:hover,
                    &:focus {
                        color: $navbar-inverse-link-hover-color;
                        background-color: darken($navbar-inverse-link-hover-bg, 4%) !important;
                        color: $brand-warning;
                    }
                }
                > .active > a {
                    &,
                    &:hover,
                    &:focus {
                        color: $navbar-inverse-link-active-color;
                    }
                }
                > .disabled > a {
                    &,
                    &:hover,
                    &:focus {
                        color: $navbar-inverse-link-disabled-color;
                        background-color: $navbar-inverse-link-disabled-bg;
                    }
                }
            }
        }
    }
    .navbar-link {
        color: $navbar-inverse-link-color;
        &:hover {
            color: $navbar-inverse-link-hover-color;
        }
    }
    .btn-link {
        color: $navbar-inverse-link-color;
        &:hover,
        &:focus {
            color: $navbar-inverse-link-hover-color;
        }
        &[disabled],
        fieldset[disabled] & {
            &:hover,
            &:focus {
                color: $navbar-inverse-link-disabled-color;
            }
        }
    }
}
