//
// Tables
// --------------------------------------------------


table {
  background-color: $table-bg;
}
caption {
  padding-top: $table-cell-padding;
  padding-bottom: $table-cell-padding;
  color: $text-muted;
  text-align: left;
}
th {
  text-align: left;
}


// Baseline styles

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: $line-height-computed;
  margin-top: 10px;
  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: $table-cell-padding;
        line-height: $line-height-base;
        vertical-align: top;
        border-top: 1px solid $table-border-color;

        @media (max-width: $screen-xxs) {
          padding: $table-cell-padding $table-cell-padding / 2;
          .label {
            padding-left: 4px;
            padding-right: 4px;
          }
        }
      }
    }
  }
  // Bottom align for column headings
  > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid $table-border-color;
    // padding-left: 15px;
    // padding-right: 15px;
    padding-left: $table-cell-padding;
    padding-right: $table-cell-padding;

    @media (max-width: $screen-xxs) {
      padding: $table-cell-padding $table-cell-padding / 2;
    }

    .checkbox {
      margin: 0;
      position: relative;
      top: 2px;

      .checkbox-custom {
        padding-left: 0;
        padding-right: 20px;

        &:before {
          left: auto;
          right: 0;
        }
      }
    }
  }

  tbody {
    tr {
      td {
        .checkbox {
          &.single {
            margin: 0;

            .checkbox-custom {
              padding-left: 0;
              padding-right: 36px;

              &:before {
                left: auto;
                right: 0;
              }
            }

          }
        }

        &.shipment-value {
          min-width: 120px;
        }
      }

      &.collapse-table-row {
        // display: block !important;
        @include transition(height 0.3s ease-out);

        td {
          @include transition(height 0.3s ease-out);
        }

        &.collapse {
          td {
            height: 0;
          }

          &.in {
            td {
              height: auto;
            }
          }
        }
      }
    }
  }
  // Remove top border from thead by default
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 0;
      }
    }
  }
  // Account for multiple tbody instances
  > tbody + tbody {
    border-top: 2px solid $table-border-color;
  }

  // Nesting
  .table {
    background-color: $body-bg;
  }

  thead {
    font-family: $headings-font-family;
  }

  &.table-mobile {
    thead {

    }

    tbody {
      tr {
        td {
          .caption {
            display: none;
          }
        }
      }
    }

    @media (max-width: $screen-xxs) {
      // display: block;
      thead {
        display: none;
      }

      tbody {
        tr {
          // position: relative;
          // display: block;
          td {
            display: block;
            position: relative;
            border: none;
            .caption {
              display: inline-block;
              float: left;
              font-weight: 600;
              width: 150px;
              min-height: 25px;
            }

            &.visible-xxs {
              display: block !important;
            }
            
            $action-left-offset: 240px;

            &.action-right-bottom {
              position: relative;
              float: left;
              bottom: 35px;
              left: $action-left-offset;
              display: block;

              .dropdown-menu {
                position: absolute;
                left: -$action-left-offset + 0px;
                top: 100%;
              }
            }
          }
        }
      }
    }

    &.orders {
      thead {
        tr {
          th.check-mobile {
            display: none;
          }
        }
      }
      tbody {
        tr {
          td {
            .checkbox {
              &.mobile {
                display: none;
              }
            }
          }
        }
      }
      @media (max-width: $screen-xxs) {
        thead {
          tr {
            display: block;
            th.check-mobile {
              display: none;
            }
          }
        }
        thead {
          display: block;

          tr {
            th {
              display: none;

              &.check-mobile {
                display: block;
                width: 100%;

                .checkbox-custom {
                  padding-right: 0;
                  padding-left: 20px;
                  &:before {
                    left: 0;
                    right: auto;
                  }
                }
              }
            }
          }
        }
        tbody {
          tr {
            display: block;

            td.check {
              display: none;
            }

            td {
              .checkbox {
                &.mobile {
                  display: inline;

                  .checkbox-custom {
                    padding-left: 20px;
                    padding-right: 0;
                    display: inline;

                    &:before {
                      left: 0;
                      right: auto;
                    }
                  }
                }
              }

              .dropdown {
                .dropdown-table-actions {

                  // left: -18px;
                }
              }

              .hidden-mobile {
                display: none;
              }
            }
          }
        }
      }
    }

    &.table-invoices {
      @media (max-width: $screen-md) {
        thead {
          tr {
            display: block;
            th.check-mobile {
              display: none;
            }
          }
        }
        thead {
          display: block;

          tr {
            th {
              display: none;

              &.check-mobile {
                display: block;
                width: 100%;

                .checkbox-custom {
                  padding-right: 0;
                  padding-left: 20px;
                  &:before {
                    left: 0;
                    right: auto;
                  }
                }
              }
            }
          }
        }
        tbody {
          tr {
            display: block;

            @media (max-width: $screen-md) {
              border-top: 1px solid darken($gray-lighter, 5%);
            }

            td.check {
              display: none;
            }

            td {
              border: none;
              .caption {
                display: inline-block;
                float: left;
                font-weight: 600;
                width: 150px;
                min-height: 25px;
              }
              display: block;
              .checkbox {
                &.mobile {
                  display: inline;

                  .checkbox-custom {
                    padding-left: 20px;
                    padding-right: 0;
                    display: inline;

                    &:before {
                      left: 0;
                      right: auto;
                    }
                  }
                }
              }

              .dropdown {
                .dropdown-table-actions {

                  // left: -18px;
                }
              }

              .hidden-mobile {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  &.table-order-pad {
    @media (max-width: $screen-xs) {
      tbody {
        tr {
          background-color: transparent !important;

          td {
            border: none;
            padding-top: 0;
            padding-bottom: 0;

            .row {
              &.smaller {
                margin-bottom: 15px;
              }
            }
          }
        }
      }
    }
  }

  &.table-slips {

    @media (max-width: $screen-md) {
      tbody {
        tr {
          border-top: 1px solid darken($gray-lighter, 5%);
        }
      }
    }

    @media (max-width: $screen-xs-max - 1px) {
      thead {
        display: none;
      }
      tbody {
        tr {
          // border-top: 1px solid darken($gray-lighter, 5%);
          // position: relative;
          // display: block;


          td {
            display: block;
            position: relative;
            border: none;
            .caption {
              display: inline-block;
              float: left;
              font-weight: 600;
              width: 150px;
              min-height: 25px;
            }

            .shipment-multi-link {
              min-height: 25px;
              display: inline-block;
            }
            
            .collapse {
              // padding-left: 150px;
              // margin-top: 10px;
              // position: relative;
              // top: 1px;
            }
            .table-shipment {

              tbody {
                // display: block;

                tr {
                  // padding-left: 150px;
                }
              }
            }

            &.visible-xxs {
              display: block !important;
            }
            
            $action-left-offset: 240px;

            &.action-right-bottom {
              position: relative;
              float: left;
              bottom: 35px;
              left: $action-left-offset;
              display: block;

              .dropdown-menu {
                position: absolute;
                left: -$action-left-offset + 0px;
                top: 100%;
              }
            }
          }
        }
      }
    }
  }
}


// Condensed table w/ half padding

.table-condensed {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: $table-condensed-cell-padding;
      }
    }
  }
}


// Bordered version
//
// Add borders all around the table and between all the columns.

.table-bordered {
  border: 1px solid $table-border-color;
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        border: 1px solid $table-border-color;
      }
    }
  }
  > thead > tr {
    > th,
    > td {
      border-bottom-width: 2px;
    }
  }
}


// Zebra-striping
//
// Default zebra-stripe styles (alternating gray and transparent backgrounds)

.table-striped {
  > tbody > tr:nth-of-type(odd) {
    background-color: darken($table-bg-accent, 1%);
  }
}


// Hover effect
//
// Placed here since it has to come after the potential zebra striping

.table-hover {
  > tbody > tr:hover {
    background-color: $table-bg-hover;
  }
}


// Table cell sizing
//
// Reset default table behavior

table col[class*="col-"] {
  position: static; // Prevent border hiding in Firefox and IE9-11 (see https://github.com/twbs/bootstrap/issues/11623)
  float: none;
  display: table-column;
}
table {
  td,
  th {
    &[class*="col-"] {
      position: static; // Prevent border hiding in Firefox and IE9-11 (see https://github.com/twbs/bootstrap/issues/11623)
      float: none;
      display: table-cell;
    }
  }
}


// Table backgrounds
//
// Exact selectors below required to override `.table-striped` and prevent
// inheritance to nested tables.

// Generate the contextual variants
@include table-row-variant('active', $table-bg-active);
@include table-row-variant('success', $state-success-bg);
@include table-row-variant('info', $state-info-bg);
@include table-row-variant('warning', $state-warning-bg);
@include table-row-variant('danger', $state-danger-bg);


// Responsive tables
//
// Wrap your tables in `.table-responsive` and we'll make them mobile friendly
// by enabling horizontal scrolling. Only applies <768px. Everything above that
// will display normally.

.table-responsive {
  overflow-x: auto;
  min-height: 0.01%; // Workaround for IE9 bug (see https://github.com/twbs/bootstrap/issues/14837)

  @media screen and (max-width: $screen-xs-max) {
    width: 100%;
    margin-bottom: ($line-height-computed * 0.75);
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid $table-border-color;

    // Tighten up spacing
    > .table {
      margin-bottom: 0;

      // Ensure the content doesn't wrap
      > thead,
      > tbody,
      > tfoot {
        > tr {
          > th,
          > td {
            white-space: nowrap;
          }
        }
      }
    }

    // Special overrides for the bordered tables
    > .table-bordered {
      border: 0;

      // Nuke the appropriate borders so that the parent can handle them
      > thead,
      > tbody,
      > tfoot {
        > tr {
          > th:first-child,
          > td:first-child {
            border-left: 0;
          }
          > th:last-child,
          > td:last-child {
            border-right: 0;
          }
        }
      }

      // Only nuke the last row's bottom-border in `tbody` and `tfoot` since
      // chances are there will be only one `tr` in a `thead` and that would
      // remove the border altogether.
      > tbody,
      > tfoot {
        > tr:last-child {
          > th,
          > td {
            border-bottom: 0;
          }
        }
      }

    }
  }
}
