//
// Thumbnails
// --------------------------------------------------


// Mixin and adjust the regular image class
.thumbnail {
  display: block;
  padding: $thumbnail-padding;
  margin-bottom: $line-height-computed + 10px;
  line-height: $line-height-base;
  background-color: $thumbnail-bg;
  border: 1px solid $thumbnail-border;
  border-radius: $thumbnail-border-radius;
  background: $footer-bg;
  position: relative;
  @include transition(border .2s ease-in-out);

  &.thumbnail-testimonial {
    padding: $thumbnail-padding + 5px;
    background-color: lighten($thumbnail-bg, 6%);
    @include transition (all 0.1s ease-out);
  }

  a {
    display: block;

    h4 {
      color: $gray;
      margin-top: 10px;
      margin-bottom: 10px;
      white-space: pre-wrap;
      word-wrap: break-word;
    }

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;

      .image {
        &.video-thumb {
          .video-overlay {
            opacity: 1;
            background: rgba($gray, 0.7);

            .image {
              img {
                color: $brand-warning;
                fill: $brand-warning;
              }
            }
          }
        }
      }

      h4 {
        color: $brand-warning;
      }
    }

    &.btn {
      @media (max-width: 630px) {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }

  .thumbnail-content {
    // position: relative;
  }

  .image {
    overflow: hidden;
    min-height: 115px;
    max-height: 150px;

    @media (max-width: 750px) {
      min-height: 90px;
    }

    @media (max-width: 650px) {
      min-height: 60px;
    }

    @media (max-width: $screen-xxs) {
      min-height: 150px;
      max-height: 230px;
    }

    @media (max-width: 370px) {
      min-height: 140px;
      max-height: 180px;
    }

    @media (max-width: $screen-sm) {
      margin-bottom: 10px;
    }

    img {
      display: block;
      width: 100%;
    }

    &.video-thumb {
      position: relative;

     .video-overlay {
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       opacity: 1;
       background: rgba($gray, 0.0);
       text-align: center;
       z-index: 2;
       @include transition(all 0.5s ease-out);

       .image {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -30px;
        margin-left: -30px;
        display: block;
        width: 60px;
        height: 60px;
        min-height: 10px;
        border-radius: 100%;
        padding-left: 6px;
        padding-top: 6px;
        background-color: $gray;
        text-align: center;

        img {
          color: $body-bg;
        }

       }
     }
    }

  }

  h4 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  small {
    color: $gray-light;
    margin-bottom: 90px;
    display: block;
    font-size: $font-size-small + 1px;
    font-family: $headings-font-family;

    @media (max-width: $screen-sm) {
      margin-bottom: 90px;
    }
  }

  .no-qty {
    small {
      margin-bottom: 40px;
    }
  }

  big {
    font-size: $font-size-h4 + 3px;
    margin-bottom: 10px;
    margin-top: -10px;
    display: block;
    font-family: $headings-font-family;
  }

  ul.list-unstyled {
    margin-bottom: 50px;

    @media (max-width: $screen-xxs) {
      margin-bottom: 10px;
    }

    li {
      a {
        color: $gray-light;
        font-family: 'Lato', $font-family-sans-serif;

        &:hover {
          text-decoration: none;
          color: $brand-warning;
        }
      }
    }
  }

  .counter {
    margin-left: 0;
    margin-right: 0;
    
    div {
      padding: 0;

      &.qty-field {
        padding-right: 10px;
      }

      // &.col-sm-5 {
      //   padding-right: 10px;
      // }

      *.row {
        margin: 0;
      }
    }
  }

  .floated-bottom {
    position: absolute;
    display: block;
    width: 100%;
    padding: 5px;
    left: 0px;
    bottom: 0px;
  }

  > img,
  a > img {
    @include img-responsive;
    margin-left: auto;
    margin-right: auto;
  }

  // [converter] extracted a&:hover, a&:focus, a&.active to a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active

  // Image captions
  .caption {
    padding: $thumbnail-caption-padding;
    color: $thumbnail-caption-color;
  }

  @media (max-width: $screen-xxs) {
    position: relative;
    display: block;
    width: 100%;
    display: block;
    margin-bottom: 20px;

    .floated-bottom {
      // left: 15px;
      position: relative;
    }

    .image {
      // width: 180px;
      // float: left;
      // display: block;
    }

    .thumbnail-content {

      h4 {
        margin-top: 0;
      }

      // width: 60%;
      // padding-left: 190px;
      // float: left;
      // display: inline;
      // position: relative;
    }
  }

  a {
    .root-mobile-title {
      margin-top: 0;
      font-size: $font-size-h4 + 3px;
    }
  }

  // case study thumd
  &.case-study {
    padding: $padding-large-vertical * 2 $padding-large-horizontal;
    position: relative;

    @media (min-width: $screen-sm) {
      padding-bottom: 30px;
    }

    .text-block {
      p {
        max-height: 98px;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    .view-link {
      margin-top: 20px;
      margin-bottom: 10px;
      font-size: $font-size-base + 1px;
      
      @media (min-width: $screen-sm) {
          position: absolute;
          bottom: 0;
          left: 10px;
      }
    }

  }


}

// Add a hover state for linked versions only
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: $brand-warning;
}
