/* 
 * 	Default theme - Owl Carousel CSS File
 */

$color-base:			#869791;
$color-white:			#FFF;
$color-gray:			#D6D6D6;

//nav

$nav-color: 			$color-white;
$nav-color-hover:		$color-white;
$nav-font-size: 		14px;
$nav-rounded: 			3px;
$nav-margin: 			5px;
$nav-padding: 			4px 7px;
$nav-background: 		$color-gray;
$nav-background-hover:	$color-base;
$nav-disabled-opacity: 	0.5;

//dots

$dot-width:				10px;
$dot-height:			10px;
$dot-rounded:			30px;
$dot-margin: 			5px 7px;
$dot-background:		$color-gray;
$dot-background-active:	$color-base;

// @import 'mixins';
// @import 'theme';

.owl-home {
	display: block;
	width: 100%;
	overflow: hidden;
	height: 368px;
	position: relative;

	&:before,
	&:after {
		display: block;
		content: '';
		width: 450px;
		height: 368px;
		position: absolute;
		top: 0;
		left: 0;
		@include gradient-horizontal($start-color: $body-bg, $end-color: rgba($body-bg, 0), $start-percent: 0%, $end-percent: 100%);
		z-index: 2;
	}

	&:after {
		@include gradient-horizontal($start-color: rgba($body-bg, 0), $end-color: $body-bg, $start-percent: 0%, $end-percent: 100%);
		left: auto;
		right: 0;
	}

	@media (max-width: 1800px) {
		&:before,
		&:after {
			width: 250px;
		}
	}

	@media (max-width: 1500px) {
		&:before,
		&:after {
			width: 150px;
		}
	}

	@media (max-width: 1260px) {
		&:before,
		&:after {
			width: 80px;
		}
	}

	@media (max-width: 1110px) {
		&:before,
		&:after {
			display: none;
		}
	}

	.owl-item {
		position: relative;
  		min-height: 1px;
  		float: left;
  		background-color: $body-bg;
  		height: 368px;

  		div {
  			display: block;
  			// width: 100%;
  			height: 100%;
  		}

  		.image {
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 100%;
			height: 100%;
			background-repeat: no-repeat !important;
			background-size: cover !important;

			img {
				display: block;
				width: 100%;
				height: auto;
				margin-left: auto;
				margin-right: auto;
			}
  		}

  		.lead-block {
  			position: absolute;
  			left: 0;
  			bottom: 0;
  			display: block;
  			width: 100%;
  			height: 160px;
  			background: rgba($gray-darker, 0.6);
  			padding-top: 25px;
  			color: $body-bg;
  			overflow: hidden;

  			.container {
  				@include transition(padding 0.1s ease-out);
  			}

  			h2 {
  				margin-top: 0;
  				font-family: 'Lato', $font-family-sans-serif;
  				font-weight: 700;
  			}

  			p {
  				font-family: 'Lato', $font-family-sans-serif;
  				margin-bottom: 10px;

  				@media (max-width: $screen-md) {
  					font-size: $font-size-base + 5px;
  				}
  			}

  			.btn {
  				position: relative;
  				top: 35%;
  				margin-top: -10px;
  			}
  		}

  		@media (max-width: $screen-sm) {
  			.lead-block {
  				background: $gray;
  				height: auto;
  				padding-bottom: 20px;

  				h2 {
  					font-size: $font-size-h3;
  				}

  				.btn {
  					padding: $padding-base-vertical $padding-base-horizontal;
  					font-size: $font-size-h4;
  					display: block;
  					width: 100%;
  				}
  			}
  		}
	}
}

.owl-thumbnails, .owl-full-width {
	position: relative;
	display: block;
	
	@media (max-width: $screen-sm) {
		margin-bottom: 60px;
	}

	.owl-stage-outer {
		overflow: hidden;
	}

	.owl-controls {
		position: absolute;
		right: 37px;
		top: -40px;
		display: block;
		height: 40px;
		width: auto;

		.owl-pagination {
			display: block;
			position: relative;

			.owl-page {
				display: block;
				width: auto;
				background: transparent;
				text-align: center;
				float: left;
				padding: $padding-base-vertical $padding-base-horizontal;
				// margin-left: 5px;
				// margin-right: 5px;
				// font-family: $headings-font-family;
				font-weight: 700;
				border-radius: $border-radius-base;

				&.active {
					background: $brand-warning;
					color: $body-bg;
				}
			}
		}

		.owl-buttons {
			.owl-prev,
			.owl-next {
				display: block;
				padding: $padding-base-vertical $padding-base-horizontal;
				background: transparent;
				font-size: $font-size-large + 2px;
				position: absolute;
				color: $brand-warning;
				top: -3px;
				left: -45px;

				&.disabled {
					color: lighten($gray-light, 5%);
					cursor: default;

					&:hover {
						color: lighten($gray-light, 5%) !important;
					}
				}

				&:hover,
				&:focus,
				&:active {
					color: $brand-warning;
				}

				&.owl-next {
					left: auto;
					right: -45px;	
				}
			}
		}

		@media (max-width: $screen-sm) {
			top: auto;
			bottom: -40px;
			right: 37px;
			left: 37px;
			// width: 100%;
			// height: 40px;
			// text-align: center;
			// display: block;
			// right: 0;
			// width: 100%;
			// text-align: center;

			// .owl-buttons {
			// 	display: block;
			// 	width: 100%;
			// }

			.owl-pagination {
				text-align: center;
				width: 100%;
				display: block;
				// position: relative;

				.owl-page {
					display: inline-block;
					float: none;
				}
			}
		}
	}

	.item {
		padding: 0 5px;
	}
}