html * {
    font-family: Arial, Helvetica, sans-serif !important;
}

body {
    margin-left: 0;
    font-size: 11px;
}

h1 {
    font-size: 18px/1.5;
    color: #001f4a;
    /*
        padding-left: 15px;
    */
}

h2 {
    font-size: 14px/1.5;
    /*
        padding-left: 15px;
    */
}

h3 {
    font-size: 12px/1.5;
    /*
        padding-left: 15px;
    */
}

h4 {
    font-size: 14px;
    color: #001f4a;
    /*
        padding-left: 15px;
    */
}

h5 {
    font-size: 13px;
    color: #001f4a;
    margin-top: 0;
    margin-bottom: 0;
    width: 230px;
}

h6 {
    font-size: 16px;
    /*
        padding-left: 15px;
    */
}

h7 {
    font-size: 12px/1.5;
    /*
        padding-left: 15px;
    */
}

hr {
    color: #CCCCCC;
}

p {
    font-size: 12px/2.0;
}

#security {
    padding-left: 13px;
}

.file_input {
    opacity: 0;
    filter: alpha(opacity:0);
    font-size: 199px;
    cursor: pointer;
    padding: 0;
    border: none;
    margin: 0 0 0 -450px;
}

a {
    text-decoration: none;
}

.menu ul li a:hover {
    text-decoration: underline;
}

.wrapper {
    width: 1190px;
    /*
        height: 1600px;
    */
    margin: 0 auto;
}

.header {
    width: 1190px;
    overflow: hidden;
}

.menu {
    width: 100%;
    /*
        height: 70px;
        margin-top: -40px;
    */
}

.menu ul {
    overflow: hidden;
    padding-left: 15px;
}

.menu ul li {
    float: left;
    font-size: 13.48px;
    padding-right: 5px;
    list-style-type: none;
    overflow: hidden;
}

.menu ul li a {
    color: #001f4a
}

.content_d {
    width: 940px;
}

.content_d ul {
    overflow: hidden;
    padding-left: 15px;
}

.content_d ul li {
    padding-left: 47px;
    font-size: 14px;
    list-style-type: none;
    overflow: hidden;
}

.content_d ul li a {
    color: #001f4a
}

.content_d ul li a:hover {
    text-decoration: underline;
}

.content {
    padding: 10px;
}

.content ul {
    overflow: hidden;
    padding-left: 15px;
}

.content ul li {
    padding-top: 12px;
    font-size: 14px;
    list-style-type: none;
    overflow: hidden;
    text-decoration: underline;
}

.content ul li a {
    color: #001f4a
}

.security {
    padding-left: 13px;
}

table.text {
    width: 450px; /* table width */
    border-spacing: 0; /* cell spacing */
    padding-left: 60px;
}

table.text td {
    width: 50%; /* cells width */
    vertical-align: top; /* alignment the upper edge */
}

td.rightcol {
    /* right cell */
    text-align: center; /* alingment the right edge */
}

td.rightcol ul {
    margin: 0;
    padding: 0;
}

td.rightcol ul li {
    display: inline;
    margin-right: 5px;
    padding: 0;
    font-size: 14px;
}

td.rightcol ul li a {
    color: #001f4a
}

td.rightcol ul li a:hover {
    text-decoration: underline;
}

.form_row {
    clear: both;
}

label.contact {
    padding-left: 13px;
    font-size: 12px;
}

.contact_input {
    width: 300px;
    height: 25px;
    margin-left: 15px;

}

div.right {
    float: right;
    width: 450px;
    margin: 0;
    padding-top: 15px;
    padding-left: 3px;
}

div.select {
    float: right;
    margin-left: 200px;
    margin-top: -91px;

}

div.left {
    float: left;
    width: 160px;
    margin: 0;
    padding: 1em 1em 1em 3px;
}

div.content1 {
    width: 500px;
    margin-bottom: 10px;
    padding: 1em;
}

.v1 {
    float: left;
    width: 310px;
    height: 20px;
    margin-top: 10px;
}

.v2 {
    float: left;
    width: 310px;
    height: 20px;
    /*margin-top: 10px;*/
}

.v3 {
    float: left;
    width: 310px;
    height: 20px;
    margin-top: 13px;
}

.v4 {
    float: left;
    width: 310px;
    height: 20px;
    margin-top: -19px;
}

.v5 {
    float: left;
    width: 230px;
    height: 27px;
    border: solid grey 1px;
    margin-left: 9px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.modelInput {
    width: 170px;
    height: 20px;
    line-height: 20px;
    border: solid grey 1px;
    cursor: pointer;
    vertical-align: text-top;
}

.fileform {
    background-color: #FFFFFF;
    border: solid grey 1px;
    cursor: pointer;
    height: 20px;
    overflow: hidden;
    padding: 1.5px;
    position: relative;
    text-align: left;
    vertical-align: middle;
    width: 307px;
    /*margin: 5px;*/
}

.fileform .selectbutton {
    background: url(../images/upfile.png) no-repeat;
    border: 0 solid #939494;
    color: #FFFFFF;
    float: right;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    vertical-align: middle;
    width: 85px;
}

.fileform .upload {
    position: absolute;
    float: right;
    top: 0;
    left: 0;
    width: 310px;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    font-size: 150px;
    height: 30px;
    z-index: 20;
    padding-left: 227px;
}

.fileform .fileformlabel {
    background-color: #FFFFFF;
    float: left;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    padding: 2px;
    text-align: left;
    vertical-align: middle;
    width: 210px;
}

.wrapped .upload {
    width: 100%;
    height: 100%;
}

.wrapped .selectbutton {
    margin-top: -20px;
}

.wrapped .fileformlabel {
    padding-left: 10px;
}

.wrapped .fileformlabel,
.wrapped .selectbutton,
.wrapped .upload {
    cursor: pointer;
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
}

.modalDialog:target {
    display: block;
}

.modalDialog > div {
    width: 500px;
    position: relative;
    margin: 10% auto;
    padding: 5px 10px 13px 20px;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

.close {
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid #ccc;
    height: 24px;
    line-height: 24px;
    position: absolute;
    right: -13px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 0;
    top: -15px;
    width: 24px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    font-size: 14px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
}

.close:hover {
    background-color: rgba(184, 0, 0, 0.7);
}

#button {
    position: relative;
    display: inline-block;
    width: 5em;
    height: 2em;
    line-height: 2.5em;
    vertical-align: middle;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px #777;
    color: #ffffff;
    outline: none;
    border: 2px solid #006699;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: -moz-linear-gradient: (rgb (58, 160, 253), rgb (4, 88, 192) 60%, rgb (49, 112, 201));
    -moz-box-shadow: 0 0 0 60px rgba(0, 0, 0, 0) inset, .1em .1em .2em #4c4c4c;
    -webkit-box-shadow: 0 0 0 60px rgba(0, 0, 0, 0) inset, .1em .1em .2em #4c4c4c;
    box-shadow: 0 0 0 60px rgba(0, 0, 0, 0) inset, .1em .1em .2em #4c4c4c;
    background: linear-gradient(rgb(58, 160, 253), rgb(4, 88, 192) 60%, rgb(49, 112, 201));
    background: -webkit-linear-gradient(rgb(58, 160, 253), rgb(4, 88, 192) 60%, rgb(49, 112, 201));
}

#button:active {
    top: .1em;
    left: .1em;
    -moz-box-shadow: 0 0 0 60px rgba(0, 0, 0, .05) inset;
    -webkit-box-shadow: 0 0 0 60px rgba(0, 0, 0, .05) inset;
    box-shadow: 0 0 0 60px rgba(0, 0, 0, .05) inset;
}

.datepicker {
    height: 25px;
    width: 90px;
    margin-left: 9px;
    margin-right: 17px
}

.datepick {
    height: 25px;
    width: 90px;

}

.leftcontent {
    float: left;
    width: 585px;
    max-height: 800px;
    overflow: auto;
    margin-right: 10px;
}

.rightcontent {
    float: left;
    width: 585px;
    max-height: 800px;
    margin-left: 10px;
    overflow: auto;
}

.repository {
    font-size: 11px;
    max-width: 550px;
    max-height: 125px;
    border: 2px solid #ccc;
    overflow: auto;
}

.inactiveItem {
    background-color: #F2F2F2;
    color: #6E6E6E;
}

div[itemActive=false] {
    background-color: #D8D8D8;
    color: #6E6E6E;
}

.descriptors {
    width: 580px;
    overflow: auto;
    border: 1px solid;
    max-height: 439px;
}

.ourtable {
    display: none;
    border-collapse: collapse;
    width: 100%;
}

.ourtable td {
    width: 100%;
    border: 1px solid #696969

}

.leftside {
    margin-left: 15px;
    width: 360px;
    float: left;

}

.title {
    margin-right: 50px;
}

.a {
    width: 510px;
    height: 20px;
    background: #B0C4DE;
    border: 1px solid #696969
}

.a a {
    color: #191970;
    font-size: 14px;
    text-align: center;
}

.rightside {
    float: right;
    width: 280px;
    margin-top: 5px;
}

.wayrepo {
    font-size: 11px/1.7;
}

.allowedValues {
    font-size: 14px;
    margin-left: 150px;
}

.allowedTable {
    display: none;
    border-collapse: collapse;
    margin-left: 148px;
}

.tabNameRepo {

    float: left;
    white-space: pre;
}

.tabWayRepo {

    margin-top: 4px;
    white-space: pre;
}

.content_p {
    height: 750px;
}

.next {
    background: url(../images/nbutton.png) no-repeat;
    width: 78px;
    height: 27px;
}

/*
D. Golubev
*/

.wsdl-element-clear {
    background-image: url('../images/delete.png');
    width: 10px;
    height: 10px;
    display: block;
    background-size: contain;
    float: left;
    cursor: pointer;
}

.wsdl-element-edit {
    background-image: url('../images/edit.png');
    width: 10px;
    height: 10px;
    display: block;
    background-size: contain;
    margin-left: 12px;
}

.item-descriptor-table {
    border-collapse: collapse;
    border: 2px solid white;
    width: 100%;
}

.item-descriptor-link {
    /*
        width: 567px;
    */
    height: 20px;
    background: #B0C4DE;
    border: 1px solid #696969
}

.item-descriptor-link a {
    color: #191970;
    font-size: 14px;
    text-align: center;
}

.item-descriptor-link-arrow {
    background-image: url('../images/arrow.png');
    width: 10px;
    height: 6px;
    display: block;
    margin-left: auto;
    margin-top: -10px;
    margin-right: 10px;
}

.operation-link {
    height: 20px;
    background: #B0C4DE;
    border: 1px solid #696969;
}

.operation-messages {
    border: 1px solid #696969;
    margin-bottom: 20px;
}

.chrome .item-descriptor-link-arrow {
    height: 7px;
}

.allowedTable {
    display: none;
    border-collapse: collapse;
    margin-left: 148px;
}

.action-button {
    background: #0059B3;
    border: 1px solid #314179;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 12px;
    text-decoration: none;
}

.action {
    padding-top: 20px;
}

/*
.content table{
	padding-bottom: 20px;
}

.content tr{
	width: 400px;
}

.content td{
	width: 150px;
}
*/

.dropdown {
    width: 240px;
    height: 34px;
    border-radius: 3px;
    border-width: 1px 1px 1px;
    padding: 0 7px 0;
    margin-top: 10px;
"
}

td.border-bottom {
    border-bottom: 1.5px solid lightgrey;
}

input.td-input {
    float: left;
    width: 297px;
    height: 20px;
    border: solid grey 1px;
    padding: 0 7px 0;
}

.right {
    float: right;
}

.left {
    float: left;
}

.aTop {
    vertical-align: top;
}

.inputsWrapper {
    margin-bottom: 50px;
    width: 500px;
}

.inputsWrapper label {
    font-weight: bold;
    font-size: larger;
    max-width: 230px;
    display: inline-block;
    line-height: normal;
    margin-top: 10px;
}

.inputsWrapper input[type="text"], .inputsWrapper input[type="password"] {
    width: 230px;
    height: 30px;
    border-radius: 3px;
    border-width: 1px 1px 1px;
    margin: 3px 5px;
    padding: 0 5px;
}

.inputsWrapper .inputValue {
    width: 230px;
    /* 	height: 30px; */
    padding: 0 5px;
    font-size: larger;
    max-width: 230px;
    display: inline-block;
    line-height: normal;
    margin: 10px 5px 3px;
    word-break: break-word;
}

.wrapped {
    width: 230px;
    height: 30px;
    border-radius: 3px;
    border-width: 1px 1px 1px;
    margin: 3px 5px;
    padding: 0 5px;
    float: right;
}

.inputsWrapper select {
    width: 242px;
    height: 30px;
    border-radius: 3px;
    border-width: 1px 1px 1px;
    padding: 0 5px;
    margin: 3px 5px;
}

.inputsWrapper textarea {
    width: 500px;
    height: 75px;
    margin: 3px 5px;
    resize: vertical;
    border-radius: 3px;
    border-width: 1px 1px 1px;
}

.inputsWrapper .width80 input[type="text"], .inputsWrapper input[type="password"] {
    width: 80%;
    text-align: right;
}

.inputsWrapper .width80 select {
    width: 80%;
    text-align: right;
}

.row {
    /* 	border: solid grey 1px; */
    width: 500px;
    min-height: 40px;
    margin: 10px 0;
    line-height: 40px;
}

.row.auto {
    height: auto;
    overflow: auto;
    min-height: 30px;
}

.width80 {
    width: 80%;
}

.noMargin {
    margin: 0;
}

.row .small {
    font: 13px/130% Arial, Helvetica, sans-serif;
    margin-top: 0;
    color: rgb(128, 128, 128);
    line-height: 13px;
}

.row-small {
    line-height: 10px;
    min-height: 10px;
}

#areaBottom {
    margin-left: 130px;
    display: block;
    /* 	margin-top: -15px; */
}

.headerRow {
    /* 	border: solid grey 1px; */
    width: 500px;
    min-height: 40px;
    margin: 10px 0;
}

.border-bottom {
    border-bottom: 1.5px solid black;
}

.checkWrap {
    /* 	border: solid grey 1px; */
    height: 20px;
    padding: 3px;
    margin-top: 10px;
}

.checkWrap label {
    line-height: 20px;
}

.button-small {
    margin-left: 35px;
    margin-right: 35px;
    padding: 5px 12px;
    line-height: normal;
}

.hidden {
    display: none;
}

input.td-tr-input {
    float: left;
    width: 235px;
    height: 30px;
    border: solid grey 1px;
    padding: 0 7px 0;
}

.disabled {
    background: lightgrey !important;
}

.msgSuccess {
    width: 100%;
    background-color: #b0e0e6;
    border: 2px solid #006400;
    display: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.msgSuccessText {
    padding: 5px;
    margin: 2px;
}

.msgError {
    width: 100%;
    background-color: #F6CECE;
    border: 2px solid red;
    display: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.msgErrorText {
    padding: 5px;
    margin: 2px;
}

.all-borders tr td {
    border: 1px solid black;
}

.small-height {
    line-height: 1.5;
}

.schedule-message {
    color: grey;
    padding: 0 5px 7px;
    width: 240px;
    float: right;
}

.evenrow {
    background-color: #EBEFF3;
}

.mark-exported {
    float: right;
    margin: -90px 300px 0;
}

#noScheduleRemind {
    padding: 10px;
    background-color: aliceblue;
    margin-top: 10px;
    text-align: center;
    border: 1px solid #5f9ea0;
}