<div class="modal fade" id="myModalCheck" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="header-symbol">
                    <svg class="icon icon-tick"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-tick"></use></svg>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></span>
                </button>
                <!-- <h4 class="modal-title" id="myModalLabel">Find an Invoice</h4> -->
            </div>
            <div class="modal-body">
                <h2 class="modal-title">Check Availability</h2>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="media media-product">
                            <div class="media-left">
                                <div class="image">
                                    <a href="#">
                                        <img class="media-object" src="../assets/images/pipe.png" alt="...">
                                    </a>
                                </div>
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading"><a href="#"><dsp:valueof param="product.displayName" converter="valueishtml"/></a></h3>
                                <span>
                                Item #&nbsp;<dsp:valueof param="product.id"/>&nbsp;Part #&nbsp;<dsp:valueof param="product.vendorItem"/>&nbsp;UPC&nbsp;<dsp:valueof param="product.upc"/>&nbsp;Customer Alias 
                                <dsp:droplet name="/cps/droplet/CustomerAliasDroplet">
										<dsp:param name="product" param="product"/>
										<dsp:oparam name="outputAlias">
											<dsp:valueof param="customerAlias"/>
										</dsp:oparam>
									</dsp:droplet>
								</span>
                            </div>
                        </div>
                        <div>
                            <div class="pull-left">
                                <div class="radio checked">
                                    <label class="radio-custom" data-initialize="radio" id="myCustomRadioLabel2">
                                        <input class="sr-only" checked="checked" name="radioEx1" type="radio" value="option2"> Have it Shipped
                                    </label>
                                </div>
                                <div class="radio">
                                    <label class="radio-custom" data-initialize="radio" id="myCustomRadioLabel">
                                        <input class="sr-only" name="radioEx1" type="radio" value="option1"> Pick it Up
                                    </label>
                                </div>
                            </div>
                            <div class="pull-left">
                                <form class="form-inline form-check-availability">
                                    <div class="form-group">
                                    	<dsp:droplet name="/cps/droplet/CPSInventoryDroplet">
                                    		<dsp:param name="productId" param="product.id"/>
                                    		<dsp:oparam name="output">
                                    			<dsp:getvalueof var="quantityAvailable" param="quantityAvailable"/>
                                        <input type="text" class="form-control input-lg text-center" id="" placeholder="Qty" value="${quantityAvailable}">
                                        	</dsp:oparam>
                                        </dsp:droplet>
                                    </div>
                                    <button class="btn btn-warning btn-lg" type="button" data-toggle="collapse" data-target="#collapseCheck" aria-expanded="false" aria-controls="collapseCheck">Check Availability</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 modal-check-collapse collapse" id="collapseCheck">
                        <hr>
                        <h3>Have it Shipped</h3>
                        <p>Expected Arrival Date: <strong>Monday, April 27</strong></p>
                        <a href="#" class="btn btn-lg btn-warning">Add to Cart</a>
                        <br>
                        <p><small>Disclaimer copy</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>