// Labels

@mixin label-variant($color) {
  background-color: $color;

  &[href] {
    &:hover,
    &:focus {
      background-color: darken($color, 10%);
    }
  }

  @media print {
  	background-color: $color !important;
  	border-color: $color !important;
  	color: $body-bg !important;
  	-webkit-print-color-adjust: exact !important;
  }
}
